<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height,minimum-scale=1.0, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="libs/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <link rel="stylesheet" href="libs/fancy/jquery.fancybox.min.css" />
    <script src="libs/fancy/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="fonts/stylesheet.css" />
    <link rel="stylesheet" href="css/style.bundle.css" />
    <title><%=title%></title>

</head>
<body>

