<div class="main-area-fluid " style="margin-top: -40px">
  <div class="main-banner">
    <div class="main-area-fluid ">
      <img class="banner-img img-pc" data-lazy="img/fon.jpg" alt="">
      <img class="banner-img img-mobile" data-lazy="img/mobile-img.jpg" alt="">
      <div class="main-area">
        <div class="info-container ">

            <div class="content content-info-container">
              <div class="title">
                Онлайн-сервис подачи записок
                <br class="br1"> в храмы <br class="br2">и монастыри
              </div>
              <div class="info">
                Здесь вы можете подать записку, заказать молебен или другие
                <br>церковные требы в православных храмах и монастырях России и мира
                Здесь вы можете подать записку, заказать молебен или другие
                <br>церковные требы в православных храмах и монастырях России и мира
              </div>
              <div class="btn-area">
                <a href="/" class="btn add-note btn-rich-greenish-yellow">
                  Подать записку
                </a>
                <!--<a href="/" class="btn how-work">-->
                  <!--Как это работает-->
                <!--</a>-->
              </div>

          </div>
        </div>
      </div>
    </div>
    <div class="main-area-fluid ">
      <img class="banner-img img-pc" data-lazy="img/fon.jpg" alt="">
      <img class="banner-img img-mobile" data-lazy="img/mobile-img.jpg" alt="">
      <div class="main-area">
        <div class="info-container ">

            <div class="content content-info-container">
              <div class="title">
                Онлайн-сервис подачи записок
                <br class="br1"> в храмы <br class="br2">и монастыри
              </div>
              <div class="info">
                Здесь вы можете подать записку, заказать молебен или другие
                <br>церковные требы в православных храмах и монастырях России и мира
              </div>
              <div class="btn-area">
                <a href="/" class="btn add-note btn-rich-greenish-yellow">
                  Подать записку
                </a>
                <!--<a href="/" class="btn how-work">-->
                  <!--Как это работает-->
                <!--</a>-->
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


