<div class="left-mobile-menu-area">
  <div class="overlay"></div>
  <div class="left-mobile-menu">
    <!--выбор фильтра-->
    <div class="menu-content select-filter-type">
      <div class="menu-content-header">
        <div class="header-icon">
          <img src="img/filter-menu-icon.png" alt="Фильтр">
        </div>
        <div class="header-title">Выберите фильтр</div>
        <div class="menu-content-close">
          <img src="img/close.png" alt="Закрыть">
        </div>
      </div>
      <div class="menu-content-filter-list filter-list">
        <div class="filter-item _filter-select">
          <div class="filter-info">
            <div class="filter-link">
              <div class="filter-icon">
                <img src="img/filter-icon.png" alt="icon">
              </div>
              <div class="filter-name">
                Казанская икона Божией Матери
              </div>
            </div>
            <div class="faq">
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </div>
          </div>
        </div>
        <div class="filter-item _filter-select">
          <div class="filter-info">
            <div class="filter-link">
              <div class="filter-icon">
                <img src="img/filter-icon.png" alt="icon">
              </div>
              <div class="filter-name">
                Казанская икона Божией Матери
              </div>
            </div>
            <div class="faq">
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </div>
          </div>
        </div>
        <div class="filter-item">
          <div class="filter-info">
            <div class="filter-link">
              <div class="filter-icon">
                <img src="img/filter-icon.png" alt="icon">
              </div>
              <div class="filter-name">
                Икона Божией Матери «Помощница
                в родах»
              </div>
            </div>
            <div class="faq">
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </div>
          </div>
        </div>

      </div>
      <div class="btn-area">
        <button class="btn btn-border select-all-filter">
          выбрать все
        </button>
        <button class="btn btn-rich-greenish-yellow">применить</button>
      </div>
    </div>

    <!--Главная — Меню-мобильная-->
    <div class="menu-content menu-type">
      <div class="menu-content-header">
        <div class="header-icon">
          <img src="img/mobile-menu.png" alt="Меню">
        </div>
        <div class="header-title">МЕНЮ</div>
        <div class="menu-content-close">
          <img src="img/close.png" alt="Закрыть">
        </div>
      </div>
      <div class="menu-content-navigation">
        <!--<button class="navigation-gift btn-dark-yellow-green">-->
          <!--<img src="img/gift.svg" alt="Подарок">-->
          <!--<span class="gift-text">-->
        <!--Активировать подарочный сертификат-->
          <!--</span>-->
        <!--</button>-->
        <ul class="navigation">
          <li>
            <a href="/">Молебны</a>
          </li>
          <li>
            <a href="/">Поздравления</a>
          </li>
          <li style="margin: 0 0 42px 0">
            <a href="/">Именины</a>
          </li>
          <li>
            <a href="/">Возможности сервиса</a>
          </li>
          <li>
            <a href="/">Информация православным</a>
          </li>
          <li>
            <a href="/">Медиа</a>
          </li>
          <li>
            <a href="/">Отзывы</a>
          </li>
        </ul>
      </div>

    </div>

    <!--Главная — Меню-каталог-мобильная-->
    <div class="menu-content catalog-type">
      <div class="menu-content-header">
        <div class="header-icon">
          <img src="img/catalog-icon.png" alt="Каталог">
        </div>
        <div class="header-title">каталог</div>
        <div class="menu-content-close">
          <img src="img/close.png" alt="Закрыть">
        </div>
      </div>
      <div class="mobile-catalog">
        <div class="mobile-catalog-block">
          <div class="mobile-catalog-title">Молебны</div>
          <a href="">Отношения в семье</a>
          <a href="">Беременность</a>
          <a href="">Благополучие детей</a>
          <a href="">Личные проблемы</a>
          <a href="">Проблемы со здоровьем</a>
          <a href="">Финансовые проблемы</a>
        </div>
        <div class="mobile-catalog-block">
          <div class="mobile-catalog-title">простые записки</div>
          <a href="">В монастыри</a>
          <a href="">К праздникам</a>
          <a href="">К иконам</a>
          <a href="">К святым</a>
        </div>
        <div class="mobile-catalog-block">
          <div class="mobile-catalog-title">иное</div>
          <a href="">Празднование именин</a>
          <a href="">Поздравительные
            сертификаты</a>
        </div>
      </div>

    </div>

    <!--Именины — Фильтр-мобильная алфавит-->
    <div class="menu-content select-filter-alf-type">
      <div class="menu-content-header">
        <div class="header-icon">
          <img src="img/filter-menu-icon.png" alt="Фильтр">
        </div>
        <div class="header-title">Выберите фильтр</div>
        <div class="menu-content-close">
          <img src="img/close.png" alt="Закрыть">
        </div>
      </div>
      <div class="menu-content-alf celebration-birthday">
        <div class="choice-content">
          <div class="input-container">
            <input type="text" placeholder="введите имя">
          </div>
          <div class="choice-help">
            или воспользуйтесь фильтрами, расположенными ниже
          </div>
        </div>
        <div class="choice-content">
          <div class="switch-btn">
            <button class="btn _active btn-dark-yellow-green">
              Мужской
            </button>
            <button class="btn ">
              Женский
            </button>
          </div>
        </div>
        <div class="inputs-date">
          <div class="input-container date-m">
            <div class="input-data ">
              <div class="data">
                <span>Выберите месяц</span>
                <img class="menu-icon" src="img/banner-calendar.svg" alt="">
              </div>
              <div class="data-result">
                <div class="data-result-calendar">
                  <div class="data-result-calendar-header">
                    <div class="input-select">
                      <div class="select ">
                        <span>СЕНТЯБРЬ</span>
                        <div class="select-btn">
                          <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                        </div>
                      </div>
                      <div class="options-result">
                        <div class="options">
                          <span>СЕНТЯБРЬ</span>
                          <span>СЕНТЯБРЬ</span>
                          <span>СЕНТЯБРЬ</span>
                        </div>
                      </div>
                    </div>
                    <div class="input-select">
                      <div class="select ">
                        <span>19</span>
                        <div class="select-btn">
                          <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                        </div>
                      </div>
                      <div class="options-result">
                        <div class="options">
                          <span>20</span>
                          <span>12</span>
                          <span>22</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="data-result-calendar-grid">
                    <div class="calendar-row header-row">
                      <div class="calendar-col _day">ПН</div>
                      <div class="calendar-col _day">ВТ</div>
                      <div class="calendar-col _day">СР</div>
                      <div class="calendar-col _day">ЧТ</div>
                      <div class="calendar-col _day">ПТ</div>
                      <div class="calendar-col _day">СБ</div>
                      <div class="calendar-col _day">ВС</div>
                    </div>
                    <div class="calendar-row">
                      <div class="calendar-col">1</div>
                      <div class="calendar-col">2</div>
                      <div class="calendar-col">3</div>
                      <div class="calendar-col">4</div>
                      <div class="calendar-col">5</div>
                      <div class="calendar-col _weekends">6</div>
                      <div class="calendar-col _weekends">7</div>
                    </div>
                    <div class="calendar-row">
                      <div class="calendar-col">8</div>
                      <div class="calendar-col">9</div>
                      <div class="calendar-col">10</div>
                      <div class="calendar-col">11</div>
                      <div class="calendar-col">12</div>
                      <div class="calendar-col _weekends">13</div>
                      <div class="calendar-col _weekends">14</div>
                    </div>
                    <div class="calendar-row">
                      <div class="calendar-col">15</div>
                      <div class="calendar-col">16</div>
                      <div class="calendar-col">17</div>
                      <div class="calendar-col">18</div>
                      <div class="calendar-col">19</div>
                      <div class="calendar-col _weekends">20</div>
                      <div class="calendar-col _weekends">21</div>
                    </div>
                    <div class="calendar-row">
                      <div class="calendar-col">22</div>
                      <div class="calendar-col">23</div>
                      <div class="calendar-col">24</div>
                      <div class="calendar-col">25</div>
                      <div class="calendar-col">26</div>
                      <div class="calendar-col _weekends">27</div>
                      <div class="calendar-col _weekends">28</div>
                    </div>
                    <div class="calendar-row">
                      <div class="calendar-col">29</div>
                      <div class="calendar-col">30</div>
                      <div class="calendar-col _another-month _select-day">1</div>
                      <div class="calendar-col _another-month">2</div>
                      <div class="calendar-col _another-month">3</div>
                      <div class="calendar-col _weekends _another-month">4</div>
                      <div class="calendar-col _weekends _another-month">5</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="choice-string alphabet">
          <div class="choice-label">
            Первая буква имени:
          </div>
          <div class="alphabet-list">
            <button class="btn btn-dark-yellow-green _active">Любая</button>
            <button class="btn btn-border">А</button>
            <button class="btn btn-border">Б</button>
            <button class="btn btn-border">В</button>
            <button class="btn btn-border">Г</button>
            <button class="btn btn-border">Д</button>
            <button class="btn btn-border">Е</button>
            <button class="btn btn-border">Ё</button>
            <button class="btn btn-border">Ж</button>
            <button class="btn btn-border">З</button>
            <button class="btn btn-border">И</button>
            <button class="btn btn-border">Й</button>
            <button class="btn btn-border">К</button>
            <button class="btn btn-border">Л</button>
            <button class="btn btn-border">М</button>
            <button class="btn btn-border">Н</button>
            <button class="btn btn-border">О</button>
            <button class="btn btn-border">П</button>
            <button class="btn btn-border">Р</button>
            <button class="btn btn-border">С</button>
            <button class="btn btn-border">Т</button>
            <button class="btn btn-border">У</button>
            <button class="btn btn-border">Ф</button>
            <button class="btn btn-border">Х</button>
            <button class="btn btn-border">Ц</button>
            <button class="btn btn-border">Ч</button>
            <button class="btn btn-border">Ш</button>
            <button class="btn btn-border">Щ</button>
            <button class="btn btn-border">Э</button>
            <button class="btn btn-border">Ю</button>
            <button class="btn btn-border">Я</button>
          </div>
        </div>

      </div>
      <div class="btn-area">
        <button class="btn btn-border select-all-filter">
          выбрать все
        </button>
        <button class="btn btn-rich-greenish-yellow">применить</button>
      </div>
    </div>

<!--    Молебны — Фильтр-мобильная-->

    <div class="menu-content select-filter-note-type">
      <div class="menu-content-header">
        <div class="header-icon">
          <img src="img/filter-menu-icon.png" alt="Фильтр">
        </div>
        <div class="header-title">Выберите фильтр</div>
        <div class="menu-content-close">
          <img src="img/close.png" alt="Закрыть">
        </div>
      </div>
      <div class="menu-content-note">
        <div class="choice-content">
          <div class="switch-btn">
            <button class="btn _active btn-dark-yellow-green">
              О здравии
            </button>
            <button class="btn _rest">
              Об упокоении
            </button>
          </div>
        </div>

        <div class="choice-string  format-note">
          <div class="choice-content choice-content-note">
            <button class="choice-btn btn btn-dark-yellow-green">
              Простая записка
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="choice-btn btn btn-border">
              Сорокоуст
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="choice-btn btn btn-border">
              Молебен у иконы
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="choice-btn btn btn-border">
              Молебен у мощей
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="choice-btn btn btn-border">
              Неусыпаемая псалтырь
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="choice-btn btn btn-border">
              Проскомидия
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <a href="#" class="info-line">Чем различаются форматы записок?</a>
          </div>
        </div>
        <div class="choice-content add-features">
          <label class="checkbox">
            <input type="checkbox" class="normal-checkbox" id="u-1" name="request-access" value="private">
            <div class="label" for="u-1"></div>
            <span class="checkbox-text">Именной кирпичик</span>
          </label>
          <label class="checkbox">
            <input type="checkbox" class="normal-checkbox" id="u-2" name="request-access" value="private">
            <div class="label" for="u-2"></div>
            <span class="checkbox-text">Возможность поставить свечку</span>
          </label>
        </div>
        <div class="choice-string" style="margin: 30px 0 0 0">
          <div class="input-select h-30 input-select-choice-string" style="width: 100%">
            <div class="select ">
              <span> Развернуть список храмов</span>
              <div class="select-btn">

                <img src="img/cabinet-navigation-mobile-btn.png" alt="">
              </div>
            </div>
            <div class="options-result">
              <div class="options">
                <span>Неусыпаемая Псалтырь </span>
                <span>Празднование именин</span>
                <span>Поздравительные сертификаты</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="btn-area">
        <button class="btn btn-border select-all-filter">
          выбрать все
        </button>
        <button class="btn btn-rich-greenish-yellow">применить</button>
      </div>
    </div>
    <!--    Молебны — Фильтр-мобильная-->
    <div class="menu-content select-put-candle">
      <div class="menu-content-header">
        <div class="header-icon">
          <img src="img/filter-menu-icon.png" alt="Фильтр">
        </div>
        <div class="header-title">Выберите фильтр</div>
        <div class="menu-content-close">
          <img src="img/close.png" alt="Закрыть">
        </div>
      </div>
      <div class="menu-content-note">
        <div class="choice-string format-note">
          <div class="choice-content choice-content-note">
            <button class="mini-p btn btn-dark-yellow-green">
              В Храме
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="mini-p btn btn-border ">
              К святому
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="mini-p btn btn-border ">
              К иконе
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="mini-p btn btn-border ">
              К Празднику
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>

          </div>
        </div>
        <div class="choice-string  format-note">
          <div class="choice-content">
            <button class="mini-p btn btn-dark-yellow-green">
              О здравии
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
            <button class="mini-p btn btn-border ">
              об упокоении
              <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
            </button>
          </div>
        </div>
        <div class="choice-content add-features">
          <div class="choice-content add-features">
            <div class="switch-btn">
              <button class="btn _active btn-dark-yellow-green">
                маленькая

              </button>
              <button class="btn ">
                средняя
              </button>
              <button class="btn ">
                большая
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-area">
        <button class="btn btn-border select-all-filter">
          выбрать все
        </button>
        <button class="btn btn-rich-greenish-yellow">применить</button>
      </div>
    </div>

    <!--    Молебны —  Регистрация-->
    <div class="menu-content cabinet-type menu-content-sign-in">
      <div class="menu-content-header">
        <div class="header-icon">
          <img src="img/cabinet-ccc.svg" alt="Кабинет">
        </div>
        <div class="header-title">МОЙ КАБИНЕТ</div>
        <div class="menu-content-close">
          <img src="img/close.png" alt="Закрыть">
        </div>
      </div>
      <div class="form-area">
        <form>
          <div class="input-container form-email error-input">
            <input type="text" placeholder="E-mail">
            <div class="error">Ошибка</div>
          </div>
          <div class="input-container">
            <input type="text" placeholder="пароль">
          </div>
          <div class="input-container">
            <input type="text" placeholder="пароль еще раз">
          </div>
          <div class="btn-area">
            <button class="btn-rich-greenish-yellow">
              зарегистрироваться
            </button>
          </div>
        </form>
        <!--<div class="methods-enter-area">-->
          <!--<div class="methods-enter">-->
            <!--<div class="text">Зарегистрироваться с помощью учетной записи других сервисов</div>-->
            <!--<div class="methods-list">-->
              <!--<a href="/">-->
                <!--<img src="img/enter-el.png" alt="Елицы">-->
              <!--</a>-->
              <!--<a href="/">-->
                <!--<img src="img/enter-ok.png" alt="Одноклассники">-->
              <!--</a>-->
              <!--<a href="/">-->
                <!--<img src="img/enter-vk.png" alt="Вконтакте">-->
              <!--</a>-->
              <!--<a href="/">-->
                <!--<img src="img/enter-fb.png" alt="Фейсбук">-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>

        <!--Молебны —  Вход-->
    <div class="menu-content cabinet-type menu-content-login">
      <div class="menu-content-header">
        <div class="header-icon">
          <img src="img/cabinet-ccc.svg" alt="Кабинет">
        </div>
        <div class="header-title">МОЙ КАБИНЕТ</div>
        <div class="menu-content-close">
          <img src="img/close.png" alt="Закрыть">
        </div>
      </div>
      <div class="form-area">
        <form>
          <div class="input-container">
            <input type="text" placeholder="пароль">
          </div>
          <div class="input-container">
            <input type="text" placeholder="пароль еще раз">
          </div>
          <div class="btn-area btn-area_drop_window" style="margin: 10px 0 22px">
            <button class="btn-rich-greenish-yellow">
              войти
            </button>
          </div>
          <a href="/" class="forgot-password">Забыли пароль?</a>
        </form>
        <div class="btn-area btn-area_sign-up">
          <div class="btn btn-border">Зарегистрироваться</div>
        </div>
        <!--<div class="methods-enter-area">-->
          <!--<div class="methods-enter">-->
            <!--<div class="methods-list">-->
              <!--<a href="/">-->
                <!--<img src="img/enter-el.png" alt="Елицы">-->
              <!--</a>-->
              <!--<a href="/">-->
                <!--<img src="img/enter-ok.png" alt="Одноклассники">-->
              <!--</a>-->
              <!--<a href="/">-->
                <!--<img src="img/enter-vk.png" alt="Вконтакте">-->
              <!--</a>-->
              <!--<a href="/">-->
                <!--<img src="img/enter-fb.png" alt="Фейсбук">-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>

  </div>
</div>
