<div class="main-area-fluid mt">
  <div class="main-area main-content">
    <div class="about-project">
      <img class="about-img" src="img/about-project-img.png" alt="">
      <div class="about-title">
        О проекте
      </div>
      <div class="about-text">
        <p>
          Соцсеть "Елицы" создала собственный надежный проект "Елицы.Записки",
          который позволяет с компьютера или смартфона подать онлайн записки
          о здравии или упокоении своих близких, заказать молебен, сорокоуст,
          попросить о помощи и заступничестве почитаемых святых во многих
          храмах и монастырях земли Русской, Святой горы Афон, в Иерусалиме,
          Италии, Киево-Печерской Лавре.
        </p>
        <br><p>
          Сила молитвы во время церковной службы, да ещё и в нескольких храмах
          и монастырях одновременно, где будут читаться ваши записки и требы,
          велика. Исполнение ваших треб в нескольких местах одновременно
          во много раз усилит вашу личную молитву. Понятно, что изначально должна
          иметь место ваша личная (келейная или домашняя) молитва, её заменить
          невозможно. Требы только усиливают личную молитву. А если личной
          молитвы нет, то и усиливать нечего.
        </p>
        <br><p>
          Идея воплощения проекта "Елицы.Записки" родилась благодаря
          пользователям нашей православной соцсети "Елицы". А благодаря нашим
          многочисленным добрыми отношениями, в т. ч. с зарубежными храмами
          и монастырями, – это оказалось нам под силу. Все понимают, что многие
          люди не имеют возможности отправиться в поломничество к удаленным
          дотопочитаемым святым местам, посетить церковную службу по причине
          нездоровья, некоторые не идут в храм потому, что не понимают смысла,
          и от этого, к сожалению, сторонятся богослужений.
        </p>
      </div>
      <div class="bottom-img">
        <img class="about-img-2" src="img/about-project-img-2.png" alt="">
      </div>
    </div>
  </div>
</div>
