<div class="main-area-fluid">
  <div class="main-area main-content">
    <footer>
      <div class="footer-links">
        <div class="footer-links-block ">
          <img src="img/logo.png" class="footer-logo" alt="Елицы">
          <span>Проект православной соц.сети «Елицы»</span>
        </div>
        <div class="footer-links-block navigate-link">
          <a href="/">
            О проекте
          </a>
          <a href="/">
            Вопросы и ответы
          </a>
        </div>
        <div class="footer-links-block navigate-link">
          <a href="/">
            Отзывы
          </a>
          <a href="/">
            СМИ о нас
          </a>
        </div>
        <div class="footer-links-block navigate-link">
          <a href="/">
            Как это работает?
          </a>
          <a href="/">
            Какие бывают записки
          </a>
        </div>
        <div class="footer-links-block navigate-link">
          <a href="/">
            Блог
          </a>
          <a href="/">
            Соц.сеть «Елицы»
          </a>
        </div>
        <div class="footer-links-block footer-share">
          <span>Подпишитесь на соц.сети</span>
          <div class="share-news-social">
            <a href="#">
              <img src="img/share-e.png" alt="Елицы">
            </a>
            <a href="#">
              <img src="img/share-ok.png" alt="Одноклассники">
            </a>
            <a href="#">
              <img src="img/share-vk.png" alt="Вконтакте">
            </a>
            <a href="#">
              <img src="img/share-fb.png" alt="Фейсбук">
            </a>
          </div>
        </div>
      </div>
      <div class="footer-description">
        <div class="desc">
          Осуществляя заказ треб через наш сервис, Вы также поддерживаете деятельность
          <a href="#" target="_blank">
            православной сети «Елицы.рф»
            и благотворительные проекты Фонда сохранения духовного наследия «Елицы».
          </a>
          Любое копирование дизайна или другой информации, расположенной на сайте https://zapiski.elitsy.ru,
          запрещены и несут за собой ответственность
          в соответствии с законодательством РФ.
        </div>
        <div class="footer-links-block footer-share mobile-share">
          <span>Подпишитесь на соц.сети</span>
          <div class="share-news-social">
            <a href="#">
              <img src="img/share-e.png" alt="Елицы">
            </a>
            <a href="#">
              <img src="img/share-ok.png" alt="Одноклассники">
            </a>
            <a href="#">
              <img src="img/share-vk.png" alt="Вконтакте">
            </a>
            <a href="#">
              <img src="img/share-fb.png" alt="Фейсбук">
            </a>
          </div>
        </div>
        <div class="footer-copyright">
          © 2013-2020 Елицы, все права защищены
          <br>Политика конфиденциальности
        </div>
      </div>
    </footer>
  </div>
</div>

