<div class="accordion-menu-content celebration-birthday">
  <div class="accordion-menu-content-title">
    Празднование именин
  </div>
  <div class="content-filter-block banner">
    <div class="banner-text">
      <span class="text-bold">
        С помощью нашего сервиса вы можете узнать, когда именины ваших друзей
и родных и поставить напоминание задолго до события
      </span>
      <span>
        В честь именин будет поставлена свечка и прочитан молебен к ангелу ханителю
      </span>
    </div>
    <img src="img/banner-calendar.svg" alt="Pic">
  </div>
  <div class="content-filter-block name-area _open">
    <div class="content-header">
      <div class="title">
        выберите подходящий фильтр:
      </div>
    </div>
    <div class="choice-string-list ">
      <div class="choice-string">
        <div class="choice-label find-name">
          Поиск по Имени:
        </div>
        <div class="choice-content">
          <div class="input-container">
            <input type="text" placeholder="введите имя">
          </div>
          <div class="choice-help">
            или воспользуйтесь фильтрами, расположенными ниже
          </div>
        </div>
      </div>
      <div class="choice-string">
        <div class="choice-label">
          Пол:
        </div>
        <div class="choice-content">
          <div class="switch-btn">
            <button class="btn _active btn-dark-yellow-green">
              Мужской
            </button>
            <button class="btn ">
              Женский
            </button>
          </div>
        </div>
      </div>
      <div class="choice-string ">
        <div class="choice-label">
          Месяц:
        </div>
        <div class="input-data">
          <div class="data">
            <span>Выберите месяц</span>
            <img class="menu-icon" src="img/banner-calendar.svg" alt="">
          </div>
          <div class="data-result">
            <div class="data-result-calendar">
              <div class="data-result-calendar-header">
                <div class="input-select">
                  <div class="select ">
                    <span>СЕНТЯБРЬ</span>
                    <div class="select-btn">
                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>СЕНТЯБРЬ</span>
                      <span>СЕНТЯБРЬ</span>
                      <span>СЕНТЯБРЬ</span>
                    </div>
                  </div>
                </div>
                <div class="input-select">
                  <div class="select ">
                    <span>19</span>
                    <div class="select-btn">
                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>20</span>
                      <span>12</span>
                      <span>22</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="data-result-calendar-grid">
                <div class="calendar-row header-row">
                  <div class="calendar-col _day">ПН</div>
                  <div class="calendar-col _day">ВТ</div>
                  <div class="calendar-col _day">СР</div>
                  <div class="calendar-col _day">ЧТ</div>
                  <div class="calendar-col _day">ПТ</div>
                  <div class="calendar-col _day">СБ</div>
                  <div class="calendar-col _day">ВС</div>
                </div>
                <div class="calendar-row">
                  <div class="calendar-col">1</div>
                  <div class="calendar-col">2</div>
                  <div class="calendar-col">3</div>
                  <div class="calendar-col">4</div>
                  <div class="calendar-col">5</div>
                  <div class="calendar-col _weekends">6</div>
                  <div class="calendar-col _weekends">7</div>
                </div>
                <div class="calendar-row">
                  <div class="calendar-col">8</div>
                  <div class="calendar-col">9</div>
                  <div class="calendar-col">10</div>
                  <div class="calendar-col">11</div>
                  <div class="calendar-col">12</div>
                  <div class="calendar-col _weekends">13</div>
                  <div class="calendar-col _weekends">14</div>
                </div>
                <div class="calendar-row">
                  <div class="calendar-col">15</div>
                  <div class="calendar-col">16</div>
                  <div class="calendar-col">17</div>
                  <div class="calendar-col">18</div>
                  <div class="calendar-col">19</div>
                  <div class="calendar-col _weekends">20</div>
                  <div class="calendar-col _weekends">21</div>
                </div>
                <div class="calendar-row">
                  <div class="calendar-col">22</div>
                  <div class="calendar-col">23</div>
                  <div class="calendar-col">24</div>
                  <div class="calendar-col">25</div>
                  <div class="calendar-col">26</div>
                  <div class="calendar-col _weekends">27</div>
                  <div class="calendar-col _weekends">28</div>
                </div>
                <div class="calendar-row">
                  <div class="calendar-col">29</div>
                  <div class="calendar-col">30</div>
                  <div class="calendar-col _another-month _select-day">1</div>
                  <div class="calendar-col _another-month">2</div>
                  <div class="calendar-col _another-month">3</div>
                  <div class="calendar-col _weekends _another-month">4</div>
                  <div class="calendar-col _weekends _another-month">5</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="choice-string choice-day">
          <div class="choice-label">
            День:
          </div>
          <div class="input-data">
            <div class="data">
              <span>Выберите день</span>
              <img class="menu-icon" src="img/banner-calendar.svg" alt="">
            </div>
            <div class="data-result">
              <div class="data-result-calendar">
                <div class="data-result-calendar-header">
                  <div class="input-select">
                    <div class="select ">
                      <span>СЕНТЯБРЬ</span>
                      <div class="select-btn">
                        <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                      </div>
                    </div>
                    <div class="options-result">
                      <div class="options">
                        <span>СЕНТЯБРЬ</span>
                        <span>СЕНТЯБРЬ</span>
                        <span>СЕНТЯБРЬ</span>
                      </div>
                    </div>
                  </div>
                  <div class="input-select">
                    <div class="select ">
                      <span>19</span>
                      <div class="select-btn">
                        <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                      </div>
                    </div>
                    <div class="options-result">
                      <div class="options">
                        <span>20</span>
                        <span>12</span>
                        <span>22</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="data-result-calendar-grid">
                  <div class="calendar-row header-row">
                    <div class="calendar-col _day">ПН</div>
                    <div class="calendar-col _day">ВТ</div>
                    <div class="calendar-col _day">СР</div>
                    <div class="calendar-col _day">ЧТ</div>
                    <div class="calendar-col _day">ПТ</div>
                    <div class="calendar-col _day">СБ</div>
                    <div class="calendar-col _day">ВС</div>
                  </div>
                  <div class="calendar-row">
                    <div class="calendar-col">1</div>
                    <div class="calendar-col">2</div>
                    <div class="calendar-col">3</div>
                    <div class="calendar-col">4</div>
                    <div class="calendar-col">5</div>
                    <div class="calendar-col _weekends">6</div>
                    <div class="calendar-col _weekends">7</div>
                  </div>
                  <div class="calendar-row">
                    <div class="calendar-col">8</div>
                    <div class="calendar-col">9</div>
                    <div class="calendar-col">10</div>
                    <div class="calendar-col">11</div>
                    <div class="calendar-col">12</div>
                    <div class="calendar-col _weekends">13</div>
                    <div class="calendar-col _weekends">14</div>
                  </div>
                  <div class="calendar-row">
                    <div class="calendar-col">15</div>
                    <div class="calendar-col">16</div>
                    <div class="calendar-col">17</div>
                    <div class="calendar-col">18</div>
                    <div class="calendar-col">19</div>
                    <div class="calendar-col _weekends">20</div>
                    <div class="calendar-col _weekends">21</div>
                  </div>
                  <div class="calendar-row">
                    <div class="calendar-col">22</div>
                    <div class="calendar-col">23</div>
                    <div class="calendar-col">24</div>
                    <div class="calendar-col">25</div>
                    <div class="calendar-col">26</div>
                    <div class="calendar-col _weekends">27</div>
                    <div class="calendar-col _weekends">28</div>
                  </div>
                  <div class="calendar-row">
                    <div class="calendar-col">29</div>
                    <div class="calendar-col">30</div>
                    <div class="calendar-col _another-month _select-day">1</div>
                    <div class="calendar-col _another-month">2</div>
                    <div class="calendar-col _another-month">3</div>
                    <div class="calendar-col _weekends _another-month">4</div>
                    <div class="calendar-col _weekends _another-month">5</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="choice-string alphabet">
        <div class="choice-label">
          Первая буква <br>имени:
        </div>
        <div class="alphabet-list">
          <button class="btn btn-dark-yellow-green _active">Любая</button>
          <button class="btn btn-border">А</button>
          <button class="btn btn-border">Б</button>
          <button class="btn btn-border">В</button>
          <button class="btn btn-border">Г</button>
          <button class="btn btn-border">Д</button>
          <button class="btn btn-border">Е</button>
          <button class="btn btn-border">Ё</button>
          <button class="btn btn-border">Ж</button>
          <button class="btn btn-border">З</button>
          <button class="btn btn-border">И</button>
          <button class="btn btn-border">Й</button>
          <button class="btn btn-border">К</button>
          <button class="btn btn-border">Л</button>
          <button class="btn btn-border">М</button>
          <button class="btn btn-border">Н</button>
          <button class="btn btn-border">О</button>
          <button class="btn btn-border">П</button>
          <button class="btn btn-border">Р</button>
          <button class="btn btn-border">С</button>
          <button class="btn btn-border">Т</button>
          <button class="btn btn-border">У</button>
          <button class="btn btn-border">Ф</button>
          <button class="btn btn-border">Х</button>
          <button class="btn btn-border">Ц</button>
          <button class="btn btn-border">Ч</button>
          <button class="btn btn-border">Ш</button>
          <button class="btn btn-border">Щ</button>
          <button class="btn btn-border">Э</button>
          <button class="btn btn-border">Ю</button>
          <button class="btn btn-border">Я</button>
        </div>
      </div>
    </div>

  </div>
</div>

