<div class="accordion-menu-content">
  <div class="accordion-menu-content-title">
    Записки в монастыри
  </div>
  <div class="content-filter-block note-switch-area _open">
    <div class="content-header">
      <div class="title">
        выберите подходящий фильтр:
      </div>
    </div>
    <div class="choice-string-list">
      <div class="choice-string">
        <div class="choice-label">
          Тип записки:
        </div>
        <div class="choice-content">
          <div class="switch-btn">
            <button class="btn _active btn-dark-yellow-green">
              О здравии
            </button>
            <button class="btn ">
              Об упокоении
            </button>
          </div>
        </div>
      </div>
      <div class="choice-string  format-note">
        <div class="choice-label">
          Формат записки:
        </div>
        <div class="choice-content choice-content-note">
          <button class="choice-btn btn btn-dark-yellow-green">
            Простая записка
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </button>
          <button class="choice-btn btn btn-border">
            Сорокоуст
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </button>
          <button class="choice-btn btn btn-border">
            Молебен у иконы
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </button>
          <button class="choice-btn btn btn-border">
            Молебен у мощей
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </button>
          <button class="choice-btn btn btn-border">
            Неусыпаемая псалтырь
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </button>
          <button class="choice-btn btn btn-border">
            Проскомидия
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </button>
          <a href="#" class="info-line">Чем различаются форматы записок?</a>
        </div>
      </div>
      <div class="choice-string">
        <div class="choice-label">
          Доп. возможности:
        </div>
        <div class="choice-content add-features">
          <label class="checkbox">
            <input type="checkbox"
                   class="normal-checkbox"
                   id="u-1" name="request-access" value="private">
            <div class="label" for="u-1"> </div>
            <span class="checkbox-text">Именной кирпичик</span>
          </label>
          <label class="checkbox">
            <input type="checkbox"
                   class="normal-checkbox"
                   id="u-2" name="request-access" value="private">
            <div class="label" for="u-2"> </div>
            <span class="checkbox-text">Возможность поставить свечку</span>
          </label>
        </div>

      </div>
      <div class="choice-string">
        <div class="choice-label">
          Доступные храмы:
        </div>
        <div class="input-select h-30 input-select-choice-string">
          <div class="select ">
            <span> Развернуть список храмов</span>
            <div class="select-btn">

              <img src="img/cabinet-navigation-mobile-btn.png" alt="">
            </div>
          </div>
          <div class="options-result">
            <div class="options">
              <span>Неусыпаемая Псалтырь </span>
              <span>Празднование именин</span>
              <span>Поздравительные сертификаты</span>
            </div>
          </div>
        </div>

<!--        <div class="catalog-filter-block">-->
<!--          <div class="catalog-filter-btn filter-select  btn-border">-->
<!--            Развернуть список храмов-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>

  </div>

</div>
<!--<script>-->
<!--  function run(appElement) {-->
<!--    const $ = (selector, parent = appElement) => parent.querySelector(selector);-->
<!--    const $$ = (selector, parent = appElement) => parent.querySelectorAll(selector);-->

<!--    const switchBtn = $$(".switch-btn button");-->

<!--    console.log(switchBtn);-->

<!--  }-->

<!--  run(document.querySelector(".accordion-menu-content"));-->
<!--</script>-->
