<div class="prayer-area">
  <div class="accordion-menu-content">
    <div class="accordion-menu-content-title">
      Молебны о зачатие ребенка
    </div>
    <div class="prayer-slider-area">
      <div class="prayer-slider-header">
        <div class="prayer-slider-title">
          Святые к которым обращаются с молебном:
        </div>
        <div class="place-select-all-filter-desk">
          <button class="btn btn-rich-greenish-yellow select-all-filter">
            выбрать все
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="filter-list filter-slider">

  <div class="filter-list-col">
    <div class="filter-item">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
    <div class="filter-item _filter-select">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
    <div class="filter-item ">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
    <div class="filter-item ">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="filter-list-col">
    <div class="filter-item ">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
    <div class="filter-item ">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
    <div class="filter-item ">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="filter-list-col">
    <div class="filter-item ">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
    <div class="filter-item ">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
    <div class="filter-item ">
      <div class="filter-info">
        <div class="filter-link">
          <div class="filter-icon">
            <img src="img/filter-icon.png" alt="icon">
          </div>
          <div class="filter-name">
            Храм 1
          </div>
        </div>
        <div class="faq">
          <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
<div class="place-select-all-filter-mob"></div>

