<div class="accordion-menu-content">
  <div class="accordion-menu-content-title">
    Молебны о зачатие ребенка
  </div>
  <div class="content-filter-block prayer-area _open">
    <div class="content-header">
      <div class="title">
        выберите подходящий фильтр:
      </div>
      <button class="btn btn-rich-greenish-yellow select-all-filter">
        выбрать все
      </button>
    </div>
    <div class="filter-list">
      <div class="filter-item">
        <div class="filter-info">
          <div class="filter-link">
            <div class="filter-icon">
              <img src="img/filter-icon.png" alt="icon">
            </div>
            <div class="filter-name">
              Господу и Богу нашему
            </div>
          </div>
          <div class="faq">
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </div>
        </div>
      </div>

      <div class="filter-item ">
        <div class="filter-info">
          <div class="filter-link">
            <div class="filter-icon">
              <img src="img/filter-icon.png" alt="icon">
            </div>
            <div class="filter-name">
              Казанская икона Божией Матери
            </div>
          </div>
          <div class="faq">
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </div>
        </div>
      </div>

      <div class="filter-item ">
        <div class="filter-info">
          <div class="filter-link">
            <div class="filter-icon">
              <img src="img/filter-icon.png" alt="icon">
            </div>
            <div class="filter-name">
              Икона Божией Матери
            </div>
          </div>
          <div class="faq">
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </div>
        </div>
      </div>
      <div class="filter-item ">
        <div class="filter-info">
          <div class="filter-link">
            <div class="filter-icon">
              <img src="img/filter-icon.png" alt="icon">
            </div>
            <div class="filter-name">
              Икона Божией Матери «Помощница в родах»
            </div>
          </div>
          <div class="faq">
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </div>
        </div>
      </div>

      <div class="filter-item ">
        <div class="filter-info">
          <div class="filter-link">
            <div class="filter-icon">
              <img src="img/filter-icon.png" alt="icon">
            </div>
            <div class="filter-name">
              Икона Божией Матери «Касперовская»
            </div>
          </div>
          <div class="faq">
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </div>
        </div>
      </div>


      <div class="filter-item ">
        <div class="filter-info">
          <div class="filter-link">
            <div class="filter-icon">
              <img src="img/filter-icon.png" alt="icon">
            </div>
            <div class="filter-name">
              Иверская икона Божией Матери
            </div>
          </div>
          <div class="faq">
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </div>
        </div>
      </div>

      <div class="filter-item ">
        <div class="filter-info">
          <div class="filter-link">
            <div class="filter-icon">
              <img src="img/filter-icon.png" alt="icon">
            </div>
            <div class="filter-name">
              Икона Божией Матери «Касперовская»
            </div>
          </div>
          <div class="faq">
            <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>

</script>
