<div class="catalog-filter-block">

  <div class="input-select h-30 catalog-filter">
    <div class="select ">
      <span>сначала популярные</span>
      <div class="select-btn">

        <img src="img/cabinet-navigation-mobile-btn.png" alt="">
      </div>
    </div>
    <div class="options-result">
      <div class="options">
        <span>Неусыпаемая Псалтырь </span>
        <span>Празднование именин</span>
        <span>Поздравительные сертификаты</span>
      </div>
    </div>
  </div>

  <button class="btn   btn-border pc-catalog-filter-btn">
    Свернуть фильтр
  </button>
  <button class="btn  btn-border mobile-catalog-filter-btn">
    фильтр
    <span class="filter-count">5</span>
  </button>
</div>
