<div class="main-area-fluid">
  <div class="main-area">
    <div class="holy-block category-holy">
      <div class="holy-block-header">
        <img src="img/holy-block-2.png" alt="">
        <div class="holy-block-up-block">
          <div class="title-block">
            <div class="title">Сретенский женский монастырь</div>
            <div class="sub-title">Россия, Республика Бурятия, Прибайкальский район, село Батурино</div>
          </div>
          <a href="#" class="btn btn-border">
            подробнее о монастыре
          </a>
        </div>
      </div>
      <div class="category-holy-data">
        <div class="category-holy-data-day">4 января</div>
        <div class="category-holy-data-day">18 февраля — Сбор всех святых</div>
        <a href="#" class="btn btn-border">
          подробнее о монастыре
        </a>
      </div>
    </div>
    <div class="holy-tags">
      <div class="list">
        <div class="tag">
          <div class="tag-content">
            <div class="tag-icon">
              <img src="img/icon-tag.png" alt="">
            </div>
            <div class="title">Здоровье</div>
          </div>
        </div>
        <div class="tag">
          <div class="tag-content">
            <div class="tag-icon">
              <img src="img/icon-tag.png" alt="">
            </div>
            <div class="title">Семья</div>
          </div>

        </div>
        <div class="tag">
          <div class="tag-content">
            <div class="tag-icon">
              <img src="img/icon-tag.png" alt="">
            </div>
            <div class="title">Дети</div>
          </div>

        </div>
        <div class="tag">
          <div class="tag-content">
            <div class="tag-icon">
              <img src="img/icon-tag.png" alt="">
            </div>
            <div class="title">Житейские нужды</div>
          </div>
        </div>
      </div>
      <div class="btn-area center">
        <button class="btn btn-border">СМОТРЕТЬ ВСЕ ТРЕБЫ</button>
      </div>
    </div>
    <div class="category-holy-data-mob">
      <div class="holy-info-data">
        <p class="holy-info-data-title">Дни памяти:</p>
        <p class="holy-info-data-day">4 января</p>
        <p class="holy-info">18 февраля — Сбор всех святых</p>
      </div>
      <a href="/" class="holy-info-more">
        О чем просить у иконы
      </a>
    </div>
  </div>
</div>
