<div class="main-area-fluid  gray-bg">
  <div class="main-area main-content">
    <div class="description-service">
      <div class="description-info">
        <div class="description-info-title">
          Информация по заказам и оплате
        </div>
        <div class="description-info-text">
          Сила молитвы во время церковной службы, да ещё
          и в нескольких храмах и монастырях одновременно, где будут читаться ваши записки и требы, велика.
        </div>
        <div class="btn-area">
          <button class="btn btn-border">
            Узнать подробнее
          </button>
        </div>
        <img class="desc-img" src="img/description-img-1.png" alt="">
      </div>
      <div class="description-info">
        <div class="description-info-title">
          Как работает сервис
        </div>
        <div class="description-info-text">
          Сила молитвы во время церковной службы, да ещё
          и в нескольких храмах и монастырях одновременно, где будут читаться ваши записки и требы, велика.
        </div>
        <div class="btn-area">
          <button class="btn btn-border">
            Узнать подробнее
          </button>
        </div>
        <img class="desc-img" src="img/description-img-2.png" alt="">
      </div>
    </div>
  </div>
</div>
