<div class="list-cards no-slider">
  <div class="card">
    <button class="card-favorite _active">
      <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
    </button>
    <div class="header-img">
      <img src="img/slider-img-1.png" alt="">
    </div>
    <div class="card-info">
      <div class="card-name">
        простая записка
        о здравии
      </div>
      <div class="card-description">
        в Храм Гроба Господня
        в Иерусалиме
      </div>
    </div>
    <div class="btn-area center">
      <button class="btn btn-rich-greenish-yellow">
        Заполнить имена
      </button>
    </div>
  </div>
  <div class="card">
    <button class="card-favorite _active">
      <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
    </button>
    <div class="header-img">
      <img src="img/slider-img-1.png" alt="">
    </div>
    <div class="card-info">
      <div class="card-name">
        простая записка
        о здравии
      </div>
      <div class="card-description">
        в Храм Гроба Господня
        в Иерусалиме
      </div>
    </div>
    <div class="btn-area center">
      <button class="btn btn-rich-greenish-yellow">
        Заполнить имена
      </button>
    </div>
  </div>
  <div class="card">
    <button class="card-favorite _active">
      <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
    </button>
    <div class="header-img">
      <img src="img/slider-img-1.png" alt="">
    </div>
    <div class="card-info">
      <div class="card-name">
        простая записка
        о здравии
      </div>
      <div class="card-description">
        в Храм Гроба Господня
        в Иерусалиме
      </div>
    </div>
    <div class="btn-area center">
      <button class="btn btn-rich-greenish-yellow">
        Заполнить имена
      </button>
    </div>
  </div>
</div>
