<div class="main-area-fluid white-bg">
  <div class="main-area">
    <div class="about-monastery">
      <div class="title-block">
        <div class="title">
          О монастыре
        </div>
      </div>
      <div class="monastery-area">
        <div class="title-block">
          <div class="monastery-title">Сретенский женский монастырь</div>
          <button class="btn btn-border btn-fav-monastery">
            добавить храм в избранное
          </button>
        </div>
        <div class="monastery-description">
          <p>Монастырь в прибайкальском Батурино появился лишь в 2000 году. А вот церковь села
            ведет свою историю с начала XVIII века. Храм находился в местах проживания малых
            народов Сибири, старообрядцев и ссыльных людей, потому нес функцию миссионерского центра. Сретенская церковь была перестроена из деревянной в каменную к 1836 году.
            Примерно в то же время при приходе священники Иоанн и Василий открыли первую
            в Прибайкалье народную школу для местного населения. </p>
          <br>
          <p>
            Деревенский храм стал полноценным социокультурным центром.К сожалению,
            с приходом к власти большевиков храм был закрыт, а все постройки рядом с ним
            снесены. Само здание церкви не пострадало, поскольку сельсовет принял решение
            разместить в храме клуб.
          </p>
        </div>
        <div class="monastery-photos-list monastery-photo-slick">
          <a  href="img/photo.jpg" data-fancybox="gallery" class="monastery-photo">
            <img src="img/photo.jpg"  alt="">
          </a>
          <a  href="img/photo.jpg" data-fancybox="gallery" class="monastery-photo">
            <img src="img/photo.jpg" alt="">
          </a>
          <a href="img/photo.jpg"  data-fancybox="gallery" class="monastery-photo">
            <img src="img/photo.jpg" alt="">
          </a>
          <a href="/" class="monastery-photo all-monastery-photo">
            <img src="img/photo.jpg" alt="">
            <p href="/" class="text">
              еще 12 фото
              <br>в фотоальбоме
            </p>
          </a>
        </div>
        <div class="monastery-description">
          <p>Восстановление началось только в 1999 году. При приходе образовалась женская
            монашеская община. По благословению Читинского епископа Евстафия в Батурино
            на базе храма был открыт монастырь. В Бурятии Сретенская обитель является первой
            и единственной среди женских монастырей. Постепенно храмовая территория была
            застроена гостиницей, кельями монахинь и хозяйственными постройками. </p>
          <br>
          <p>
            Монастырь расположился в 100 километрах от озера Байкал в долине Итанца.
            При обители проживают 12 насельниц. Ежедневно они возносят молитвы в Сретенском женском монастыре Батурино о мире всего мире и просьбами о помиловании Господом
            всех людей. В храме обители хранятся такие святыни как частица Креста, на котором
            был распят Спаситель, фрагменты мощей Спиридона Тримифунтского...
          </p>
        </div>
        <div class="monastery-location">
          <img src="img/location.jpg" alt="">
        </div>
        <div class="monastery-slider slider-area">
          <div class="title">
            Мы рекомендуем
          </div>
          <div class="list-cards recommend-slider">
            <div class="card">
              <button class="card-favorite">
                <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="header-img">
                <img src="img/card-holiday.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-name">
                  молитва с прошением
                  о зачатии ребенка
                </div>
                <div class="card-description">
                  к Господу и Богу нашему
                </div>
              </div>
              <div class="btn-area center">
                <button class="btn btn-rich-greenish-yellow">
                  Заполнить имена
                </button>
              </div>
            </div>
            <div class="card">
              <button class="card-favorite">
                <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="header-img">
                <img src="img/card-holiday.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-name">
                  молитва с прошением
                  о зачатии ребенка
                </div>
                <div class="card-description">
                  к Господу и Богу нашему
                </div>
              </div>
              <div class="btn-area center">
                <button class="btn btn-rich-greenish-yellow">
                  Заполнить имена
                </button>
              </div>
            </div>
            <div class="card">
              <button class="card-favorite">
                <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="header-img">
                <img src="img/card-holiday.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-name">
                  молитва с прошением
                  о зачатии ребенка
                </div>
                <div class="card-description">
                  к Господу и Богу нашему
                </div>
              </div>
              <div class="btn-area center">
                <button class="btn btn-rich-greenish-yellow">
                  Заполнить имена
                </button>
              </div>
            </div>
            <div class="card">
              <button class="card-favorite">
                <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="header-img">
                <img src="img/card-holiday.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-name">
                  молитва с прошением
                  о зачатии ребенка
                </div>
                <div class="card-description">
                  к Господу и Богу нашему
                </div>
              </div>
              <div class="btn-area center">
                <button class="btn btn-rich-greenish-yellow">
                  Заполнить имена
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

