<div class="main-area-fluid">
  <div class="main-area">
    <div class="content holiday-landing">
      <div class="title-block">
        <div class="title">Подайте записку на ближайшие
          <br>церковные праздники
        </div>
        <a href="#" class="btn-all-holiday btn-dark-yellow-green">Посмотреть все праздники</a>
      </div>

      <div class="card-list-holiday holiday-slides">
        <div class="card-holiday _big">
          <div class="card-holiday-date">22 мая</div>
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
        <div class="card-holiday">
          <div class="card-holiday-date">22 мая</div>
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
        <div class="card-holiday">
          <div class="card-holiday-date">23 мая</div>
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
      </div>
      <div class="card-list-holiday holiday-slides recommend-slider">
        <div class="card-holiday">
          <div class="card-holiday-date">22 мая</div>
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
        <div class="card-holiday">
          <div class="card-holiday-date">22 мая</div>
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
        <div class="card-holiday">
          <div class="card-holiday-date">23 мая</div>
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
        <div class="card-holiday">
          <div class="card-holiday-date">23 мая</div>
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
      </div>
      <div class="btn-area center mob-btn-all-holiday">
        <a href="/" class="btn-all-holiday btn-dark-yellow-green">
          Посмотреть все праздники
        </a>
      </div>
    </div>
  </div>
</div>
