<div class="left-content">
  <div class="left-menu-sticky">
    <ul class="left-accordion-menu">
      <div class="left-accordion-menu-block">
        <div class="accordion-menu-title">Молебны</div>
        <li class="accordion-menu-area-links">
          <div class="accordion-menu-link">Отношения в семье <img src="img/arrow.svg" alt=""></div>
          <ul class="accordion-menu-submenu">
            <!--        <li><a href="#">Отношения в семье</a></li>-->
            <!--        <li><a href="#">Отношения в семье</a></li>-->
            <!--        <li><a href="#">Отношения в семье</a></li>-->
          </ul>
        </li>
        <li class="accordion-menu-area-links">
          <div class="accordion-menu-link">Беременность <img src="img/arrow.svg" alt=""></div>
          <ul class="accordion-menu-submenu">
            <li><a href="#">Благополучные роды</a></li>
            <li><a href="#">Грех аборта</a></li>
            <li><a href="#">Зачатие ребенка</a></li>
            <li><a href="#">Здоровая беременность</a></li>
          </ul>
        </li>
        <li class="accordion-menu-area-links">
          <div class="accordion-menu-link">Благополучие детей<img src="img/arrow.svg" alt=""></div>
        </li>
        <li class="accordion-menu-area-links">
          <div class="accordion-menu-link">Личные проблемы<img src="img/arrow.svg" alt=""></div>
        </li>
        <li class="accordion-menu-area-links">
          <div class="accordion-menu-link">Проблемы со здоровьем<img src="img/arrow.svg" alt=""></div>
        </li>
        <li class="accordion-menu-area-links">
          <div class="accordion-menu-link">Финансовые проблемы<img src="img/arrow.svg" alt=""></div>
        </li>
      </div>
      <div class="left-accordion-menu-block">
        <div class="accordion-menu-title">Простые записки</div>
        <li class="accordion-menu-area-links">
          <a href="#" class="accordion-menu-link">В монастыри</a>
          <a href="#" class="accordion-menu-link">К праздникам</a>
          <a href="#" class="accordion-menu-link">К иконам</a>
          <a href="#" class="accordion-menu-link">К святым</a>
        </li>
      </div>
      <li class="accordion-menu-area-links">
        <a href="#" class="accordion-menu-link">Празднование именин</a>
        <a href="#" class="accordion-menu-link">Поздравительные
          сертификаты</a>
      </li>
    </ul>
    <div class="place-helper-desk">
      <div class=helper>
        <img class="helper-img" src="img/helper-elitsy.png" alt="Помощник">
        <div class="title">православный <br>помощник</div>
        <div class="question">
          Какая сфера жизни
          беспокоит Вас больше
          всего?
        </div>
        <div class="answer">
          Семья и близкие
        </div>
        <div class="answer">
          Собственное здоровье
        </div>
        <div class="answer">
          Финансы
        </div>
        <div class="answer">
          Другие личные проблемы
        </div>
        <div class="btn-area helper-btn-area">
          <button class="btn">Следующий вопрос</button>
        </div>
        <div class="most-request">
          <div class="most-request-title">Самые частые запросы</div>
          <a href="#">Семья и близкие</a>
          <a href="#">Собственное здоровье</a>
          <a href="#">Финансы</a>
        </div>
      </div>
    </div>

  </div>

</div>
<!--<div class="left-menu-sticky">-->
