<div class="main-area-fluid">
  <div class="main-area header-area">
    <header class="header">
      <div class="header-up">
        <div class="drop-window-menu-profile drop-window-navigation">
          <div class="drop-navigation-area">
            <div class="drop-navigation-block">
              <div class="drop-navigation-col">
                <div class="drop-navigation-title">Молебны</div>
                <a class="drop-navigation-link" href="/">Отношения в семье</a>
                <a class="drop-navigation-link" href="/">Беременность</a>
                <a class="drop-navigation-link" href="/">Благополучие детей</a>
                <a class="drop-navigation-link" href="/">Личные проблемы</a>
                <a class="drop-navigation-link" href="/">Проблемы со здоровьем</a>
                <a class="drop-navigation-link" href="/">Финансовые проблемы</a>
              </div>
            </div>
            <div class="drop-navigation-block">
              <div class="drop-navigation-col">
                <div class="drop-navigation-title">простые записки</div>
                <a class="drop-navigation-link" href="/">В монастыри</a>
                <a class="drop-navigation-link" href="/">К праздникам</a>
                <a class="drop-navigation-link" href="/">К иконам</a>
                <a class="drop-navigation-link" href="/">К святым</a>
              </div>
            </div>
            <div class="drop-navigation-block">
              <div class="drop-navigation-col">
                <div class="drop-navigation-title">иное</div>
                <a class="drop-navigation-link" href="/">Празднование именин</a>
                <a class="drop-navigation-link" href="/">Поздравительные
                  сертификаты</a>
              </div>
            </div>
          </div>
        </div>

        <div class="mobile-menu"  name="left-menu-mobile">
          <img src="img/mobile-menu.png" alt="Меню">
        </div>
        <a class="header-logo" href="/">
          <img class="img-fluid" src="img/logo.png" alt="Елицы записки">
          <img class="img-fluid-mobile" src="img/logo-mobile.png" alt="Елицы записки">
        </a>

        <button class="header-menu btn-rich-greenish-yellow" name="catalog-pc">
          <img class="header-menu-icon" src="img/icon-3.svg" alt="">
          <span class="header-menu-name">Каталог</span>
        </button>

        <form class="header-search input-container">
          <input type="text" placeholder="Введите название храма, святого или иконы">
          <button class="search" type="submit">
            <img src="img/icon-4.svg" alt="">
          </button>
        </form>
        <button class="search btn-mobile-search"
                name="mobile-bottom-search"
                type="submit">
          <img src="img/icon-4.svg" alt="">
        </button>
        <div class="menu-profile">
          <div class="menu-profile-item pc-profile-item-cabinet profile-enter-cabinet">
            <div class="cabinet-icon">
              <img class="menu-icon" src="img/cabinet.svg" alt="Мой кабинет">
            </div>
            <span>Мой кабинет</span>
          </div>
          <a class="menu-profile-item mob-profile-item-cabinet">
            <div class="cabinet-icon">
              <img class="menu-icon" src="img/cabinet-ccc.svg" alt="Мой кабинет">
            </div>
          </a>
          <a class="menu-profile-item mob-profile-item-cabinet">
            <div class="cabinet-icon">
              <img class="menu-icon basket-mobile" src="img/basket-ccc.svg" alt="Мой кабинет">
            </div>
          </a>
          <a href="/" class="menu-profile-item pc-profile-item-cabinet">
            <div class="cabinet-icon">
              <img class="menu-icon menu-profile-item favourites-icon" src="img/favourites.svg" alt="Избранное">
            </div>
            <span>Избранное</span>
          </a>
          <a href="/" class="menu-profile-item pc-profile-item-cabinet">
            <div class="cabinet-icon">
              <img class="menu-icon menu-profile-item basket-icon" src="img/basket.svg" alt="Корзина">
            </div>
            <span>Корзина</span>
          </a>
        </div>
      </div>

      <div class="header-down">
        <button class="header-menu btn-rich-greenish-yellow"  name="left-catalog">
          <img class="header-menu-icon"
               src="img/icon-3.svg"
               alt="">
          <span class="header-menu-name">Каталог</span>
        </button>
        <nav class="navigation-header-area">
          <div class="navigation-header">
            <a href="/" class="link active">
              Молебны
            </a>
            <a href="/" class="link">
              Поздравления
            </a>
            <a href="/" class="link">
              Именины
            </a>
            <a href="/" class="link">
              Возможности сервиса
            </a>
            <a href="/" class="link">
              Информация православным
            </a>
            <div class="navigation-dots-menu">
              <img
                  src="img/dots-menu.svg"
                  alt="Меню">
              <div class="dot-menu">
                <a href="/"> Медиа </a>
                <a href="/"> Отзывы </a>
              </div>
            </div>
            <!--          <img class="" src="img/img-header-vector.png" alt="">-->
          </div>
          <button class="header-gift btn-dark-yellow-green">

            <img class="header-gift-icon"
                 src="img/gift.svg"
                 alt="Подарок">
            <span class="header-gift-text">
        Активировать подарочный сертификат
      </span>
          </button>
        </nav>
      </div>

    </header>
  </div>
</div>
