<div class="main-area-fluid">
  <div class="main-area">
    <div class="monastery-slider slider-area">
      <div class="title">
        Мы рекомендуем
      </div>

      <div class="list-cards recommend-slider">
        <div class="card">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              молитва с прошением
              о зачатии ребенка
            </div>
            <div class="card-description">
              к Господу и Богу нашему
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              молитва с прошением
              о зачатии ребенка
            </div>
            <div class="card-description">
              к Господу и Богу нашему
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              молитва с прошением
              о зачатии ребенка
            </div>
            <div class="card-description">
              к Господу и Богу нашему
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              молитва с прошением
              о зачатии ребенка
            </div>
            <div class="card-description">
              к Господу и Богу нашему
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
