<div class="main-area-fluid">

  <div class="main-area">
    <div class="monastery-slider slider-area">
      <div class="title">
        ПОЧИТАЕМЫЕ СВЯТЫНИ ХРАМА
      </div>
      <div class="list-cards recommend-slider">
        <div class="card">
          <button class="card-favorite _active">
            <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/slider-img-1.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              Благоверный князь
              Александр Невский
            </div>
            <div class="card-tag">
              <span>Семья</span>
              <span>Здоровье</span>
              <span>Личное</span>
              <span>Финансы</span>
            </div>
          </div>
          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">
              Подробнее
            </button>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite _active">
            <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/slider-img-1.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              Благоверный князь
              Александр Невский
            </div>
            <div class="card-tag">
              <span>Семья</span>
              <span>Здоровье</span>
              <span>Личное</span>
              <span>Финансы</span>
            </div>
          </div>
          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">
              Подробнее
            </button>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite _active">
            <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/slider-img-1.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              Благоверный князь
              Александр Невский
            </div>
            <div class="card-tag">
              <span>Семья</span>
              <span>Здоровье</span>
              <span>Личное</span>
              <span>Финансы</span>
            </div>
          </div>
          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">
              Подробнее
            </button>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite _active">
            <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/slider-img-1.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              Благоверный князь
              Александр Невский
            </div>
            <div class="card-tag">
              <span>Семья</span>
              <span>Здоровье</span>
              <span>Личное</span>
              <span>Финансы</span>
            </div>
          </div>
          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">
              Подробнее
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
