<div class="main-area-fluid">
  <div class="main-area">
    <div class="review-area">
      <img class="review-area-image" src="img/about-project-img-2.png" alt="Отзывы">
      <div class="review-area-title">
        Отзывы
      </div>
      <div class="review-list">
        <div class="review-row type-1">
          <div class="review-block">
            <p>Православная соцсеть Елицы" представляет проект
              Служба "Елицы.Записки" по подаче онлайн записок,
              заказу молебнов и треб в церкви и монастыри,
              к достопочитаемым православным святыням России
              и всего мира.</p>
            <div class="review-author">
              <div class="review-author-name">ti*******1@yandex.ru</div>
              <div class="review-author-icon">ТД</div>
            </div>
          </div>
          <div class="review-block">
            <p>Православная соцсеть Елицы" представляет проект
              Служба "Елицы.Записки" по подаче онлайн записок,
              заказу молебнов и треб в церкви и монастыри,
              к достопочитаемым православным святыням
              России и всего мира.
              <br>
              Православная соцсеть Елицы" представляет проект
              Служба "Елицы.Записки" по подаче онлайн записок,
              заказу молебнов и треб в церкви и монастыри,
              к достопочитаемым православным святыням России
              и всего мира.</p>
            <div class="review-author">
              <div class="review-author-name">ti*******1@yandex.ru</div>
              <div class="review-author-icon">ТД</div>
            </div>
          </div>
        </div>

        <div class="review-row type-2">
          <div class="review-block">
            <p>Православная соцсеть Елицы" представляет проект
              Служба "Елицы.Записки" по подаче онлайн записок,
              заказу молебнов и треб в церкви и монастыри,
              к достопочитаемым православным святыням
              России и всего мира.
              <br>
              Православная соцсеть Елицы" представляет проект
              Служба "Елицы.Записки" по подаче онлайн записок,
              заказу молебнов и треб в церкви и монастыри,
              к достопочитаемым православным святыням России
              и всего мира.</p>
            <div class="review-author">
              <div class="review-author-name">ti*******1@yandex.ru</div>
              <div class="review-author-icon">ТД</div>
            </div>
          </div>

          <div class="review-block">
            <p>Православная соцсеть Елицы" представляет проект
              Служба "Елицы.Записки" по подаче онлайн записок,
              заказу молебнов и треб в церкви и монастыри,
              к достопочитаемым православным святыням России
              и всего мира.</p>
            <div class="review-author">
              <div class="review-author-name">ti*******1@yandex.ru</div>
              <div class="review-author-icon">ТД</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
