<div class="note-form-wrapper">

  <div class="note-form-area">
    <div class="title">
      Подать церковную записку
    </div>
    <form class="note-form _rest">

      <div class="note-border-line-1">
        <div class="note-border-line-2">
          <div class="note-content">
            <img class="note-form-img-health" src="img/form-pic.png" alt="">
            <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
            <div class="title">
              молитва с прошением
              <br>о благополучии семьи
              <br>к святому преподобному
              <br>паисию святогорцу
            </div>
            <div class="inputs">
              <div class="input-container">
                <input type="text" placeholder="Имя в Родительном падеже">
              </div>
              <div class="input-container">
                <input type="text" placeholder="Имя в Родительном падеже">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="note-settings mr-t">
    <div class="option-title">
      Суть прошения
    </div>
    <!--    <div class="note-option">-->
    <!--      <div class="switch-buttons _mini">-->
    <!--        <div class="switch-buttons-switch">-->
    <!--          <button class="btn _active">-->
    <!--            О здравии-->
    <!--          </button>-->
    <!--          <button class="btn">-->
    <!--            Об упокоении-->
    <!--          </button>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      &lt;!&ndash;      <div class="option-btn">&ndash;&gt;-->
    <!--      &lt;!&ndash;        <button class="btn active">О здравии</button>&ndash;&gt;-->
    <!--      &lt;!&ndash;        <button class="btn">Об упокоении</button>&ndash;&gt;-->
    <!--      &lt;!&ndash;      </div>&ndash;&gt;-->
    <!--      <div class="option-info">-->
    <!--        Молитвенное поминовение имен о здравии во время <br>Божественной Литургии-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="note-option">
      <div class="select select-type-1">
        <select class="note-select">
          <option value="Неусыпаемая псалтырь">О благополучии семьи</option>
        </select>
      </div>
      <div class="option-info">
        Круглосуточное поминовение о здравии и спасении
        при чтении псалтири в обители на указанный срок
      </div>
    </div>
    <div class="note-option">
      <div class="option-title">
        Дополнительные услуги
      </div>
      <div>
        <label class="checkbox">
          <input type="checkbox"
                 class="normal-checkbox"
                 id="u-3" name="request-access" value="private">
          <div class="label" for="u-3"></div>
          <span class="checkbox-text">Поставить свечку</span>
        </label>
      </div>
      <div class="option-info">
        Круглосуточное поминовение о здравии и спасении при чтении псалтири
        в обители на указанный срок
      </div>
    </div>
<!--    <a href="#" class="note-faq">-->
<!--      Как правильно написать имя в записку?-->
<!--    </a>-->
  </div>
</div>
<div class="note-pay ">
  <div class="total">Итого к оплате</div>
  <div class="money">0<span>₽</span></div>
  <div class="note-pay-btn-area">
    <button class="btn-rich-greenish-yellow">Подать записку</button>
    <button class="btn-border">добавить в избранное</button>
  </div>

</div>
