<div class="main-area-fluid">
  <div class="main-area">
    <div class="content what-notes-landing">
      <div class="title-block">
        <div class="title">
          Для чего подают
          <br>церковные записки?
        </div>
      </div>
      <div class="notes-landing-info">
        <div class="block-text">
          <p>
            Все мы молимся Богу за себя и своих близких. Это можно делать везде – дома,
            в дороге и на работе. И везде Господь слышит нас и отвечает на нашу молитву.
            Вместе с тем сам Спаситель Говорил о том, что соборная молитва всей Церкви
            о человеке имеет особую силу. Именно поэтому мы подаём за своих близких
            записки на литургию, просим священников отслужить молебен или панихиду,
            чтобы соборная молитва была вознесена о вас и ваших близких
            на богослужениях.
          </p>
          <span>Наш сервис позволяет подать записки
       в один или несколько храмов.</span>
        </div>
        <div class="block-img">
          <img class="img-form" src="img/what-notes-form-img.png" alt="Рисунок">

          <div class="landing-gift">
            <img class="landing-gift-img" src="img/landing-gift.png" alt="Подарок">
            <div class="landing-gift-circle">
              <div class="gift-circle-title">
                3 первые
                записки
                в подарок!
              </div>
              <div class="gift-circle-text">
                Получите три первых записки
                в подарок от нашего сервиса
                при регистрации в личном кабинете
              </div>
              <div class="btn-area center">
                <button class="btn-rich-greenish-yellow landing-gift-btn">
                  получить подарок
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
