<div class="mobile-bottom-search-area">
  <div class="overlay"></div>
  <div class="mobile-bottom-search">
    <div class="mobile-bottom-content">
      <div class="bottom-search-close menu-content-close">
        <img src="img/close.png" alt="Закрыть">
      </div>
      <div class="bottom-search-title">
        ПОИСК ПО САЙТУ
      </div>
      <form class="header-search input-container">
        <input type="text" placeholder="Введите название храма, святого или иконы">
        <button class="search" type="submit">
          <img src="img/icon-4.svg" alt="">
        </button>
      </form>
      <div class="search-result-area">
        <div class="search-result-list">
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
          <a href="/">Храм</a>
        </div>

      </div>
    </div>
  </div>
</div>
