<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<div class="main-area-fluid">
  <div class="main-area">

    <!--форма-->
    <div class="mail-form-area d-flex mt-3 mb-3 flex-lg-row flex-column">
      <img class="mail-form-img" src="img/mail.png" alt="">
      <div class="d-flex flex-column mail-form-info" >
        <h6 class="mail-form-title">Подписка на новости Елицы</h6>
        <div class="mail-form-text">
          <p>
            Оставьте адрес электронной почты,
            что бы мы могли рассказать вам
            о новостях проекта.
          </p>
        </div>

      </div>
      <form class="mail-form">
        <div class="form-area justify-content-start d-flex flex-nowrap align-items-baseline">
          <div class="input-container error-input">
            <div class="input-area">
              <input  type="text" placeholder="Введите текущий пароль">
              <div class="error">
                Ошибка
              </div>
            </div>
          </div>
          <button class="btn btn-rich-greenish-yellow">Подписаться</button>
        </div>
        <div class="d-flex">
          <label class="checkbox _white">
            <input type="checkbox" class="normal-checkbox" id="u-7" value="private">
            <div class="label" for="u-7"></div>
            <span class="checkbox-text">
Подписываясь, вы даете согласие на обработку своих
персональных данных</span>
          </label>
        </div>

      </form>
    </div>



  </div>
</div>

<div style="margin: 15px ; position:relative">

  <div class="pop-up-area" >
      <div class="pop-up-content">
        <img src="img/close.png" alt="" class="pop-up-close">
        <div class="content-icon">
          <img src="img/icon-tag-1.png" alt="">
        </div>

        <div class="content-info">
          <h6 class="content-title">Иверская икона Божией Матери</h6>
          <p class="content-text">Служба Елицы Записки предназначена, в первую очередь, для тех, у кого
            нет возможности самостоятельно побывать в паломничестве и вознести молитвы
            перед почитаемыми и чудотворными святынями.
          </p>
        </div>

      </div>
  </div>

<!--  <div class="modal feedback">-->
<!--    <div class="feedback-modal-area">-->
<!--      <div class="modal-title">-->
<!--        ОБРАТНАЯ СВЯЗЬ-->
<!--      </div>-->
<!--      <div class="input-container">-->
<!--        <div class="input-area">-->
<!--          <input type="text" placeholder="ваше имя"/>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="flex-input-container">-->
<!--        <div class="input-container">-->
<!--          <div class="input-area">-->
<!--            <input type="text" placeholder="Телефон"/>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="input-container">-->
<!--          <div class="input-area">-->
<!--            <input type="text" placeholder="EMAIL"/>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="input-container">-->
<!--        <div class="input-area">-->
<!--          <textarea  placeholder="введите текст сообщения"></textarea>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="btn-area right">-->
<!--        <button class="btn btn-rich-greenish-yellow">отправить сообщение</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="drop-window-menu-profile drop-window-navigation" style="display: block">-->
<!--    <div class="drop-navigation-area">-->
<!--      <div class="drop-navigation-block">-->
<!--        <div class="drop-navigation-col">-->
<!--          <div class="drop-navigation-title">Молебны</div>-->
<!--          <a class="drop-navigation-link" href="/">Отношения в семье</a>-->
<!--          <a class="drop-navigation-link" href="/">Беременность</a>-->
<!--          <a class="drop-navigation-link" href="/">Благополучие детей</a>-->
<!--          <a class="drop-navigation-link" href="/">Личные проблемы</a>-->
<!--          <a class="drop-navigation-link" href="/">Проблемы со здоровьем</a>-->
<!--          <a class="drop-navigation-link" href="/">Финансовые проблемы</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="drop-navigation-block">-->
<!--        <div class="drop-navigation-col">-->
<!--          <div class="drop-navigation-title">простые записки</div>-->
<!--          <a class="drop-navigation-link" href="/">В монастыри</a>-->
<!--          <a class="drop-navigation-link" href="/">К праздникам</a>-->
<!--          <a class="drop-navigation-link" href="/">К иконам</a>-->
<!--          <a class="drop-navigation-link" href="/">К святым</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="drop-navigation-block">-->
<!--        <div class="drop-navigation-col">-->
<!--          <div class="drop-navigation-title">иное</div>-->
<!--          <a class="drop-navigation-link" href="/">Празднование именин</a>-->
<!--          <a class="drop-navigation-link" href="/">Поздравительные-->
<!--            сертификаты</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="input-select">-->
<!--    <div class="select ">-->
<!--      <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>-->
<!--      <div class="select-btn">-->
<!--        <img src="img/cabinet-navigation-mobile-btn.png" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="options-result">-->
<!--      <div class="options">-->
<!--        <span>Неусыпаемая Псалтырь </span>-->
<!--        <span>Празднование именин</span>-->
<!--        <span>Поздравительные сертификаты</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <br>
<!--    <div class="input-data _open">-->
<!--      <div class="data">-->
<!--        <span>Выберите день</span>-->
<!--        <img class="menu-icon" src="img/banner-calendar.svg" alt="">-->
<!--      </div>-->
<!--      <div class="data-result">-->
<!--        <div class="data-result-calendar">-->
<!--          <div class="data-result-calendar-header">-->
<!--            <div class="input-select">-->
<!--              <div class="select ">-->
<!--                <span>СЕНТЯБРЬ</span>-->
<!--                <div class="select-btn">-->
<!--                  <img src="img/cabinet-navigation-mobile-btn.png" alt="">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="options-result">-->
<!--                <div class="options">-->
<!--                  <span>СЕНТЯБРЬ</span>-->
<!--                  <span>СЕНТЯБРЬ</span>-->
<!--                  <span>СЕНТЯБРЬ</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="input-select">-->
<!--              <div class="select ">-->
<!--                <span>19</span>-->
<!--                <div class="select-btn">-->
<!--                  <img src="img/cabinet-navigation-mobile-btn.png" alt="">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="options-result">-->
<!--                <div class="options">-->
<!--                  <span>20</span>-->
<!--                  <span>12</span>-->
<!--                  <span>22</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="data-result-calendar-grid">-->
<!--            <div class="calendar-row header-row">-->
<!--              <div class="calendar-col _day">ПН</div>-->
<!--              <div class="calendar-col _day">ВТ</div>-->
<!--              <div class="calendar-col _day">СР</div>-->
<!--              <div class="calendar-col _day">ЧТ</div>-->
<!--              <div class="calendar-col _day">ПТ</div>-->
<!--              <div class="calendar-col _day">СБ</div>-->
<!--              <div class="calendar-col _day">ВС</div>-->
<!--            </div>-->
<!--            <div class="calendar-row">-->
<!--              <div class="calendar-col">1</div>-->
<!--              <div class="calendar-col">2</div>-->
<!--              <div class="calendar-col">3</div>-->
<!--              <div class="calendar-col">4</div>-->
<!--              <div class="calendar-col">5</div>-->
<!--              <div class="calendar-col _weekends">6</div>-->
<!--              <div class="calendar-col _weekends">7</div>-->
<!--            </div>-->
<!--            <div class="calendar-row">-->
<!--              <div class="calendar-col">8</div>-->
<!--              <div class="calendar-col">9</div>-->
<!--              <div class="calendar-col">10</div>-->
<!--              <div class="calendar-col">11</div>-->
<!--              <div class="calendar-col">12</div>-->
<!--              <div class="calendar-col _weekends">13</div>-->
<!--              <div class="calendar-col _weekends">14</div>-->
<!--            </div>-->
<!--            <div class="calendar-row">-->
<!--              <div class="calendar-col">15</div>-->
<!--              <div class="calendar-col">16</div>-->
<!--              <div class="calendar-col">17</div>-->
<!--              <div class="calendar-col">18</div>-->
<!--              <div class="calendar-col">19</div>-->
<!--              <div class="calendar-col _weekends">20</div>-->
<!--              <div class="calendar-col _weekends">21</div>-->
<!--            </div>-->
<!--            <div class="calendar-row">-->
<!--              <div class="calendar-col">22</div>-->
<!--              <div class="calendar-col">23</div>-->
<!--              <div class="calendar-col">24</div>-->
<!--              <div class="calendar-col">25</div>-->
<!--              <div class="calendar-col">26</div>-->
<!--              <div class="calendar-col _weekends">27</div>-->
<!--              <div class="calendar-col _weekends">28</div>-->
<!--            </div>-->
<!--            <div class="calendar-row">-->
<!--              <div class="calendar-col">29</div>-->
<!--              <div class="calendar-col">30</div>-->
<!--              <div class="calendar-col _another-month _select-day">1</div>-->
<!--              <div class="calendar-col _another-month">2</div>-->
<!--              <div class="calendar-col _another-month">3</div>-->
<!--              <div class="calendar-col _weekends _another-month">4</div>-->
<!--              <div class="calendar-col _weekends _another-month">5</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->

<!--  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>-->


<!-- <p> index-4</p>-->

<!--  <div class="list-cards">-->
<!--    <div class="card">-->
<!--      <button class="card-favorite">-->
<!--        <img class="menu-icon favorite" src="img/bell.svg" alt="Избранное">-->
<!--      </button>-->
<!--      <div class="date">-->
<!--        22 января-->
<!--      </div>-->
<!--      <div class="card-info">-->
<!--        <div class="name">-->
<!--          Алексей-->
<!--        </div>-->
<!--        <div class="list-name-h">-->
<!--          <div class="list-name-h-title">Святые покровители:</div>-->
<!--          <div class="name-holy">Святитель Алексий, Святой Алексий, Алексий Бортсурманский,-->
<!--            Алексий Невский-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="btn-area center">-->
<!--        <button class="btn btn-rich-greenish-yellow">-->
<!--          добавить в корзину-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card-gift">-->
<!--      <img class="card-gift-img" src="img/landing-gift.png" alt="Подарок">-->
<!--      <div class="landing-gift-block">-->
<!--        <div class="gift-circle-title">-->
<!--          3 первые-->
<!--          записки-->
<!--          в подарок!-->
<!--        </div>-->
<!--        <div class="gift-circle-text">-->
<!--          Получите три первых записки-->
<!--          в подарок от нашего сервиса-->
<!--          при регистрации в личном кабинете-->
<!--        </div>-->
<!--        <div class="btn-area center">-->
<!--          <button class="btn-rich-greenish-yellow landing-gift-btn">-->
<!--            получить подарок-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;<img src="img/landing-gift-vector.png" alt="Подарок">&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

<!--    Мы рекомендуем index-2-->

<!--  <div class="list-cards no-slider">-->
<!--    <div class="card">-->
<!--      <button class="card-favorite">-->
<!--        <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">-->
<!--      </button>-->
<!--      <div class="header-img">-->
<!--        <img src="img/card-holiday.png" alt="">-->
<!--      </div>-->
<!--      <div class="card-info">-->
<!--        <div class="card-name">-->
<!--          молитва с прошением-->
<!--          о зачатии ребенка-->
<!--        </div>-->
<!--        <div class="card-description">-->
<!--          к Господу и Богу нашему-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="btn-area center">-->
<!--        <button class="btn btn-rich-greenish-yellow">-->
<!--          Заполнить имена-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--      <button class="card-favorite">-->
<!--        <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">-->
<!--      </button>-->
<!--      <div class="header-img">-->
<!--        <img src="img/card-holiday.png" alt="">-->
<!--      </div>-->
<!--      <div class="card-info">-->
<!--        <div class="card-name">-->
<!--          молитва с прошением-->
<!--          о зачатии ребенка-->
<!--        </div>-->
<!--        <div class="card-description">-->
<!--          к Господу и Богу нашему-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="btn-area center">-->
<!--        <button class="btn btn-rich-greenish-yellow">-->
<!--          Заполнить имена-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



<!--  <p>index-3</p>-->
<!--  <div class="list-cards">-->
<!--    <div class="card">-->
<!--      <button class="card-favorite _active">-->
<!--        <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">-->
<!--      </button>-->
<!--      <div class="header-img">-->
<!--        <img src="img/slider-img-1.png" alt="">-->
<!--      </div>-->
<!--      <div class="card-info">-->
<!--        <div class="card-name">-->
<!--          простая записка-->
<!--          о здравии-->
<!--        </div>-->
<!--        <div class="card-description">-->
<!--          в Храм Гроба Господня-->
<!--          в Иерусалиме-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="btn-area center">-->
<!--        <button class="btn btn-rich-greenish-yellow">-->
<!--          Заполнить имена-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  ПОЧИТАЕМЫЕ СВЯТЫНИ ХРАМА index-5 index-6 index-7-->

<!--   <div class="list-cards">-->
<!--    <div class="card">-->
<!--      <button class="card-favorite _active">-->
<!--        <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">-->
<!--      </button>-->
<!--      <div class="header-img">-->
<!--        <img src="img/slider-img-1.png" alt="">-->
<!--      </div>-->
<!--      <div class="card-info">-->
<!--        <div class="card-name">-->
<!--          простая записка-->
<!--          о здравии-->
<!--        </div>-->
<!--        <div class="card-tag">-->
<!--          <span>Семья</span>-->
<!--          <span>Здоровье</span>-->
<!--          <span>Личное</span>-->
<!--          <span>Финансы</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="btn-area center">-->
<!--        <button class="btn btn-rich-greenish-yellow">-->
<!--          Подробнее-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


</div>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
