<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area">
        <div class="title-block">
          <div class="title">
            Личный кабинет
          </div>
        </div>
        <div class="personal-cabinet-navigation">
          <ul>
            <li>
              <a class="_active" href="/">Личный кабинет</a>
            </li>
            <li>
              <a href="/">Контакты и пароль</a>
            </li>
            <li>
              <a href="/">Избранное</a>
            </li>
            <li>
              <a href="/">Памятные даты и именины</a>
            </li>
          </ul>

          <div class="nav-button">
            <img class="" src="img/arrow.svg" alt="">
          </div>
        </div>
        <div class="personal-cabinet cabinet-dates-names">
            <div class="title-block">
              <div class="title">
                Памятные даты и именины
              </div>
            </div>
            <div class="dates-names-area">
              <div class="dates-names-block _health">
                <div class="title-block">
                  <div class="title">
                    именины
                  </div>
                  <button class="btn-border">
                    добавить <span>&nbsp;именины</span>
                  </button>
                </div>
                <div class="content-list">
                  <div class="content-line">
                    <div class="info">
                      <div class="name">Константин</div>
                      <div class="date">18.09</div>
                    </div>
                    <div class="btn-area">
                      <button>редактировать</button>
                      <button>удалить</button>
                    </div>
                  </div>
                  <div class="content-line">
                    <div class="info">
                      <div class="name">Константин</div>
                      <div class="date">18.09</div>
                    </div>
                    <div class="btn-area">
                      <button>редактировать</button>
                      <button>удалить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dates-names-block _rest">
                <div class="title-block">
                  <div class="title">
                    памятные даты
                  </div>
                  <button class="btn-border _active">
                    добавить <span>&nbsp;памятную дату</span>
                  </button>
                </div>
                <div class="add-date">
                  <div class="add-date-inputs">
                    <div class="input-container error-input">
                      <input type="text" placeholder="Имя"/>
                      <div class="error">Error</div>
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Дата"/>
                    </div>
                  </div>
                  <label class="checkbox">
                    <input type="checkbox" class="normal-checkbox" id="u-5"
                           name="request-access" value="private">
                    <div class="label" for="u-5"> </div>
                    <span class="checkbox-text">Получать уведомление о приближении даты на почту</span>
                  </label>
                  <div class="btn-area">
                    <button class="btn btn-rich-greenish-yellow">
                      добавить
                    </button>
                    <button class="btn btn-border">
                      отмена
                    </button>
                  </div>
                </div>
                <div class="content-list">
                  <div class="content-line">
                    <div class="info">
                      <div class="name">Константин</div>
                      <div class="date">18.09</div>
                    </div>
                    <div class="btn-area">
                      <button>редактировать</button>
                      <button>удалить</button>
                    </div>
                  </div>
                  <div class="content-line">
                    <div class="info">
                      <div class="name">Константин</div>
                      <div class="date">18.09</div>
                    </div>
                    <div class="btn-area">
                      <button>редактировать</button>
                      <button>удалить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
