<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area">
        <div id="ex2" class="modal modal-free-note">

          <div class="modal-border">
            <div class="modal-title">
              Молебен о здравии и благополучии ко Всем Святым
            </div>
            <div class="free-note-area">
              <div class="place-form-modal-desk">
                <div class="free-note-col">
                  <div class="note-form-area free-note-form">
                    <form class="note-form ">
                      <div class="note-border-line-1">
                        <div class="note-border-line-2">
                          <div class="note-content">
                            <img class="note-form-img-health" src="img/form-pic.png" alt="">
                            <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                            <div class="title">
                              господу и богу нашему
                            </div>
                            <div class="inputs">
                              <div class="input-container">
                                <input type="text" placeholder="Имя в Родительном падеже">
                              </div>
                              <div class="input-container">
                                <input type="text" placeholder="Имя в Родительном падеже">
                              </div>
                            </div>
                            <div class="btn-area center button-area-form-note">
                              <button class="btn btn-rich-greenish-yellow">заказать молебен</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="free-note-col">
                <div class="free-note-info-title">
                  Здесь можно бесплатно подать записку
                  на "Молебен о здравии и благополучии
                  ко Всем Святым".
                </div>

                <div class="free-note-info-text">
                  В это непростое время "Елицы.Записки" делает это бесплатно.
                  На вашу эл.почту вы получите Уведомления о движении
                  записки и Именной Сертификат.*
                </div>
                <div class="place-form-modal-mob"></div>
                <div class="free-note-footnotes-area">
                  <div class="methods-enter-area">
                    <div class="methods-enter">
                      <div class="methods-list">
                        <a href="/">
                          <img src="img/enter-el.png" alt="Елицы">
                        </a>
                        <a href="/">
                          <img src="img/enter-ok.png" alt="Одноклассники">
                        </a>
                        <a href="/">
                          <img src="img/enter-vk.png" alt="Вконтакте">
                        </a>
                        <a href="/">
                          <img src="img/enter-fb.png" alt="Фейсбук">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="free-note-footnotes-text">
                    * Нажимая на кнопку "Заказать Молебен", вы даете согласие
                    на получение от службы "Елицы.Записки" информационных
                    уведомлений</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="title-block ">
          <div class="title">
            Молебен о здравии и благополучии ко Всем Святым
          </div>
        </div>
      </div>
      <div class="free-note-area">
        <div class="place-form-desk">
          <div class="free-note-col">
            <div class="note-form-area free-note-form">
              <form class="note-form ">
                <div class="note-border-line-1">
                  <div class="note-border-line-2">
                    <div class="note-content">
                      <img class="note-form-img-health" src="img/form-pic.png" alt="">
                      <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                      <div class="title">
                        господу и богу нашему
                      </div>
                      <div class="inputs">
                        <div class="input-container">
                          <input type="text" placeholder="Имя в Родительном падеже">
                        </div>
                        <div class="input-container">
                          <input type="text" placeholder="Имя в Родительном падеже">
                        </div>
                      </div>
                      <div class="btn-area center button-area-form-note">
                        <a class="btn btn-rich-greenish-yellow open-modal"
                           href="#ex2" rel="modal:open" id="fade">заказать молебен</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="free-note-col">
          <div class="free-note-info-title">
            Здесь можно бесплатно подать записку
            на "Молебен о здравии и благополучии
            ко Всем Святым".
          </div>

          <div class="free-note-info-text">
            В это непростое время "Елицы.Записки" делает это бесплатно.
            На вашу эл.почту вы получите Уведомления о движении
            записки и Именной Сертификат.*
          </div>
          <div class="place-form-mob"></div>
          <div class="free-note-footnotes-area">
            <div class="methods-enter-area">
              <div class="methods-enter">
                <div class="methods-list">
                  <a href="/">
                    <img src="img/enter-el.png" alt="Елицы">
                  </a>
                  <a href="/">
                    <img src="img/enter-ok.png" alt="Одноклассники">
                  </a>
                  <a href="/">
                    <img src="img/enter-vk.png" alt="Вконтакте">
                  </a>
                  <a href="/">
                    <img src="img/enter-fb.png" alt="Фейсбук">
                  </a>
                </div>
              </div>
            </div>
            <div class="free-note-footnotes-text">
              * Нажимая на кнопку "Заказать Молебен", вы даете согласие
              на получение от службы "Елицы.Записки" информационных
              уведомлений</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
