<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>

      <div class="calendar-page">
        <h1 class="calendar-page__title">
          Православные праздники 2022
        </h1>

        <div class="calendar-months-area-hidden">

        </div>

        <div class="calendar-months-area ">
          <div class="calendar-page__calendar-months calendar-months">
            <div class="calendar-months__list">
              <a href="#a-category-1">
                январь
              </a>
              <a href="#a-category-2">
                февраль
              </a>
              <a href="/">
                март
              </a>
              <a href="/">
                апрель
              </a>
              <a href="/">
                май
              </a>
              <a href="/">
                июнь
              </a>
              <a href="/">
                июль
              </a>
              <a href="/">
                август
              </a>
              <a href="/">
                сентябрь
              </a>
              <a href="/">
                октябрь
              </a>
              <a href="/">
                ноябрь
              </a>
              <a href="/">
                декабрь
              </a>
              <button class="btn calendar-months__btn d-sm-none d-flex js-toggle-calendar-months">
                <img src="./img/arrow-1.svg" alt="" class="calendar-months__icon-btn">
                <span>Развернуть</span>
              </button>
            </div>

          </div>
        </div>

        <div class="title-block holiday-title-block">
          <h2 class="title">
            Ближайшие праздники
          </h2>
        </div>

        <div class="calendar-slide">
          <div class="card-holiday">
            <div class="card-holiday-date">22 мая</div>
            <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
            <div class="card-holiday-name">
              Празднование святого
              николая чудотворца
            </div>
            <div class="card-holiday-btn-area">
              <a href="/" class="btn-rich-greenish-yellow">
                Подробнее о празднике
              </a>
            </div>
          </div>
          <div class="card-holiday">
            <div class="card-holiday-date">22 мая</div>
            <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
            <div class="card-holiday-name">
              Празднование святого
              николая чудотворца
            </div>
            <div class="card-holiday-btn-area">
              <a href="/" class="btn-rich-greenish-yellow">
                Подробнее о празднике
              </a>
            </div>
          </div>
          <div class="card-holiday">
            <div class="card-holiday-date">23 мая</div>
            <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
            <div class="card-holiday-name">
              Празднование святого
              николая чудотворца
            </div>
            <div class="card-holiday-btn-area">
              <a href="/" class="btn-rich-greenish-yellow">
                Подробнее о празднике
              </a>
            </div>
          </div>
          <div class="card-holiday">
            <div class="card-holiday-date">23 мая</div>
            <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
            <div class="card-holiday-name">
              Празднование святого
              николая чудотворца
            </div>
            <div class="card-holiday-btn-area">
              <a href="/" class="btn-rich-greenish-yellow">
                Подробнее о празднике
              </a>
            </div>
          </div>
          <div class="card-holiday">
            <div class="card-holiday-date">23 мая</div>
            <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
            <div class="card-holiday-name">
              Празднование святого
              николая чудотворца
            </div>
            <div class="card-holiday-btn-area">
              <a href="/" class="btn-rich-greenish-yellow">
                Подробнее о празднике
              </a>
            </div>
          </div>
        </div>

        <div class="calendar-holiday-area" id="a-category-1">
          <div class="title-block holiday-title-block">
            <h2 class="title">
              Январь
            </h2>
          </div>
          <div class="calendar-holiday-area__list">

            <div class="calendar-holiday calendar-holiday--big">
              <div class="calendar-holiday__date">
                <span>25</span>
                <span>января</span>
              </div>
              <div class="calendar-holiday__info">
                <div class="calendar-holiday__title">
                  День святого Преподобного Илии Муромца
                </div>
              </div>
              <div class="calendar-holiday__button-area">
                <a href="/" class="btn btn-rich-greenish-yellow calendar-holiday__button">
                  Подать записку
                </a>
              </div>
            </div>

            <div class="calendar-holiday">
              <div class="calendar-holiday__date">
                <span>25</span>
                <span>января</span>
              </div>
              <div class="calendar-holiday__info">
                <div class="calendar-holiday__title">
                  День святого Преподобного Илии Муромца
                </div>
              </div>
              <div class="calendar-holiday__button-area">
                <a href="/" class="btn btn-rich-greenish-yellow calendar-holiday__button">
                  Подать записку
                </a>
              </div>
            </div>

            <div class="calendar-holiday">
              <div class="calendar-holiday__date">
                <span>25</span>
                <span>января</span>
              </div>
              <div class="calendar-holiday__info">
                <div class="calendar-holiday__title">
                  День святого Преподобного Илии Муромца
                </div>
              </div>
              <div class="calendar-holiday__button-area">
                <a href="/" class="btn btn-rich-greenish-yellow calendar-holiday__button">
                  Подать записку
                </a>
              </div>
            </div>

          </div>
        </div>

        <div class="calendar-page-info" id="a-category-2">
          <div class="title-block calendar-page-info__title-block">
            <h2 class="title">
              заголовок текста
            </h2>
          </div>
          <div class="calendar-page-info__text">
            <p>
              Елицы Записки – онлайн-сервис по подаче записок,  заказу молебнов и других церковных треб в храмах и монастырях России и мира.
              <br><br>
              Служба Елицы Записки предназначена, в первую очередь, для тех, у кого нет возможности самостоятельно побывать в паломничестве
              и вознести молитвы перед почитаемыми христианскими святынями.
            </p>
            <a href="/" class="read-all">
              Читать дальше...
            </a>
          </div>

        </div>


      </div>

    </div>
  </div>
  <div class="main-area-fluid">
    <div class="main-area">
      <div class="monastery-slider slider-area">
        <div class="title">
          Мы рекомендуем
        </div>

        <div class="list-cards recommend-slider recommend-slider-calendar">
          <div class="card-new d-flex flex-column mr-15 ml-15">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="card-new__body">
              <div class="card-new__image">
                <img src="img/card-new-image.jpg" alt="Икона">
              </div>
              <div class="card-new__info">
                <div class="card-new__name">
                  Празднование
                </div>
                <div class="card-new__button-area">
                  <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                    заполнить имена
                  </a>
                </div>
              </div>

            </div>
          </div>
          <div class="card-new d-flex flex-column mr-15 ml-15">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="card-new__body">
              <div class="card-new__image">
                <img src="img/card-new-image.jpg" alt="Икона">
              </div>
              <div class="card-new__info">
                <div class="card-new__name">
                  Празднование
                </div>
                <div class="card-new__button-area">
                  <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                    заполнить имена
                  </a>
                </div>
              </div>

            </div>
          </div>
          <div class="card-new d-flex flex-column mr-15 ml-15">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="card-new__body">
              <div class="card-new__image">
                <img src="img/card-new-image.jpg" alt="Икона">
              </div>
              <div class="card-new__info">
                <div class="card-new__name">
                  Празднование
                </div>
                <div class="card-new__button-area">
                  <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                    заполнить имена
                  </a>
                </div>
              </div>

            </div>
          </div>
          <div class="card-new d-flex flex-column mr-15 ml-15">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="card-new__body">
              <div class="card-new__image">
                <img src="img/card-new-image.jpg" alt="Икона">
              </div>
              <div class="card-new__info">
                <div class="card-new__name">
                  Празднование
                </div>
                <div class="card-new__button-area">
                  <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                    заполнить имена
                  </a>
                </div>
              </div>

            </div>
          </div>
          <div class="card-new d-flex flex-column mr-15 ml-15">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="card-new__body">
              <div class="card-new__image">
                <img src="img/card-new-image.jpg" alt="Икона">
              </div>
              <div class="card-new__info">
                <div class="card-new__name">
                  Празднование
                </div>
                <div class="card-new__button-area">
                  <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                    заполнить имена
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  // $(".navigation-link").on('click', function(e){
  //   var target = $($(this).attr('href'));
  //   var headerHeight = 20;
  //   var animationSpeed = 900;
  //   if(target.length > 0) {
  //     var position = target.eq(0).offset().top - headerHeight;
  //     $('html, body').stop().animate({ scrollTop: position }, animationSpeed, 'swing');
  //   }
  // });

  let sticky = $('.calendar-months-area')
  let stickyHidden = $('.calendar-months-area-hidden')
  let pos = sticky.offset().top
  $(window).scroll(function(){
    let scroll = $(window).scrollTop();
    if (scroll >= pos) {
      stickyHidden.css('display', 'block')
      sticky.addClass('calendar-months-area--fixed');
    }
    else {
      stickyHidden.css('display', 'none')
      sticky.removeClass('calendar-months-area--fixed');
    }
  })


</script>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
