<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area">
        <div class="photo-header-area">
          <div class="photo-header-col">
            <div class="photo-header-title">Сретенский женский монастырь</div>
            <div class="photo-header-info">Россия, Республика Бурятия, Прибайкальский район, село Батурино</div>
          </div>
          <div class="photo-header-col">
            <div class="btn-area">
              <a href="/" class="btn btn-border">ВЕРНУТЬСЯ НАЗАД</a>
            </div>
          </div>
        </div>
        <div class="title-block ">
          <div class="title">
            Фотогалерея
          </div>
        </div>
        <div class="photo-gallery-area">
          <a class="photo-gallery"
             data-fancybox="gallery"
             href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg">
            <img
                src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg">
          </a>
          <a class="photo-gallery"
             data-fancybox="gallery"
             href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg">
            <img
                src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg">
          </a>
          <a class="photo-gallery"
             data-fancybox="gallery"
             href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg">
            <img
                src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg">
          </a>
          <a class="photo-gallery"
             data-fancybox="gallery"
             href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg">
            <img
                src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg">
          </a>
          <a class="photo-gallery"
                  data-fancybox="gallery"
                  href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg">
          <img
              src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05621_zgtcco.jpg">
        </a>
          <a class="photo-gallery"
                data-fancybox="gallery"
                href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg">
          <img
              src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg">
        </a>
          <a class="photo-gallery"
             data-fancybox="gallery"
             href="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg">
            <img
                src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
