<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<style>

</style>
<div class="new-year-page">
<!--<div class="test"></div>-->


  <section class="new-year">

    <div class="new-year-container new-year-area">
      <img src="./img/34/ball.png" alt="" class="christmas-ball">
      <a href="/" class="new-year__logo">
        <img src="./img/34/logo.svg" alt="Logo">
      </a>
      <h1 class="new-year__title">
        <b>Новогодний подарок</b>
        <br>близким
      </h1>
      <div class="new-year-info d-flex flex-column">
        <p class="new-year-info__text">
          <span>В</span> ночь с 31 декабря на 1 января во многих православных храмах будут
          совершены праздничные богослужения. Церковь соборно молит Бога
          о благословении нового календарного года. Новолетие - лучшее время,
          чтобы обратиться к Господу с просьбой о помощи во всех добрых делах
          и начинаниях.
        </p>
        <p class="new-year-info__text">
          Закажите молебен о здравии и благополучии, даровании мира и благоденствия
          в 2022 году за себя, родных и близких.
        </p>
        <p class="new-year-info__text">
          С помощью службы Елицы Записки вы можете поздравить родных с Новым
          годом: при заказе молебна оформите именные праздничные сертификаты.
          Получив такой подарок, человек узнает о том, что о нём молились за богослужением.
          Вы можете передать сертификат своим близким по электронной почте,
          через WhatsApp и Tелеграм, или распечатать его, чтобы вручить лично.
        </p>

      </div>
      <div class="btn-area new-year-area__btn-area">
        <a href="/" class="btn button-new-year new-year-area__button">
          Подать записку на молебен
        </a>
      </div>
    </div>
  </section>
  <img src="./img/34/christmas-tree.png" alt="" class="christmas-tree">

  <section class="blend">
    <img src="./img/34/bg.png" alt="" class="bg">
    <img src="./img/34/branch.png" alt="" class="branch">

    <div class="main-area-fluid new-year">
      <div class="main-area">
        <div class="new-year-content d-flex justify-content-between align-items-lg-start align-items-center flex-lg-row flex-column">
          <div class="new-year-content__col new-year-content__info">

            <h2 class="new-year-content__title">
              <b>Заказать молебен</b>
              <br> о здравии
              <br> и благополучии
              <br> в 2022 году
            </h2>
            <div class="place-form-mob"></div>
            <div class="new-year-list d-flex flex-column">
              <div class="new-year-item d-flex  align-items-center">
                <div class="new-year-item__icon">
                  <img src="./img/34/item-1.svg" alt="">
                </div>
                <span class="new-year-item__text">
                Напишите в записке имена близких людей
              </span>
              </div>
              <div class="new-year-item d-flex  align-items-center">
                <div class="new-year-item__icon">
                  <img src="./img/34/item-2.svg" alt="">
                </div>
                <span class="new-year-item__text">
               Отправьте записку
              </span>
              </div>
              <div class="new-year-item d-flex  align-items-center">
                <div class="new-year-item__icon">
                  <img src="./img/34/item-3.svg" alt="">
                </div>
                <span class="new-year-item__text">
             Получите на E-mail именной
              поздравительный сертификат
              </span>
              </div>
              <div class="new-year-item d-flex  align-items-center">
                <div class="new-year-item__icon">
                  <img src="./img/34/item-4.svg" alt="">
                </div>
                <span class="new-year-item__text">
             Перешлите или распечатайте
              и подарите своим близким
              </span>
              </div>
            </div>
          </div>

          <div class="new-year-content__col new-year-content__form">
            <div class="place-form-desk">
                <div class="christmas-form">
                  <form class="note-form ">
                    <div class="note-border-line-1">
                      <div class="note-border-line-2">
                        <div class="note-content">
                          <img class="note-form-img-health" src="img/form-pic.png" alt="">
                          <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                          <div class="title">
                            Литургия на Святой Земле
                            в праздник Рождества Христова
                            <br><br>
                            О здравии
                          </div>
                          <div class="inputs">
                            <div class="input-container">
                              <input type="text" placeholder="Имя в Родительном падеже">
                            </div>
                            <div class="input-container">
                              <input type="text" placeholder="Имя в Родительном падеже">
                            </div>
                            <div class="input-container">
                              <input type="text" placeholder="Имя в Родительном падеже">
                            </div>
                            <div class="input-container">
                              <input type="text" placeholder="Имя в Родительном падеже">
                            </div>
                          </div>
                          <div class="christmas-form-pay d-flex justify-content-between align-items-center flex-wrap">
                            <p class="christmas-form-pay__text">
                              Итого к оплате
                            </p>
                            <span class="christmas-form-pay__total">
                              <b>5 000</b> ₽
                            </span>
                          </div>
                          <div class="btn-area center button-area-form-note">
                            <a class="btn btn-rich-greenish-yellow open-modal"
                               href="#ex2" rel="modal:open" id="fade">Подать записку</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <%= _.template(require('./../includes/footer/footer.html').default)(data) %>
</div>


<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
