<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="about-project-page">
        <div class="title-block">
          <div class="title">
            О проекте
          </div>
        </div>
        <div class="about-project-page-desc">
          <div class="circle">
            <img  src="img/about-project-img.png"/>
          </div>

          <p>
            Елицы Записки – сервис по подаче записок и заказу молебнов и треб онлайн к почитаемым православным
            святыням России и мира. Идея воплощения проекта Елицы Записки родилась благодаря пользователям
            православной социальной сети Елицы. А наши добрые отношения с российскими и зарубежными храмами
            и монастырями сделали осуществление такого проекта возможным.

          </p>

          <p>
            Служба Елицы Записки предназначена, в первую очередь, для тех, у кого нет возможности самостоятельно
            побывать в паломничестве и вознести молитвы перед почитаемыми и чудотворными святынями.

          </p>
          <p>
            У каждого пользователя нашего сервиса есть возможность подать записки о своих близких в самые
            удаленные монастыри России и мира, с которыми сохранено евхаристическое общение. Наша служба
            имеет договоренности с почти 300 монастырями о размещении ваших треб и вознесении молитв
            о вас и ваших близких.
          </p>
          <p>
            Многие из наших пользователей увидели ощутимую помощь в трудных жизненных ситуациях и поняли,
            как им помогают святые молитвы, возносимые о них в храмах и обителях. Есть и другая важная сторона
            этого проекта: заказывая требы, пользователи нашего сервиса помогают монастырям своими
            пожертвованиями, поддерживая обители для дальнейшего святого служения.
          </p>
          <p>
            Очень полезно для души лично посещать святые места, совершать паломничества, потрудиться, чтобы
            подать записку в удаленных обителях. Однако у многих из нас нет возможности отправиться
            в паломничество из-за финансовых трудностей, дойти до храма из-за нездоровья или нехватки времени.
            Поэтому подача записок онлайн – это удобный способ подать записки в ту обитель, куда хотелось
            бы попасть лично, но сделать это сейчас не представляется возможным.
          </p>


        </div>
        <img class="about-project-img" src="img/about-project-img.png" alt="">
      </div>
      <div class="about-project-inscription-area">
        <div class="about-project-inscription">
          <img src="img/about-project-img-2.png" alt="">
          <div class="about-project-inscription-block">
            <div class="title">Заголовок для отдельного блока</div>
            <div class="desc">Все мы молимся Богу за себя и своих близких. Это можно делать везде – дома,
              в дороге и на работе. И везде Господь слышит нас и отвечает на нашу молитву.
              Вместе с тем сам Спаситель Говорил о том, что соборная молитва всей Церкви
              о человеке имеет особую силу.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
