<% var data = {
title: "Записки ребрендинг"
}; %>

<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


  <div class="modal" id="ex5">
    <div class="modal-add-date">
      <div class="modal-add-date-title-block">
        <div class="title">добавление даты</div>
      </div>
      <div class="modal-add-date-switch">
        <div class="switch-buttons _mini">
          <div class="switch-buttons-switch">
            <button class="btn ">
              О здравии
            </button>
            <button class="btn _rest _active">
              Об упокоении
            </button>
          </div>
        </div>
      </div>
      <div class="add-date">
        <div class="add-date-inputs">
          <div class="input-container error-input">
            <input type="text" placeholder="Имя">
            <div class="error">Error</div>
          </div>
          <div class="input-container">
            <input type="text" placeholder="Дата">
          </div>
        </div>
        <label class="checkbox">
          <input type="checkbox" class="normal-checkbox" id="u-5" name="request-access" value="private">
          <div class="label" for="u-5"> </div>
          <span class="checkbox-text">Получать уведомление о приближении даты на почту</span>
        </label>
        <div class="btn-area">
          <button class="btn btn-rich-greenish-yellow">
            добавить
          </button>
          <a class="btn btn-border" href="#ex5" rel="modal:close">
            отмена
          </a>
        </div>
      </div>
    </div>
  </div>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>

      <p><a
          class="btn btn-rich-greenish-yellow open-modal"  id="fade"
          href="#ex5" rel="modal:open">добавление даты</a></p>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
