<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg" >
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>

      <div class="news-project-area">
        <div class="title-block">
          <div class="title">
            Новости проекта
          </div>
        </div>

        <div class="news-project-list">
          <div class="news-project-block">
            <div class="news-block-content">
              <div class="news-date">30.11.2020</div>
              <a href="#" class="news-title">
                Отпевание. Как и для чего оно совершается?
              </a>

              <div class="news-area-img-mobile">
                <div class="news-block-img-mobile">
                  <img src="https://picsum.photos/id/237/200/300" alt="новость">
                </div>
              </div>

              <div class="news-info">
                «Я не умею горевать об отходящих, когда уверен, что они отходят ко Господу. Как горевать о них, когда
                они радуются?» Святитель Феофан Затворник Когда в мир иной уходит кто-то из самых дорогих нашему
                сердцу людей, сложно удержать слёзы горя, ведь и сам Спаситель плакал над гробом своего друга Лазаря.
                Однако, по слову Евангелия: «Бог не есть Бог мёртвых, но Бог живых».
              </div>
              <div class="news-comment-area empty">
                <img src="img/comment-empty.png" alt="">
                <span class="comment-string">
              Пока комментариев нет
            </span>
              </div>

            </div>
            <div class="news-block-img">
              <img src="https://picsum.photos/id/237/200/300" alt="новость">
            </div>
          </div>

          <div class="news-project-block">
            <div class="news-block-content">
              <div class="news-date">30.11.2020</div>
              <a href="#" class="news-title">
                Пример святых Иоакима и Анны. Как ввести во храм
              </a>
              <div class="news-area-img-mobile">
                <div class="news-block-img-mobile">
                  <img src="img/news-img.jpg" alt="новость">
                </div>
              </div>
              <div class="news-info">
                Введение во храм Пресвятой Богородицы в народе часто именуют «детским праздником». В этот день
                святые Иоаким и Анна отдали на воспитание в храм Пречистую Деву Марию. Дочь, о которой они долго
                молили Бога. Но разлука с трёхлетней малышкой принесла не горе, а радость в их сердца, потому
                что Иоаким и Анна доверяли Богу и знали, что Он дарует их дочери лучший и счастливейший
                из возможных путей.
              </div>
              <div class="news-comment-area">
                <img src="img/comment.png" alt="">
                <span class="comment-string">
              15 комментариев
            </span>
              </div>
            </div>
            <div class="news-block-img">
              <img src="img/news-img.jpg" alt="новость">
            </div>
          </div>

          <div class="news-project-block">
            <div class="news-block-content">
              <div class="news-date">30.11.2020</div>
              <a href="#" class="news-title">
                Пример святых Иоакима и Анны. Как ввести во храм
              </a>
              <div class="news-area-img-mobile">
                <div class="news-block-img-mobile">
                  <img src="img/news-img.jpg" alt="новость">
                </div>
              </div>
              <div class="news-info">
                Введение во храм Пресвятой Богородицы в народе часто именуют «детским праздником». В этот день
                святые Иоаким и Анна отдали на воспитание в храм Пречистую Деву Марию. Дочь, о которой они долго
                молили Бога. Но разлука с трёхлетней малышкой принесла не горе, а радость в их сердца, потому
                что Иоаким и Анна доверяли Богу и знали, что Он дарует их дочери лучший и счастливейший
                из возможных путей.
              </div>
              <div class="news-comment-area">
                <img src="img/comment.png" alt="">
                <span class="comment-string">
              15 комментариев
            </span>
              </div>
            </div>
            <div class="news-block-img">
              <img src="img/news-img.jpg" alt="новость">
            </div>
          </div>

          <div class="news-project-block">
            <div class="news-block-content">
              <div class="news-date">30.11.2020</div>
              <a href="#" class="news-title">
                Пример святых Иоакима и Анны. Как ввести во храм
              </a>
              <div class="news-area-img-mobile">
                <div class="news-block-img-mobile">
                  <img src="img/news-img.jpg" alt="новость">
                </div>
              </div>
              <div class="news-info">
                Введение во храм Пресвятой Богородицы в народе часто именуют «детским праздником». В этот день
                святые Иоаким и Анна отдали на воспитание в храм Пречистую Деву Марию. Дочь, о которой они долго
                молили Бога. Но разлука с трёхлетней малышкой принесла не горе, а радость в их сердца, потому
                что Иоаким и Анна доверяли Богу и знали, что Он дарует их дочери лучший и счастливейший
                из возможных путей.
              </div>
              <div class="news-comment-area">
                <img src="img/comment.png" alt="">
                <span class="comment-string">
              15 комментариев
            </span>
              </div>
            </div>
            <div class="news-block-img">
              <img src="img/news-img.jpg" alt="новость">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
