<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">

    <%= _.template(require('./../includes/left-accordion-menu/left-accordion-menu.html').default)(data) %>

    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>

      <div class="accordion-menu-content accordion-menu-visible">
        <div class="accordion-menu-content-title">
          Записки к праздникам
        </div>
        <div class="content-filter-block note-switch-area _open">
          <div class="content-header">
            <div class="title">
              выберите записку
            </div>
          </div>
          <div class="choice-string-list">
            <div class="choice-string">
              <div class="choice-label">
                Праздники:
              </div>
              <div class="choice-content">
                <div class="input-select h-30 input-select-choice-string">
                  <div class="select ">
                    <span> Развернуть список храмов</span>
                    <div class="select-btn">

                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>Неусыпаемая Псалтырь </span>
                      <span>Празднование именин</span>
                      <span>Поздравительные сертификаты</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="choice-string">
              <div class="choice-label">
                Тип записки
              </div>
              <div class="choice-content">
                <div class="switch-btn">
                  <button class="btn _active btn-dark-yellow-green">
                    О здравии
                  </button>
                  <button class="btn ">
                    Об упокоении
                  </button>
                </div>
              </div>
            </div>
            <div class="choice-string  format-note">
              <div class="choice-label">
                Формат записки:
              </div>
              <div class="choice-content choice-content-note">
                <button class="choice-btn btn btn-dark-yellow-green">
                  Простая записка
                  <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
                </button>
                <button class="choice-btn btn btn-border">
                  Сорокоуст
                  <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
                </button>
                <button class="choice-btn btn btn-border">
                  Молебен у иконы
                  <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
                </button>
                <button class="choice-btn btn btn-border">
                  Молебен у мощей
                  <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
                </button>
                <button class="choice-btn btn btn-border">
                  Неусыпаемая псалтырь
                  <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
                </button>
                <button class="choice-btn btn btn-border">
                  Проскомидия
                  <img class="menu-icon faq-qw" src="img/qw.svg" alt="">
                </button>
              </div>
            </div>
            <div class="choice-string">
              <div class="btn-area">
                <button class="btn btn-rich-greenish-yellow">
                  Подать записку
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="catalog-filter-block">

        <div class="input-select h-30 catalog-filter">
          <div class="select ">
            <span>сначала популярные</span>
            <div class="select-btn">
              <img src="img/cabinet-navigation-mobile-btn.png" alt="">
            </div>
          </div>
          <div class="options-result">
            <div class="options">
              <span>Неусыпаемая Псалтырь </span>
              <span>Празднование именин</span>
              <span>Поздравительные сертификаты</span>
            </div>
          </div>
        </div>
        <button class="btn   btn-border pc-catalog-filter-btn">
          Свернуть фильтр
        </button>
        <button class="btn  btn-border mobile-catalog-filter-btn">
          фильтр
          <span class="filter-count">5</span>
        </button>
      </div>

      <div class="list-cards no-slider">
        <div class="card">
          <button class="card-favorite _active">
            <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              простая записка
              о здравии
            </div>
            <div class="card-description">
              в Храм Гроба Господня
              в Иерусалиме
            </div>
          </div>
          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">
              Заполнить имена
            </button>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite _active">
            <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              простая записка
              о здравии
            </div>
            <div class="card-description">
              в Храм Гроба Господня
              в Иерусалиме
            </div>
          </div>
          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">
              Заполнить имена
            </button>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite _active">
            <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              простая записка
              о здравии
            </div>
            <div class="card-description">
              в Храм Гроба Господня
              в Иерусалиме
            </div>
          </div>
          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">
              Заполнить имена
            </button>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite _active">
            <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              простая записка
              о здравии
            </div>
            <div class="card-description">
              в Храм Гроба Господня
              в Иерусалиме
            </div>
          </div>
          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">
              Заполнить имена
            </button>
          </div>
        </div>
      </div>
      <%= _.template(require('./../includes/parish-collections/parish-collections.html').default)(data) %>
      <div class="place-helper-mob helper-mob-ver">

      </div>
      <div class="list-cards no-slider">
        <div class="card">
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              простая записка
              о здравии
            </div>
            <div class="card-description">
              в Храм Гроба Господня
              в Иерусалиме
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              простая записка
              о здравии
            </div>
            <div class="card-description">
              в Храм Гроба Господня
              в Иерусалиме
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              простая записка
              о здравии
            </div>
            <div class="card-description">
              в Храм Гроба Господня
              в Иерусалиме
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              простая записка
              о здравии
            </div>
            <div class="card-description">
              в Храм Гроба Господня
              в Иерусалиме
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-area">
        <div class="pagination">
          <div class="pag-num _active">
            <img class="menu-icon pagination-img" src="img/pagination-img.svg" alt="">
            <span class="pag-num">1</span>
          </div>
          <div class="pag-num ">
            <span class="pag-num">2</span>
          </div>
          <div class="pag-num ">
            <span class="pag-num">3</span>
          </div>
          <div class="pag-num ">
            <span class="pag-num">4</span>
          </div>
          <div class="pag-num ">
            <span class="pag-num">5</span>
          </div>
          <div class="pag-num ">
            <img class="menu-icon pagination-img " src="img/pagination-img.svg" alt="">
            <span class="pag-num">6</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
