<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>

<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
    </div>
  </div>
  <%= _.template(require('./../includes/holy-block/holy-block-category-holy.html').default)(data) %>
</div>
<div class="main-area-fluid">
  <div class="main-area">
    <div class="holy-title-page title-block">
      <div class="title">
        Подать церковную записку
      </div>
    </div>
    <div class="note-form-wrapper landing-note-form-wrapper">

      <div class="note-form-container">
        <div class="note-form-area">
          <form class="note-form _rest">
            <div class="note-border-line-1">
              <div class="note-border-line-2">
                <div class="note-content">
                  <img class="note-form-img-health" src="img/form-pic.png" alt="">
                  <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                  <div class="title">
                    Неусыпаемая псалтырь
                    <br>о здравии, на 1 год
                    <br>в сретенский монастырь
                  </div>
                  <div class="inputs">
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="note-form-settings">
          <div class="note-option select-temple">
            <div class="option-title">
              Храм куда будет отправлена записка
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Круглосуточное поминовение о здравии и спасении
              при чтении псалтири в обители на указанный срок
            </div>
          </div>

          <div class="note-option select-type-note">
            <div class="option-title">
              Тип записки
            </div>
            <div class="switch-buttons _mini">
              <div class="switch-buttons-switch">
                <button class="btn ">
                  О здравии
                </button>
                <button class="btn _rest _active" >
                  Об упокоении
                </button>
              </div>
            </div>
            <!--      <div class="option-btn">-->
            <!--        <button class="btn active">О здравии</button>-->
            <!--        <button class="btn">Об упокоении</button>-->
            <!--      </div>-->
            <div class="option-info">
              Молитвенное поминовение имен о здравии во время <br>Божественной Литургии
            </div>
          </div>
          <div class="note-option">
            <div class="option-title">
              Вид требы
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Круглосуточное поминовение о здравии и спасении
              при чтении псалтири в обители на указанный срок
            </div>
          </div>
          <div class="note-option">
            <div class="option-title">
              Сроки исполнения требы
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Срок исполнения зависит от вида требы и расписания <br>
              богослужений в выбранном храме или монастыре
            </div>
          </div>
          <a href="/" class="faq-how-create-note">
            Как правильно написать имя в записку?
          </a>
          <div class="note-option note-option-additional">
            <div class="option-title">
              Дополнительные услуги
            </div>
            <div class="note-option-checkbox-list">
              <label class="checkbox">
                <input type="checkbox" class="normal-checkbox" id="u-3" name="request-access" value="private">
                <div class="label" for="u-3"></div>
                <span class="checkbox-text">Поставить свечку</span>
              </label>
              <label class="checkbox">
                <input type="checkbox" class="normal-checkbox" id="u-3" name="request-access" value="private">
                <div class="label" for="u-3"></div>
                <span class="checkbox-text">Именной кирпичик</span>
              </label>
            </div>
            <a href="#" class="note-faq">
              Как правильно написать имя в записку?
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="note-pay ">
      <div class="note-total-price">
        <div class="total">Итого к оплате</div>
        <div class="money">0<span>₽</span></div>
      </div>

      <div class="note-pay-btn-area">
        <button class="btn-rich-greenish-yellow ">Подать записку</button>
        <button  class="btn-border mobile-fav">
          <img class="menu-icon" src="img/favorite.svg" alt="">
        </button>
        <button class="btn-border pc-fav">
          добавить в избранное</button>
      </div>

    </div>
  </div>
</div>
<%= _.template(require('./../includes/slider-temples/slider-temples.html').default)(data) %>


<div class="main-area-fluid white-bg">
  <div class="main-area">
    <div class="about-monastery">
      <div class="title-block">
        <div class="title">
          О монастыре
        </div>
      </div>
      <div class="monastery-area">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="monastery-area__title-block">
              <div class="monastery-area__title-big">Сретенский женский монастырь</div>
            </div>
            <div class="monastery-description">
              <p>Монастырь в прибайкальском Батурино появился лишь в 2000 году. А вот церковь села
                ведет свою историю с начала XVIII века. Храм находился в местах проживания малых
                народов Сибири, старообрядцев и ссыльных людей, потому нес функцию миссионерского центра. Сретенская церковь была перестроена из деревянной в каменную к 1836 году.
                Примерно в то же время при приходе священники Иоанн и Василий открыли первую
                в Прибайкалье народную школу для местного населения. </p>
              <br>
              <p>
                Деревенский храм стал полноценным социокультурным центром.К сожалению,
                с приходом к власти большевиков храм был закрыт, а все постройки рядом с ним
                снесены. Само здание церкви не пострадало, поскольку сельсовет принял решение
                разместить в храме клуб.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="monastery-area__title-block ">
              <div class="monastery-area__title-mini">Сретенский женский монастырь</div>
            </div>
            <div class="monastery-description">
              <p >
                Здесь Вы можете заказать молебен и (или)
                церковную требу перед иконой "Неупиваемая
                Чаша" . Перед чудотворным образом Пресвятой
                Богородицы "Неупиваемая Чаша" молятся:
                <br>
                <br>
                Молебен о помощи в избавлении
                от алкоголизма/наркомании и прочих
                зависимостей
                <br>
                <br>
                Молебен о благополучии детей
                <br>
                <br>
                Молебен за родных и близких, которые
                утратили нравственные принципы
                <br>
                <br>
                Молебен о помощи при покупке/продаже
                имущества
              </p>

            </div>
          </div>
        </div>

      </div>
      <!--<div class="monastery-area">-->
        <!--<div class="title-block">-->
          <!--<div class="monastery-title">Сретенский женский монастырь</div>-->
          <!--&lt;!&ndash;<button class="btn btn-border btn-fav-monastery">&ndash;&gt;-->
            <!--&lt;!&ndash;добавить храм в избранное&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="monastery-photos-list monastery-photo-slick">-->
          <!--<a  href="img/photo.jpg" data-fancybox="gallery" class="monastery-photo">-->
            <!--<img src="img/photo.jpg"  alt="">-->
          <!--</a>-->
          <!--<a  href="img/photo.jpg" data-fancybox="gallery" class="monastery-photo">-->
            <!--<img src="img/photo.jpg" alt="">-->
          <!--</a>-->
          <!--<a href="img/photo.jpg"  data-fancybox="gallery" class="monastery-photo">-->
            <!--<img src="img/photo.jpg" alt="">-->
          <!--</a>-->
          <!--<a href="/" class="monastery-photo all-monastery-photo">-->
            <!--<img src="img/photo.jpg" alt="">-->
            <!--<p href="/" class="text">-->
              <!--еще 12 фото-->
              <!--<br>в фотоальбоме-->
            <!--</p>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="monastery-description">-->
          <!--<p>Восстановление началось только в 1999 году. При приходе образовалась женская-->
            <!--монашеская община. По благословению Читинского епископа Евстафия в Батурино-->
            <!--на базе храма был открыт монастырь. В Бурятии Сретенская обитель является первой-->
            <!--и единственной среди женских монастырей. Постепенно храмовая территория была-->
            <!--застроена гостиницей, кельями монахинь и хозяйственными постройками. </p>-->
          <!--<br>-->
          <!--<p>-->
            <!--Монастырь расположился в 100 километрах от озера Байкал в долине Итанца.-->
            <!--При обители проживают 12 насельниц. Ежедневно они возносят молитвы в Сретенском женском монастыре Батурино о мире всего мире и просьбами о помиловании Господом-->
            <!--всех людей. В храме обители хранятся такие святыни как частица Креста, на котором-->
            <!--был распят Спаситель, фрагменты мощей Спиридона Тримифунтского...-->
          <!--</p>-->
        <!--</div>-->
        <!--<div class="monastery-location">-->
          <!--<img src="img/location.jpg" alt="">-->
        <!--</div>-->
        <!--<div class="monastery-slider slider-area">-->
          <!--<div class="title">-->
            <!--Мы рекомендуем-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    </div>
  </div>
</div>



<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
