<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>

<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>

<div class="certificate-page-area">

  <div class="main-area-fluid">
    <div class="main-area header-area">
      <header class="header">
        <div class="header-up">
          <div class="drop-window-menu-profile drop-window-navigation">
            <div class="drop-navigation-area">
              <div class="drop-navigation-block">
                <div class="drop-navigation-col">
                  <div class="drop-navigation-title">Молебны</div>
                  <a class="drop-navigation-link" href="/">Отношения в семье</a>
                  <a class="drop-navigation-link" href="/">Беременность</a>
                  <a class="drop-navigation-link" href="/">Благополучие детей</a>
                  <a class="drop-navigation-link" href="/">Личные проблемы</a>
                  <a class="drop-navigation-link" href="/">Проблемы со здоровьем</a>
                  <a class="drop-navigation-link" href="/">Финансовые проблемы</a>
                </div>
              </div>
              <div class="drop-navigation-block">
                <div class="drop-navigation-col">
                  <div class="drop-navigation-title">простые записки</div>
                  <a class="drop-navigation-link" href="/">В монастыри</a>
                  <a class="drop-navigation-link" href="/">К праздникам</a>
                  <a class="drop-navigation-link" href="/">К иконам</a>
                  <a class="drop-navigation-link" href="/">К святым</a>
                </div>
              </div>
              <div class="drop-navigation-block">
                <div class="drop-navigation-col">
                  <div class="drop-navigation-title">иное</div>
                  <a class="drop-navigation-link" href="/">Празднование именин</a>
                  <a class="drop-navigation-link" href="/">Поздравительные
                    сертификаты</a>
                </div>
              </div>
            </div>
          </div>

          <div class="mobile-menu" name="left-menu-mobile">
            <img src="img/mobile-menu.png" alt="Меню">
          </div>
          <a class="header-logo" href="/">
            <img class="img-fluid" src="img/logo.png" alt="Елицы записки">
            <img class="img-fluid-mobile" src="img/logo-mobile.png" alt="Елицы записки">
          </a>

          <button class="header-menu btn-rich-greenish-yellow" name="catalog-pc">
            <img class="header-menu-icon" src="img/icon-3.svg" alt="">
            <span class="header-menu-name">Меню</span>
          </button>

          <form class="header-search input-container">
            <input type="text" placeholder="Введите название храма, святого или иконы">
            <button class="search" type="submit">
              <img src="img/icon-4.svg" alt="">
            </button>
          </form>
          <button class="search btn-mobile-search"
                  name="mobile-bottom-search"
                  type="submit">
            <img src="img/icon-4.svg" alt="">
          </button>
          <div class="menu-profile">
            <div class="menu-profile-item pc-profile-item-cabinet profile-enter-cabinet">
              <div class="cabinet-icon">
                <img class="menu-icon" src="img/cabinet.svg" alt="Мой кабинет">
              </div>
              <span>Мой кабинет</span>
            </div>
            <a class="menu-profile-item mob-profile-item-cabinet">
              <div class="cabinet-icon">
                <img class="menu-icon" src="img/cabinet-ccc.svg" alt="Мой кабинет">
              </div>
            </a>
            <a href="/" class="menu-profile-item pc-profile-item-cabinet">
              <div class="cabinet-icon">
                <img class="menu-icon menu-profile-item favourites-icon" src="img/favourites.svg" alt="Избранное">
              </div>
              <span>Избранное</span>
            </a>
            <a href="/" class="menu-profile-item pc-profile-item-cabinet">
              <div class="cabinet-icon">
                <img class="menu-icon menu-profile-item basket-icon" src="img/basket.svg" alt="Корзина">
              </div>
              <span>Корзина</span>
            </a>
          </div>
        </div>

        <div class="header-down">
          <button class="header-menu btn-rich-greenish-yellow" name="left-catalog">
            <img class="header-menu-icon"
                 src="img/icon-3.svg"
                 alt="">
            <span class="header-menu-name">Каталог</span>
          </button>
          <nav class="navigation-header-area">
            <div class="navigation-header">
              <a href="/" class="link active">
                Что такое церковные записки?
              </a>
              <a href="/" class="link">
                Ближайшие праздники
              </a>
              <a href="/" class="link">
                Написать записку
              </a>
              <a href="/" class="link" style="margin-left: auto">
                О проекте
              </a>
              <a href="/" class="link">
                Отзывы
              </a>
              <!--          <img class="" src="img/img-header-vector.png" alt="">-->
            </div>
            <button class="header-gift btn-dark-yellow-green">

              <img class="header-gift-icon"
                   src="img/gift.svg"
                   alt="Подарок">
              <span class="header-gift-text">
        Активировать подарочный сертификат
      </span>
            </button>
          </nav>
        </div>

      </header>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector1-area">
        <div class="title-block free-note-title-block">
          <div class="title">
            Подарите молитву вашим близким к православныи праздникам
          </div>
        </div>
        <div class="free-note-text">
          <div class="free-note-info">
            <p>
              С помощью сервиса Елицы.Записки вы можете отправить просьбу о молитве в любой из 28 храмов и
              монастырей и получить сертификат о прочтении молебны, который вы сможете преподнести близким в качестве
              подарка
            </p>
            <div class="teleport-img-mob"></div>
          </div>
          <p>
    <span>
Наш сервис позволяет подать записки
в один или несколько храмов.
    </span>
          </p>
        </div>

        <div class="free-img-block">
          <div class="teleport-img-pc">
            <img
              class="free-img"
              src="img/certificate-pic.png"
              alt="Подарок">
          </div>
        </div>

        <div class="btn-area">
          <button class="btn btn-blue">
            Написать записку
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="landing-note-content">
        <div class="certificate-gift-area-title">
          Именной сертификат о молитве
        </div>
        <div class="certificate-gift-area">
          <div class="certificate-gift-border">
            <img src="img/certificate.png" alt="">
            <div class="certificate-gift-title">
              Полученный по почте сертификат можно переслать родным и близким или распечатать
              и подарить лично в виде открытки с пожеланиями здоровья и благополучия.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area">
      <div class="content what-notes-landing">
        <div class="title-block">
          <div class="title">
            Для чего подают
            <br>церковные записки?
          </div>
        </div>
        <div class="notes-landing-info">
          <div class="block-text">
            <p>
              Все мы молимся Богу за себя и своих близких. Это можно делать везде – дома,
              в дороге и на работе. И везде Господь слышит нас и отвечает на нашу молитву.
              Вместе с тем сам Спаситель Говорил о том, что соборная молитва всей Церкви
              о человеке имеет особую силу. Именно поэтому мы подаём за своих близких
              записки на литургию, просим священников отслужить молебен или панихиду,
              чтобы соборная молитва была вознесена о вас и ваших близких
              на богослужениях.
            </p>
            <span>Наш сервис позволяет подать записки
       в один или несколько храмов.</span>
          </div>
          <div class="block-img">
            <img class="img-form" src="img/what-notes-form-img.png" alt="Рисунок">

            <div class="landing-gift">
              <img class="landing-gift-img" src="img/landing-gift.png" alt="Подарок">
              <div class="landing-gift-circle">
                <div class="gift-circle-title">
                  3 первые
                  записки
                  в подарок!
                </div>
                <div class="gift-circle-text">
                  Получите три первых записки
                  в подарок от нашего сервиса
                  при регистрации в личном кабинете
                </div>
                <div class="btn-area center">
                  <button class="btn-rich-greenish-yellow landing-gift-btn">
                    получить подарок
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector3-area">
        <div class="title-block free-note-title-block">
          <div class="title _big">
            Как происходит обработка записок
          </div>
        </div>
        <div class="processing-note-row">
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num1"></div>
              <div class="processing-note-img">
                <img src="img/free-note-img-2.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>
                  Вы заполняете именами форму
                </p>
              </div>
            </div>
          </div>
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num2"></div>
              <div class="processing-note-img img-num2">
                <img src="img/free-note-img-3.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>
                  Мы отправляем вашу записку
                  в выбранный вами храм или монастырь
                </p>
              </div>
            </div>
          </div>
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num3"></div>
              <div class="processing-note-img img-num3">
                <img src="img/free-note-img-4.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>
                  В течении следующих суток в храме пройдет исполнение записки священником во время литургии
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area">
      <div class="content  pray-area holiday-landing">
        <div class="title-block">
          <div class="title">Подайте записку на ближайшие
            <br>церковные праздники
          </div>
          <a href="#" class="btn-all-holiday btn-dark-yellow-green">Посмотреть все праздники</a>
        </div>
      </div>

      <div class="slider-name-certificate">
        <div class="card-holiday slide-holiday-landing">
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name slide-holiday-landing-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area slide-holiday-landing-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
        <div class="card-holiday slide-holiday-landing">
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name slide-holiday-landing-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area slide-holiday-landing-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
        <div class="card-holiday slide-holiday-landing">
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name slide-holiday-landing-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area slide-holiday-landing-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
        <div class="card-holiday slide-holiday-landing">
          <img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">
          <div class="card-holiday-name slide-holiday-landing-name">
            Празднование святого
            николая чудотворца
          </div>
          <div class="card-holiday-btn-area slide-holiday-landing-btn-area">
            <a href="/" class="btn-rich-greenish-yellow">
              Подробнее о празднике
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="main-area-fluid">
    <div class="main-area">
      <div class="note-form-wrapper landing-note-form-wrapper">
        <div class="note-form-container">
          <div class="note-form-area">
            <form class="note-form ">
              <div class="note-border-line-1">
                <div class="note-border-line-2">
                  <div class="note-content">
                    <img class="note-form-img-health" src="img/form-pic.png" alt="">
                    <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                    <div class="title">
                      Неусыпаемая псалтырь
                      о здравии, на 1 год
                      в сретенский монастырь
                    </div>
                    <div class="inputs">
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="note-form-settings">
            <div class="note-option select-temple">
              <div class="option-title">
                Храм куда будет отправлена записка
                <!--        <img src="./images/12.png" alt=""-->
                <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
              </div>
              <div class="select-type-1">
                <div class="input-select">
                  <div class="select ">
                    <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                    <div class="select-btn">
                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>Неусыпаемая Псалтырь </span>
                      <span>Празднование именин</span>
                      <span>Поздравительные сертификаты</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="note-option">
              <div class="option-title">
                Выберите праздник
                <!--        <img src="./images/12.png" alt=""-->
                <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
              </div>
              <div class="select-type-1">
                <div class="input-select">
                  <div class="select ">
                    <span>24 Апреля | ВОСКРЕШЕНИЕ ПРАВЕДНОГО ЛАЗАРЯ</span>
                    <div class="select-btn">

                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>Неусыпаемая Псалтырь </span>
                      <span>Празднование именин</span>
                      <span>Поздравительные сертификаты</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="note-option">
              <div class="option-title">
                Вид требы
                <!--        <img src="./images/12.png" alt=""-->
                <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
              </div>
              <div class="select-type-1">
                <div class="input-select">
                  <div class="select ">
                    <span>Неусыпаемая Псалтырь </span>
                    <div class="select-btn">

                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>Неусыпаемая Псалтырь </span>
                      <span>Празднование именин</span>
                      <span>Поздравительные сертификаты</span>
                    </div>
                  </div>

                </div>
              </div>
              <div class="option-info">
                Круглосуточное поминовение о здравии и спасении
                <br>при чтении псалтири в обители на указанный срок
              </div>
            </div>
            <div class="note-option">
              <div class="option-title">
                Сроки исполнения требы
                <!--        <img src="./images/12.png" alt=""-->
                <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
              </div>
              <div class="select-type-1">
                <div class="input-select">
                  <div class="select ">
                    <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                    <div class="select-btn">

                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>Неусыпаемая Псалтырь </span>
                      <span>Празднование именин</span>
                      <span>Поздравительные сертификаты</span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="option-info">
                Срок исполнения зависит от вида требы и расписания <br>
                богослужений в выбранном храме или монастыре
              </div>
            </div>
            <a href="/" class="pc-faq-how-create-note">
              Как правильно написать имя в записку?
            </a>
            <a href="/" class="faq-how-create-note">
              Как правильно написать имя в записку?
            </a>
          </div>
        </div>
      </div>
      <div class="note-pay ">
        <div class="note-total-price">
          <div class="total">Итого к оплате</div>
          <div class="money">0<span>₽</span></div>
        </div>

        <div class="note-pay-btn-area">
          <button class="btn-rich-greenish-yellow ">Подать записку</button>
        </div>

      </div>

    </div>
  </div>
  <div class="main-area-fluid">
    <div class="main-area">
      <div class="content note-el-area">
        <div class="title-block">
          <div class="title">
            О проекте
            <br>Елицы.Записки
          </div>
        </div>
        <div class="note-el-info">
          <div class="description">
            Елицы Записки – онлайн-сервис по подаче записок, заказу молебнов и других
            церковных треб в храмах и монастырях России и мира.
            Служба Елицы Записки предназначена, в первую очередь, для тех, у кого
            нет возможности самостоятельно побывать в паломничестве и вознести
            молитвы перед почитаемыми христианскими святынями.
            <br class="depart">
            <br class="depart">
            <div class="list-statistics mob-v">
              <div class="statistics-item">
                <div class="num">36</div>
                <div class="text">святых
                  <br>мест
                </div>
                <div class="desc">
                  Храмы, церкви и монастыри
                  в самых удаленных
                  уголках Земли
                </div>
              </div>
              <div class="statistics-item">
                <div class="num">67</div>
                <div class="text">икон
                  <br>и мощей
                </div>
                <div class="desc">
                  Редкие чудотворные иконы
                  и мощи православных
                </div>
              </div>
              <div class="statistics-item">
                <div class="num">128</div>
                <div class="text">праздников</div>
                <div class="desc">Церковные события, в честь
                  которых можно помолиться
                </div>
              </div>
            </div>
            У каждого пользователя нашего сервиса есть возможность подать записки
            о своих близких в самые удаленные монастыри России и мира, с которыми
            сохранено евхаристическое общение. Наша служба имеет договоренности
            с монастырями об исполнении ваших треб и вознесении молитв
            о вас и ваших близких.
          </div>
          <div class="list-statistics">
            <div class="statistics-item">
              <div class="num">36</div>
              <div class="text">святых
                <br>мест
              </div>
              <div class="desc">
                Храмы, церкви и монастыри
                в самых удаленных
                уголках Земли
              </div>
            </div>
            <div class="statistics-item">
              <div class="num">67</div>
              <div class="text">икон
                <br>и мощей
              </div>
              <div class="desc">
                Редкие чудотворные иконы
                и мощи православных
              </div>
            </div>
            <div class="statistics-item">
              <div class="num">128</div>
              <div class="text">праздников</div>
              <div class="desc">Церковные события, в честь
                которых можно помолиться
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= _.template(require('./../includes/reviews/reviews.html').default)(data) %>

  <div class="main-area-fluid main-sector6-area">
    <div class="main-area main-content ">
      <div class="sector6-area">
        <div class="title-block free-note-title-block">
          <div class="title _big">
            О нашем сервисе
          </div>
        </div>
        <div class="sector6-list">
          <div class="sector6-col">
            <div class="sector6-item">
              <div class="sector6-item-title">
                Более 20 святынь
              </div>
              <div class="sector6-item-text">
                <p>
                  Большой выбор типов записок, которые могут быть доставлены в самые крупные храмы и монастыри
                </p>
              </div>
            </div>
          </div>
          <div class="sector6-col">
            <div class="sector6-item">
              <div class="sector6-item-title">
                Работаем с 2013 года
              </div>
              <div class="sector6-item-text">
                <p>
                  Удобный и надежный способ передачи записок, не выходя из дому
                </p>
              </div>
            </div>
          </div>
          <div class="sector6-col">
            <div class="sector6-item">
              <div class="sector6-item-title">
                Более 30 сотрудников
              </div>
              <div class="sector6-item-text">
                <p>
                  Все сотрудники проекта — воцерковленные люди, регулярно приступающие к таинствам
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>


<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
