<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="sub-question-area">
        <div class="title-block">
          <div class="title">
            Вопрос-ответ
          </div>
        </div>
        <div class="news-detail ">
          <div class="news-block-content">
            <div class="question-form-area">
              <div class="question-form-header">
                <div class="question-form-title">
                  Задать свой вопрос
                </div>
                <div class="question-form-user">
                  <img src="img/share-vk.png" alt="">
                  <div class="question-form-user-name">Дмитрий Тиняков</div>
                </div>
              </div>
              <div class="input-container question-input-container">
                <div class="input-area">
                  <input type="text" placeholder="введите заголовок вопроса">
                </div>
              </div>
            </div>
            <div class="question-area">
              <div class="question-title">
                Пример святых Иоакима и Анны. Как ввести во храм
                своего ребёнка?
              </div>
              <div class="question-info">
                <div class="question">
                  Помолитесь же и о себе, чтобы быть отрадой своим родителям, а также о Ваших детях, чтобы Бог
                  даровал им счастье в этой и будущей жизни! Помолитесь же и о себе, чтобы быть отрадой своим
                  родителям, а также о Ваших детях, чтобы Бог даровал им счастье в этой и будущей жизни!
                  Помолитесь же и о себе, чтобы быть отрадой своим родителям, а также о Ваших детях, чтобы Бог
                  даровал им счастье в этой и будущей жизни! Помолитесь же и о себе, чтобы быть отрадой своим
                  родителям, а также о Ваших детях, чтобы Бог даровал им счастье в этой и будущей жизни!
                </div>
                <div class="question-info-answer">
                  <span>Ответ:</span> Порой случается так, что муж и жена нежно любят друг друга, телесно и духовно
                  здоровы,
                  благочестивы, но долгое время не могут зачать дитя. Почему же так происходит? Бездетность пары
                  до определённого времени может испытывать крепость веры будущих родителей. Из Библии мы знаем,
                  что Авраам и Сара, Захарий и Елисавета, Иоаким и Анна и некоторые другие благочестивые супруги
                  по нескольку лет не могли зачать ребёнка, но не опускали рук и не оставляли своего упования
                  на Господа. И по силе их веры Господь посылал им детей. Добрых, праведных и послушных.
                </div>
              </div>
            </div>
            <div class="question-area">
              <div class="question-title">
                Пример святых Иоакима и Анны. Как ввести во храм
                своего ребёнка?
              </div>
            </div>
            <div class="question-form-area">
              <div class="question-form-header">
                <div class="question-form-title">
                  Задать свой вопрос
                </div>
                <div class="question-form-user">
                  <img src="img/share-vk.png" alt="">
                  <div class="question-form-user-name">Дмитрий Тиняков</div>
                </div>
              </div>
              <div class="input-container question-input-container">
                <div class="input-area">
                  <input type="text" placeholder="введите заголовок вопроса">
                </div>
              </div>
              <div class="question-text">
                <div class="input-container question-input-container">
                  <div class="input-area">
                    <textarea type="text" placeholder="введите текст вопроса"></textarea>
                  </div>
                </div>
                <div class="btn-area right">
                  <button class="btn btn-border">Отмена</button>
                  <button class="btn btn-rich-greenish-yellow">Задать вопрос</button>
                </div>
              </div>
            </div>
          </div>
          <div class="news-block-img-list">
            <div class="list-cards no-slider fix-margin">
              <div class="card">
                <button class="card-favorite _active">
                  <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
                </button>
                <div class="header-img">
                  <img src="img/card-holiday.png" alt="">
                </div>
                <div class="card-info">
                  <div class="card-name">
                    Празднование Введения
                    во храм Пресвятой
                    Богородицы
                  </div>
                  <div class="card-description">
                    в Введенский Владычий
                    монастырь
                  </div>
                </div>
                <div class="btn-area center">
                  <button class="btn btn-rich-greenish-yellow">
                    заказать молебен
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
