<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<div class="main-area-fluid">
  <div class="main-area">
    <div class="redirect-design d-flex align-items-md-center align-items-start flex-md-row flex-column">
      <img class="redirect-design__image"
           src="img/zapiski-new.png"
           alt="Новые записки">
      <div class="redirect-design__title">Елицы.записки в новом дизайне!</div>
      <a href="/" class="redirect-design__link">
        Для перехода к старому - <span>нажмите здесь</span>
      </a>
      <div class="redirect-design__close d-flex">
        <img  width="14px" height="14px"  src="img/close.png" alt="Закрыть">
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">

    <%= _.template(require('./../includes/left-accordion-menu/left-accordion-menu.html').default)(data) %>

    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>

      <!--<div class="accordion-menu-content">-->
      <!--<div class="accordion-menu-content-title">-->
      <!--Поставьте свечку-->
      <!--</div>-->
      <!--<div class="content-filter-block put-candle _open">-->
      <!--<div class="content-header">-->
      <!--<div class="title">-->
      <!--выберите подходящий фильтр:-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="choice-string-list">-->
      <!--<div class="choice-string format-note">-->
      <!--<div class="choice-label">-->
      <!--Место назначения:-->
      <!--</div>-->
      <!--<div class="choice-content">-->
      <!--<button class="mini-p btn btn-dark-yellow-green">-->
      <!--В Храме-->
      <!--</button>-->
      <!--<button class="mini-p btn btn-border ">-->
      <!--К святому-->
      <!--</button>-->
      <!--<button class="mini-p btn btn-border ">-->
      <!--К иконе-->
      <!--</button>-->
      <!--<button class="mini-p btn btn-border ">-->
      <!--К Празднику-->
      <!--</button>-->

      <!--</div>-->
      <!--</div>-->
      <!--<div class="choice-string  format-note">-->
      <!--<div class="choice-label">-->
      <!--Тип молитвы:-->
      <!--</div>-->
      <!--<div class="choice-content">-->
      <!--<button class="mini-p btn btn-dark-yellow-green">-->
      <!--О здравии-->
      <!--</button>-->
      <!--<button class="mini-p btn btn-border ">-->
      <!--об упокоении-->
      <!--</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="choice-string format-note">-->
      <!--<div class="choice-label">-->
      <!--Размер свечи:-->
      <!--</div>-->
      <!--<div class="choice-content add-features">-->
      <!--<div class="switch-btn">-->
      <!--<button class="btn _active btn-dark-yellow-green">-->
      <!--маленькая-->
      <!--</button>-->
      <!--<button class="btn ">-->
      <!--средняя-->
      <!--</button>-->
      <!--<button class="btn ">-->
      <!--<button class="btn ">-->
      <!--большая-->
      <!--</button>-->
      <!--</div>-->
      <!--</div>-->

      <!--</div>-->

      <!--</div>-->
      <!--</div>-->

      <!--</div>-->
      <!---->
      <!--<div class="catalog-filter-block">-->

      <!--<div class="input-select h-30 catalog-filter">-->
      <!--<div class="select ">-->
      <!--<span>сначала популярные</span>-->
      <!--<div class="select-btn">-->
      <!--<img src="img/cabinet-navigation-mobile-btn.png" alt="">-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="options-result">-->
      <!--<div class="options">-->
      <!--<span>Неусыпаемая Псалтырь </span>-->
      <!--<span>Празднование именин</span>-->
      <!--<span>Поздравительные сертификаты</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<button class="btn   btn-border pc-catalog-filter-btn">-->
      <!--Свернуть фильтр-->
      <!--</button>-->
      <!--<button class="btn  btn-border mobile-catalog-filter-btn">-->
      <!--фильтр-->
      <!--<span class="filter-count">5</span>-->
      <!--</button>-->
      <!--</div>-->

      <!--<div class="list-cards no-slider">-->
      <div class="container-card">
        <div class="row row-ml-5 row-mr-5">
          <div class="card-new-col col-pl5 col-pr5 col-md-4 col-sm-6 col-6">
            <div class="card-new d-flex flex-column">
              <button class="card-favorite">
                <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="card-new__body">
                <div class="card-new__image">
                  <img src="img/card-new-image.jpg" alt="Икона">
                </div>
                <div class="card-new__info">
                  <div class="card-new__name">
                    Празднование
                  </div>
                  <div class="card-new__button-area">
                    <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                      заполнить имена
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card-new-col col-pl5 col-pr5  col-md-4 col-sm-6 col-6">
            <div class="card-new d-flex flex-column">
              <button class="card-favorite">
                <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="card-new__body">
                <div class="card-new__image">
                  <img src="img/card-new-image.jpg" alt="Икона">
                </div>
                <div class="card-new__info">
                  <div class="card-new__name">
                    Празднование
                    святого николая
                    чудотворца чудотворца чудотворца
                  </div>
                  <div
                    class="card-new__button-area d-flex align-items-center justify-content-between flex-sm-row flex-column">
                    <div class="card-new__price mr-20 ml-10">1 500<span>Р</span></div>
                    <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                      В корзину
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-new-col col-pl5 col-pr5  col-md-4 col-sm-6 col-12">
            <div class="card-new-gift">
              <div class="card-new-gift__image">
                <img src="img/card-new-gifr.svg" alt="Подарок">
              </div>
              <div class="card-new-gift__body card-new-gift-body">
                <div class="card-new-gift-body__title">
                  3 первые записки
                  в подарок!
                </div>
                <div class="card-new-gift-body__info">
                  Получите три первых записки в подарок от нашего сервиса при регистрации
                  в личном кабинете
                </div>
                <div class="card-new-gift-body__buttom-area">
                  <a href="/" class="btn btn-white-bg card-new-gift-body__button">
                    зарегистрироваться
                  </a>
                </div>
              </div>

            </div>
          </div>
          <div class="card-new-col col-pl5 col-pr5  col-md-4 col-sm-6 col-6">
            <div class="card-new d-flex flex-column">
              <button class="card-favorite">
                <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="card-new__body">
                <div class="card-new__image">
                  <img src="img/card-new-image.jpg" alt="Икона">
                </div>
                <div class="card-new__info">
                  <div class="card-new__name">
                    Празднование
                    святого николая
                    чудотворца
                  </div>
                  <div class="card-new__button-area">
                    <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                      заполнить имена
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card-new-col col-pl5 col-pr5  col-md-4 col-sm-6 col-6">
            <div class="card-new d-flex flex-column">
              <button class="card-favorite">
                <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="card-new__body">
                <div class="card-new__image">
                  <img src="img/card-new-image.jpg" alt="Икона">
                </div>
                <div class="card-new__info">
                  <div class="card-new__name">
                    Празднование
                    святого николая
                    чудотворца
                  </div>
                  <div class="card-new__button-area">
                    <a href="/" class="btn btn-rich-greenish-yellow card-new__button">
                      заполнить имена
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="place-helper-mob helper-mob-ver">

      </div>
    </div>

  </div>
  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
