<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area">
        <div class="title-block ">
          <div class="title">
            Именной кирпичик
          </div>
        </div>
        <div class="brick-content-area">
          <p>«Именной кирпичик» — это старинная традиция, когда на Руси храмы строили всем миром!
            <br>«Именной кирпичик» — это вечная молитва о вас, ваших родных и близких, которая за каждой Литургией будет
            возноситься ко престолу Божиему, до тех пор, пока стоит Храм и Монастырь. За каждой Литургией священник
            возносит молитву в особом прошении на ектении за создателей, благотворителей и украсителей своего
            храма или монастыря.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-area-fluid vector">
    <div class="main-area-fluid mt brick-area">
      <img  src="img/brick.png" alt="" class="brick-photo">
      <div class="main-area main-content">
        <div class="brick-form-area">
          <form class="note-form note-brick-form">
            <div class="note-price-circle-area">
              <div class="note-price-circle">
                <p class="price-circle"><span>3 200</span> ₽</p>
              </div>
            </div>
            <div class="note-border-line-1">
              <div class="note-border-line-2">
                <div class="flex-input-container">
                  <div class="input-container">
                    <div class="input-area">
                      <input type="text" placeholder="Введите имя">
                    </div>
                  </div>
                  <div class="input-container">
                    <div class="input-area">
                      <input type="text" placeholder="Введите имя">
                    </div>
                  </div>
                </div>
                <div class="flex-input-container">
                  <div class="input-container">
                    <div class="input-area">
                      <input type="text" placeholder="Введите имя">
                    </div>
                  </div>
                  <div class="input-container">
                    <div class="input-area">
                      <input type="text" placeholder="Введите имя">
                    </div>
                  </div>
                </div>
                <div class="temple-form">
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                    <div class="temple-form-select">Выбрать храм (ы) или монастырь (и)</div>
                  </div>
                </div>
                <div class="temple-form" title="Это появляется когда один храм добавлен">
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                  </div>
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                  </div>
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                  </div>
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                  </div>
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/plus.png" alt="Добавить храм">
                    </div>
                  </div>
                </div>
                <div class="temple-form-price">
                  <span>12 350</span> ₽
                </div>
                <div class="btn-area between temple-form-buttons">
                  <button class="btn btn-border">добавить в корзину</button>
                  <button class="btn btn-rich-greenish-yellow">оплатить</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="main-area-fluid ">
    <div class="main-area">
      <div class="monastery-slider slider-area brick-slider">
        <div class="title">
          храмы и монастыри, участвующие в проекте
        </div>

        <div class="list-cards recommend-slider">
          <div class="card _mini-no-btn">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
            </div>
          </div>
          <div class="card _mini-no-btn">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                Свято-Троице
                Серапионова
                мужская пустынь
              </div>
            </div>
          </div>
          <div class="card _mini-no-btn">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                Успенский Шаровкин
                женский монастырь
              </div>
            </div>
          </div>
          <div class="card _mini-no-btn">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                Храм Введения во Храм
                Пресвятой Богородицы
                дер. Хотово
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-area-fluid">
    <div class="main-area">
      <div class="brick-info-content">
        <div class="brick-info-col">
          <div class="brick-info-title">
            Именной кирпич
          </div>
          <div class="brick-info">
            <p>
              Это обычный строительный кирпич, на котором указано имя того
              человека, кто пожертвовал на храм, или имя человека, за которого
              внесли пожертвование. На собранные средства приобретаются
              строительные кирпичи и другие стройматериалы, необходимые
              для строительства храма, а имена жертвователей записываются
              на стены строящегося храма и вносятся в специальную церковную
              книгу для поминовения на каждом богослужении.
            </p>
          </div>
          <div class="brick-info-title">
            Что даёт именной кирпич
          </div>
          <div class="brick-info">
            <p>
              — За человека, чьё имя указано на кирпичике, будут молиться
              на каждом богослужении как за строителя до тех пор, пока будет
              стоять Храм.
            </p>
          </div>
        </div>
        <div class="brick-info-col">
          <div class="brick-info-title">
            Как это работает?
          </div>
          <div class="brick-info">
            <p>
              — Вы через специальную форму указываете имена людей, которые
              будут подписаны на именных кирпичах.
              <br><br>
              — После ввода имен, вы выбираете Храм или Монастырь в который
              вы хотите сделать пожертвование.
              <br><br>
              — Мы передаем список имен и ваше пожертвование
              в Храм или Монастырь.
              <br><br>
              — Служители Храма или Монастыря подписывают именные кирпичи
              именами указанными вами в записке.
              <br><br>
              — Кирпичи идут на строительство Храма или Монастыря, а имена
              записываются в специальную церковную книгу для поминовения
              на каждом богослужении.
              <br><br>
              — После записи в церковную книгу на вашу электронную почту
              мы пришлем сертификат с указанными вами именами и указанием
              Храма или Монастыря.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
