<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>

<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>

<a class="btn btn-rich-greenish-yellow" href="#thank-modal" rel="modal:open">
  Спасибо за отправку записки!
</a>
<a class="btn btn-rich-greenish-yellow" href="#share-modal" rel="modal:open">
  Поделитесь со своими близкими!
</a>
<a class="btn btn-rich-greenish-yellow" id="test" href="#holy-modal" rel="modal:open">
  тест модалка index-32
</a>
<div id="thank-modal" class="modal modal-free-note w-680 modal-other">
  <div class="modal-border">
    <div class="modal-title">
      Спасибо за отправку записки!
    </div>
    <div class="modal-body d-flex align-items-center  flex-lg-row flex-column">
      <div class="modal-other-img d-flex align-items-center">
        <img src="img/modal-other-pic-1.png">
      </div>
      <div class="modal-other-desc">
        <h3>На вашу почту отправлено письмо с ссылкой
          для подтверждения вашего согласия
          на исполнение Записки. </h3>
        <h2>
          Пройдите по ссылке в письме.
        </h2>
        <p>
          Если письмо не пришло в течении 30 секунд посмотрите
          в папке "СПАМ" или убедитесь в правильности написания
          адреса электронной почты.
        </p>
      </div>
    </div>
  </div>
</div>
<div id="share-modal" class="modal modal-free-note w-680 modal-other">
  <div class="modal-border">
    <div class="modal-title">
      Поделитесь со своими близкими!
    </div>
    <div class="modal-body d-flex align-items-center  flex-lg-row flex-column">
      <div class="modal-other-img d-flex align-items-center">
        <img src="img/modal-other-pic.png">
      </div>
      <div class="modal-other-desc">
        <p>
          Нам важно, чтобы наш проект с бесплатной запиской
          нашел как можно больше отклика и о нем узнали
          нуждающиеся. Пожалуйста, поделитесь страницей
          с бесплатной запиской с вашими друзьями
          и близкими, для нас это важно.
        </p>
      </div>
    </div>
    <div class="modal-other-share d-flex justify-content-around  flex-lg-row flex-column ">
      <a href="/" class="d-flex flex-column align-items-center mb-lg-0 mb-2">
        <img src="img/enter-el.png" alt="Елицы">
        <span>Елицы</span>
      </a>
      <a href="/" class="d-flex flex-column align-items-center mb-lg-0 mb-2">
        <img src="img/enter-ok.png" alt="Одноклассники">
        <span>Одноклассники</span>
      </a>
      <a href="/" class="d-flex flex-column align-items-center mb-lg-0 mb-2">
        <img src="img/enter-vk.png" alt="Вконтакте">
        <span>ВКонтакте</span>
      </a>
      <a href="/" class="d-flex flex-column align-items-center mb-lg-0 mb-2">
        <img src="img/enter-fb.png" alt="Фейсбук">
        <span>Facebook</span>
      </a>
    </div>
    <div class="btn-area justify-content-center">
      <a class="btn btn-rich-greenish-yellow btn-modal-other">
        Далее
      </a>
    </div>
  </div>
</div>
<div id="holy-modal" class="modal modal-free-note  w-650 holy-modal">
  <div class="modal-border">
    <div class="modal-title">
      Благоверный князь Александр Невский
    </div>
    <div class="modal-body d-flex align-items-center  flex-lg-row flex-column">
      <div class="modal-other-img d-flex align-items-center">
        <div class="inner-border">
          <img src="img/32/pic-11.jpg">
        </div>

      </div>
      <div class="modal-other-desc">
        <p>
          овал недалеко от владимирских Вязников обитель. Местность представляла собой дремучий лес с вкраплением зыбких
          болот. Для искавших уединения иноков пустынь была идеальным местом. Глубокая молитва в Свято-Троице
          Серапионовой мужской пустыни совершалась покинувшими мир подвижниками. Жизнь в обители была тяжелой, поэтому
          привлекала сильных духом людей. Деревянная Троицкая церковь стояла в обители и
        </p>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
