<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area">
        <div class="title-block">
          <div class="title">
            Личный кабинет
          </div>
        </div>
        <div class="personal-cabinet-navigation">
        <ul>
          <li>
            <a class="_active" href="/">Личный кабинет</a>
          </li>
          <li>
            <a href="/">Контакты и пароль</a>
          </li>
          <li>
            <a href="/">Избранное</a>
          </li>
          <li>
            <a href="/">Памятные даты и именины</a>
          </li>
        </ul>

        <div class="nav-button">
          <img class="" src="img/arrow.svg" alt="">
        </div>
      </div>
        <div class="personal-cabinet personal-cabinet-data">

        <div class="cabinet-forms">
          <form class="cabinet-form">
            <div class="form-title">Контактные данные</div>
            <div class="form-label">Введите новый Email:</div>
            <div class="input-container">
              <input type="text" value="Petrovskyi_Konstantin@yandex.ru">
            </div>
            <div class="btn-area">
              <button class="btn-rich-greenish-yellow">
                сохранить email
              </button>
            </div>
          </form>
          <form class="cabinet-form">
            <div class="form-title">Изменение пароля</div>
            <div class="input-container ">
              <input type="text" placeholder="Введите текущий пароль">
            </div>
            <div class="input-container _new-password">
              <input type="text" placeholder="Введите новый пароль">
            </div>
            <div class="input-container">
              <input type="text" placeholder="Повторите новый пароль">
            </div>
            <div class="btn-area">
              <button class="btn-rich-greenish-yellow">
                изменить пароль
              </button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
