<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>

    </div>
  </div>
  <div class="main-area-fluid">
    <div class="main-area">
      <div class="holy-block category-holy no-switch-btn">
        <div class="holy-block-header">
          <img src="img/holy-block-2.png" alt="">
          <div class="holy-block-up-block">
            <div class="title-block">
              <div class="title">Сретенский женский монастырь</div>
              <div class="sub-title">Россия, Республика Бурятия, Прибайкальский район, село Батурино</div>
            </div>
            <a href="#" class="btn btn-border">
              подробнее о монастыре
            </a>
          </div>
        </div>
        <div class="category-holy-data">
          <div class="category-holy-data-day">4 января</div>
          <div class="category-holy-data-day">18 февраля — Сбор всех святых</div>
          <a href="#" class="btn btn-border">
            подробнее о монастыре
          </a>
        </div>
        <div class="switch-buttons">
          <div class="switch-buttons-switch">
            <button class="btn _active">
              О чем просить в этом храме
            </button>
            <button class="btn _rest">
              Об упокоении
            </button>
          </div>
        </div>
      </div>
      <div class="holy-tags">
        <div class="list">
          <div class="tag">
            <div class="tag-content">
              <div class="tag-icon">
                <img src="img/icon-tag.png" alt="">
              </div>
              <div class="title">Здоровье</div>
            </div>
          </div>
          <div class="tag">
            <div class="tag-content">
              <div class="tag-icon">
                <img src="img/icon-tag.png" alt="">
              </div>
              <div class="title">Семья</div>
            </div>

          </div>
          <div class="tag">
            <div class="tag-content">
              <div class="tag-icon">
                <img src="img/icon-tag.png" alt="">
              </div>
              <div class="title">Дети</div>
            </div>

          </div>
          <div class="tag">
            <div class="tag-content">
              <div class="tag-icon">
                <img src="img/icon-tag.png" alt="">
              </div>
              <div class="title">Житейские нужды</div>
            </div>
          </div>
        </div>
        <div class="btn-area center">
          <button class="btn btn-border">СМОТРЕТЬ ВСЕ ТРЕБЫ</button>
        </div>
      </div>
      <div class="category-holy-data-mob">
        <a href="/" class="holy-info-more">
          О чем просить у иконы
        </a>
        <a href="/" class="holy-info-more">
          Какие службы осуществляются
        </a>
      </div>
    </div>
  </div>

</div>
<div class="main-area-fluid">
  <div class="main-area">
    <div class="holy-title-page title-block">
      <div class="title">
        Выберите свое прошение
        к иконе
      </div>
    </div>
    <div class="note-form-wrapper landing-note-form-wrapper">

      <div class="note-form-container">
        <div class="note-form-area">
          <form class="note-form _rest">
            <div class="note-border-line-1">
              <div class="note-border-line-2">
                <div class="note-content">
                  <img class="note-form-img-health" src="img/form-pic.png" alt="">
                  <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                  <div class="title">
                    Неусыпаемая псалтырь
                    <br>о здравии, на 1 год
                    <br>в сретенский монастырь
                  </div>
                  <div class="inputs">
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="note-form-settings">
          <div class="switch-buttons switch-buttons-landing" style="padding: 0; margin: 0 0 30px 0">
            <div class="switch-buttons-switch ">
              <button class="btn _active">
                Записка в Храм/Монастырь
              </button>
              <button class="btn">
                Записка к святым и иконам
              </button>
            </div>
          </div>

          <div class="note-option select-temple">
            <div class="option-title">
              Храм куда будет отправлена записка
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Круглосуточное поминовение о здравии и спасении
              при чтении псалтири в обители на указанный срок
            </div>
          </div>

          <div class="note-option select-type-note">
            <div class="option-title">
              Тип записки
            </div>
            <div class="switch-buttons _mini">
              <div class="switch-buttons-switch">
                <button class="btn _active">
                  О здравии
                </button>
                <button class="btn _rest">
                  Об упокоении
                </button>
              </div>
            </div>
            <!--      <div class="option-btn">-->
            <!--        <button class="btn active">О здравии</button>-->
            <!--        <button class="btn">Об упокоении</button>-->
            <!--      </div>-->
            <div class="option-info">
              Молитвенное поминовение имен о здравии во время <br>Божественной Литургии
            </div>
          </div>
          <div class="note-option">
            <div class="option-title">
              Вид требы
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Круглосуточное поминовение о здравии и спасении
              при чтении псалтири в обители на указанный срок
            </div>
          </div>
          <div class="note-option">
            <div class="option-title">
              Сроки исполнения требы
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Срок исполнения зависит от вида требы и расписания <br>
              богослужений в выбранном храме или монастыре
            </div>
          </div>
          <a href="/" class="faq-how-create-note">
            Как правильно написать имя в записку?
          </a>
          <div class="note-option note-option-additional">
            <div class="option-title">
              Подать свечу
            </div>
            <div class="serve-candle-area">
<!--              <div class="btn-area">-->
<!--                <button class="btn btn-border">-->
<!--                  подать свечу-->
<!--                </button>-->
<!--              </div>-->
              <div class="serve-candle-option-info">
                Вы можете добавить свечи к вашей записке
                (Тут какой-то поясняющий текст можно)
              </div>
            </div>
            <div class="list-candle">
              <div class="item-candle">
                <div class="item-candle-name">Поставить маленькую свечку</div>
                <div class="item-candle-price">100 Р</div>
                <div class="item-candle-buttons">
                  <button class="btn btn-border inc">+</button>
                  <div class="count">
                    0 <span>шт.</span>
                  </div>
                  <button class="btn btn-border dec">-</button>
                </div>
              </div>
              <div class="item-candle">
                <div class="item-candle-name">Поставить среднюю свечку</div>
                <div class="item-candle-price">200 Р</div>
                <div class="item-candle-buttons">
                  <button class="btn btn-border inc">+</button>
                  <div class="count">
                    0 <span>шт.</span>
                  </div>
                  <button class="btn btn-border dec">-</button>
                </div>
              </div>
              <div class="item-candle">
                <div class="item-candle-name">Поставить большую свечку</div>
                <div class="item-candle-price">300 Р</div>
                <div class="item-candle-buttons">
                  <button class="btn btn-border inc">+</button>
                  <div class="count">
                    0 <span>шт.</span>
                  </div>
                  <button class="btn btn-border dec">-</button>
                </div>
              </div>
            </div>
          </div>
          <!--          <div class="note-option note-option-additional">-->
          <!--            <div class="option-title">-->
          <!--              Дополнительные услуги-->
          <!--            </div>-->
          <!--            <div class="note-option-checkbox-list">-->
          <!--              <label class="checkbox">-->
          <!--                <input type="checkbox" class="normal-checkbox" id="u-3" name="request-access" value="private">-->
          <!--                <div class="label" for="u-3"></div>-->
          <!--                <span class="checkbox-text">Поставить свечку</span>-->
          <!--              </label>-->
          <!--              <label class="checkbox">-->
          <!--                <input type="checkbox" class="normal-checkbox" id="u-3" name="request-access" value="private">-->
          <!--                <div class="label" for="u-3"></div>-->
          <!--                <span class="checkbox-text">Именной кирпичик</span>-->
          <!--              </label>-->
          <!--            </div>-->
          <!--            <a href="#" class="note-faq">-->
          <!--              Как правильно написать имя в записку?-->
          <!--            </a>-->
          <!--          </div>-->
        </div>
      </div>
    </div>
    <div class="note-pay ">
      <div class="note-total-price">
        <div class="total">Итого к оплате</div>
        <div class="money">0<span>₽</span></div>
      </div>

      <div class="note-pay-btn-area">
        <button class="btn-rich-greenish-yellow ">Подать записку</button>
        <button class="btn-border mobile-fav">
          <img class="menu-icon" src="img/favorite.svg" alt="">
        </button>
        <button class="btn-border pc-fav">
          добавить в избранное
        </button>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./../includes/slider-temples/slider-temples.html').default)(data) %>


<%= _.template(require('./../includes/about-monastery/about-monastery.html').default)(data) %>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
