<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg" style="margin-bottom: 141px">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="order-registration-area">
        <div class="order-registration-title-block">
          <div class="order-registration-title">
            Оформление заказа
          </div>
          <div class="order-registration-steps">
            <a href="index-8.html" class="order-registration-step active">
              Ваш заказ и его оплата
            </a>
            <a href="index-10.html" class="order-registration-step ">
              Выдача сертификатов
            </a>
          </div>
        </div>
      </div>

      <div class="order-registration-list">
        <div class="order-type-area notes-area">
          <div class="title">
            сертификаты о записках
          </div>

          <div class="order-area">
            <div class="order health issuing-certificates">
              <div class="order-border">
                <div class="order-content content-l">
                  <div class="order-content-title">
                    <span class="title-desc">Простая записка о здравии</span>
                    <span class="title-name">в Сретенский монастырь</span>
                  </div>
                </div>
                <div class="order-content content-r">
                  <form class="order-block-form">
                    <div class="input-container">
                      <input type="text" placeholder="E-mail">
                    </div>
                    <button class="btn-rich-greenish-yellow">отправить</button>
                    <button class="btn-border">скачать PDF</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="order-area">
            <div class="order rest issuing-certificates">
              <div class="order-border">
                <div class="order-content content-l">
                  <div class="order-content-title">
                    <span class="title-desc">Простая записка о здравии</span>
                    <span class="title-name">в Сретенский монастырь</span>
                  </div>
                </div>
                <div class="order-content content-r">
                  <form class="order-block-form">
                    <div class="input-container">
                      <input type="text" placeholder="E-mail">
                    </div>
                    <button class="btn-rich-greenish-yellow">отправить</button>
                    <button class="btn-border">скачать PDF</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="order-type-area celebration-names-area issuing-certificates">
          <div class="title">
            Празднование именин
          </div>
          <div class="order-area">
            <div class="order celebration issuing-certificates">
              <div class="order-border">
                <div class="order-content">
                  <div class="order-celebration-name">Алексей</div>
                </div>
                <div class="order-content content-r">
                  <form class="order-block-form">
                    <div class="input-container">
                      <input type="text" placeholder="E-mail">
                    </div>
                    <button class="btn-rich-greenish-yellow">отправить</button>
                    <button class="btn-border">скачать PDF</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="order-type-area certificate-area">
          <div class="title">
            Поздравительные сертификаты
          </div>
          <div class="order-area">
            <div class="order certificate issuing-certificates">
              <div class="order-border">
                <div class="order-content content-l">
                  <div class="order-content-title">
                    <span class="title-desc">Молебен о вразумлении мужа, жены, детей, близких, обидчиков и врагов</span>
                    <span class="title-name">в Сретенский монастырь</span>
                  </div>
                </div>
                <div class="order-content content-r">
                  <form class="order-block-form">
                    <div class="input-container">
                      <input type="text" placeholder="E-mail">
                    </div>
                    <button class="btn-rich-greenish-yellow">отправить</button>
                    <a href="/" class="btn btn-border">поздравительная ссылка</a>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
