<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="news-detail ">
        <div class="news-block-content">
          <div class="news-date">30.11.2020</div>
          <div class="news-title">
            Отпевание. Как и для чего оно совершается?
          </div>

          <div class="news-info">
            <div class="news">
              <em>
                Помолитесь же и о себе, чтобы быть отрадой своим родителям, а также о Ваших детях, чтобы Бог
                даровал им счастье в этой и будущей жизни!
              </em>
              <div class="news-info-title">
                Почему Бог может долго не даровать чадо?
              </div>
              <p>
                Порой случается так, что муж и жена нежно любят друг друга, телесно и духовно здоровы, благочестивы,
                но долгое время не могут зачать дитя. Почему же так происходит? Бездетность пары до определённого
                времени может испытывать крепость веры будущих родителей. Из Библии мы знаем, что Авраам и Сара,
                Захарий и Елисавета, Иоаким и Анна и некоторые другие благочестивые супруги по нескольку
                лет не могли зачать ребёнка, но не опускали рук и не оставляли своего упования на Господа. И по силе
                их веры Господь посылал им детей. Добрых, праведных и послушных.
              </p>
              <p>
                Однако бывает и так, что Господь, не посылая нам собственное чадо, побуждает нас к принятию в семью
                одинокого ребёнка. В прежние века в России оставшихся сиротами деток разбирали по семьям крёстные
                или ближайшие родственники. Если же их не находилось, на свой кошт их брала крестьянская община,
                где они до совершеннолетия по году жили в каждой семье. В XX столетии эта традиция была утеряна
                из-за массовой гибели людей и массового же сиротства. Так появились детские дома.
              </p>
              <div class="card-in-news">
                <div class="no-slider fix-margin">
                  <div class="card">
                    <button class="card-favorite _active">
                      <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
                    </button>
                    <div class="header-img">
                      <img src="img/card-holiday.png" alt="">
                    </div>
                    <div class="card-info">
                      <div class="card-name">
                        Празднование Введения
                        во храм Пресвятой
                        Богородицы
                      </div>
                      <div class="card-description">
                        в Введенский Владычий
                        монастырь
                      </div>
                    </div>
                    <div class="btn-area center">
                      <button class="btn btn-rich-greenish-yellow">
                        заказать молебен
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                Конечно, на усыновление ребёнка бывает непросто решиться, а воспитание озлобленного людской
                жестокостью малыша может оказаться нелёгким делом. Но нет и большего благословения от Бога,
                чем освятить живую детскую душу теплом и лаской собственного сердца! Святые Отцы указывают на то,
                что в мире много сирот и воля Божия состоит в том, чтобы каждый ребёнок обрёл своих родителей.
                Возможно, именно Ваше сердце настолько большое, чтобы вместить в себя оставленного кем-то малыша.
              </p>
              <div class="news-info-title">
                Пример святых Иоакима и Анны
              </div>
              <p>
                Евреи времён Ветхого Завета традиционно стремились иметь много детей, что было связано
                с мессианскими ожиданиями. Каждая семья надеялась, что именно среди её потомства будет рождён
                Спаситель, которому надлежит стать царём богоизбранного народа и привести своих людей
                к процветанию. Однажды священник отказал святым Иоакиму и Анне в принятии в храм жертвы,
                так как подумал, что они наказаны бездетностью за грехи.
              </p>
              <p>
                Но это было не так. То были два святых супруга, благочестивых и перед Богом, и перед людьми. Господь
                лишь испытывал веру праведников и на их примере хотел показать нам, в чём заключается смысл
                родительства и воспитания. Иоаким и Анна за годы молитвы укрепились в вере, а затем ещё и дали Богу
                обет в три года отдать дарованного им ребёнка на воспитание в Иерусалимский храм, посвятить его Богу.
                Наш эгоизм может шептать нам, что святые ошибались…
              </p>
              <p>
                Однако, на самом деле жизнь посвящённая источнику всех благ, Богу, является наиболее счастливой
                для человека. И это подтверждает великий жребий, выпавший на долю Девы Марии. Рождённая в святости
                и любви, воспитанная в благочестии и следовании Закону Божию, Она стала достойным вместилищем
                Небесного Царя. И теперь все мы почитаем Пресвятую Богородицу как превосходящую святостью
                не только всех людей, но даже и всех ангелов.
              </p>
              <div class="news-info-title">Какой судьбы мы хотим для своих детей?</div>
              <p>
                Бывают люди, которые в безумии своём стремятся максимально «накачать» своего ребёнка материальными
                благами. Оплатить ему пищу, одежду, квартиру, машину, престижный университет и всевозможные
                наслаждения. Они семь дней в неделю зарабатывают деньги, не уделяя времени общению со своими
                детьми и формированию их мировоззрения. И в худшем случае их чадо вообще не доживает до старости,
                так как гибнет от порока: слишком большой дозы наркотиков, разбившись на спортивной машине
                или как-то похоже.
              </p>

              <p>В «лучшем» же случае покалеченная вседозволенностью и отсутствием истинной заботы личность
                становится потребителем. Такой ребёнок не способен быть внимательным и ласковым к родителям,
                так как сам не знал, что такое внимание и ласка. Он не способен возглавить даже семейный бизнес,
                потому что привык не трудиться, а только получать всё по требованию. Таким образом, и родители
                «материалисты» и их ребёнок глубоко несчастны уже в этой жизни. Не говоря уж о том, что за порогом
                смерти их также не ждёт ничего хорошего.</p>

              <p>Совсем иная судьба бывает у родителей, совсем необязательно «нищих», которые стремятся дозировать
                духовный и материальный вклады в ребёнка. Как заботливый садовник, который не только вносят
                удобрения, но и отрезает сухие ветви дерева, они формируют благообразный облик молодой личности.
                Проводят с ребёнком время, говорят о мироустройстве, Боге, святости, добре и зле, мужественности
                и женственности. Воспитывают дитя своим примером и лаской. Тогда в ребёнке и развивается личность,
                годная не только для этой, но и для вечной жизни.</p>
            </div>

          </div>

          <div class="share-news-area">
            <div class="share-news">
              <div class="share-news-text">
                Поделиться новостью
              </div>
              <div class="share-news-social">
                <a href="#">
                  <img src="img/share-e.png" alt="Елицы">
                </a>
                <a href="#">
                  <img src="img/share-ok.png" alt="Одноклассники">
                </a>
                <a href="#">
                  <img src="img/share-vk.png" alt="Вконтакте">
                </a>
                <a href="#">
                  <img src="img/share-fb.png" alt="Фейсбук">
                </a>
              </div>
            </div>
          </div>

          <div class="comments-area">
            <div class="comments-title">
              Комментарии
            </div>
            <div class="comment-stub">
              <div class="stub">Пока комментариев нет.</div>
              <a href="#" class="comment-auto">
                Авторизуйтесь чтобы оставить комментарий
              </a>
            </div>

            <div class="comments-title">
              Комментарии
            </div>
            <div class="comment-stub">
              <div class="stub">Пока комментариев нет.</div>
            </div>

            <div class="leave-comment-area">
              <div class="title-block">
                <div class="title">Оставить комментарий</div>
                <div class="user">
                  <img src="img/share-vk.png" alt="">
                  <div class="user-name">Дмитрий Тиняков</div>
                </div>
              </div>
              <textarea placeholder="введите текст комментария"></textarea>
              <div class="btn-area">
                <button class="btn-rich-greenish-yellow">
                  Оставить комментарий
                </button>
              </div>
            </div>
          </div>

          <div class="comments-area">
            <div class="comments-title">
              Комментарии
            </div>
            <div class="comments-list">
              <div class="comment">
                <div class="comment-text">
                  Про князя Михаила Черниговского и боярина его Феодора не знала. Спасибо!
                </div>
                <div class="comment-user-date">
                  <div class="user">yeshelena</div>
                  <div class="date">02.12.2020</div>
                </div>
              </div>
              <div class="comment">
                <div class="comment-text">
                  Да, в школе такого к сожалению не проходят.
                </div>
                <div class="comment-user-date">
                  <div class="user">Дмитрий Тиняков</div>
                  <div class="date">02.12.2020</div>
                </div>
              </div>
            </div>
            <div class="leave-comment-area">
              <div class="title-block">
                <div class="title">Оставить комментарий</div>
                <div class="user">
                  <img src="img/share-vk.png" alt="">
                  <div class="user-name">Дмитрий Тиняков</div>
                </div>
              </div>
              <form>
                <textarea placeholder="введите текст комментария"></textarea>
                <div class="btn-area">
                  <button  class="btn-rich-greenish-yellow">
                    Оставить комментарий
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="news-block-img-list">
          <div class="news-block-img">
            <img src="img/news-img.jpg" alt="">
          </div>
          <div class="list-cards no-slider fix-margin">
            <div class="card">
              <button class="card-favorite _active">
                <img class="menu-icon favorite " src="img/favorite.svg" alt="Избранное">
              </button>
              <div class="header-img">
                <img src="img/card-holiday.png" alt="">
              </div>
              <div class="card-info">
                <div class="card-name">
                  Празднование Введения
                  во храм Пресвятой
                  Богородицы
                </div>
                <div class="card-description">
                  в Введенский Владычий
                  монастырь
                </div>
              </div>
              <div class="btn-area center">
                <button class="btn btn-rich-greenish-yellow">
                  заказать молебен
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
