<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<body style="padding:0; margin: 0; ">
<div style="padding:0; margin: 0; width: 100%;  ">
  <table
      style=" background: url('./img/35/sert2.jpg');  width: 810px; background-size: cover; background-position: center">


    <tbody>

    <tr style="height: 700px;">
      <td style="height: 700px;">
      </td>
    </tr>


    <tr style="height: 60px;">
      <td style=" background: url('./img/35/sert2-title.png'); background-repeat: no-repeat; background-position: center;  background-size: contain; width: 442px; height: 58px;">

      </td>
    </tr>

    <tr style="height: 70px">
      <td style="height: 70px; text-align: center;  color: #fff;   font-size: 25px;   font-family: 'myriad-pro-regular';">
        удостоверяет, что за его обладателя с именем
      </td>
    </tr>


    <tr style="height: 70px;">
      <td style="text-align: center;  height: 70px;  color: #fff;  font-size: 68px; line-height: 68px; font-family: 'rosamunda-two'">

        Наталия

      </td>
    </tr>


    <tr style="height: 100px">
      <td>
        <table>
          <tbody>
          <tr>
            <td style="width: 135px">

            </td>
            <td style=" text-align: center;  color: #fff;   font-size: 22px;   font-family: myriad-pro-regular, Arial, Tahoma;">
              заказано именное поминовение о здравии на литургии
              в праздник Рождества Христова
              в Вифлееме на Святой Земле
            </td>
            <td style="width: 135px">

            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="height: 110px;">
      <td>
        <table style="width: 100%">
          <tbody>
          <tr>
            <td style="width: 70px">

            </td>
            <td style="color: #c50500;  font-size: 22px;   font-family: myriad-pro-regular, Arial, Tahoma; text-transform: uppercase; text-align: left">
              VI-20212051674
            </td>
            <td style="text-align: center">
              <table>
                <tbody>
                <tr>
                  <td>
                    <img src="./img/35/sert2-logo.png" alt="" style="width: 130px; height: 26px">
                  </td>
                </tr>
                <tr>
                  <td style="color: #fff;  font-size: 11px;   font-family: myriad-pro-regular, Arial, Tahoma; text-transform: uppercase; text-align: center">
                    <span style="padding: 0 10px">Елицы.Записки - проект православной сети Елицы</span>
                  </td>
                </tr>
                </tbody>
              </table>

            </td>
            <td style="color: #c50500;  font-size: 22px;   font-family: myriad-pro-regular, Arial, Tahoma;text-transform: uppercase; text-align: right">
              VI-20212051674
            </td>
            <td style="width: 70px">

            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="height: 40px;">
    </tr>

    </tbody>
  </table>
</div>


</body>
