<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area">
        <div class="title-block ">
          <div class="title">
            сорокоуст о здравии
          </div>
        </div>
      </div>
      <div class="page-search">
        <form class="header-search input-container">
          <input type="text" placeholder="Введите название храма, святого или иконы">
          <button class="search" type="submit">
            <img src="img/icon-4.svg" alt="">
          </button>
        </form>
        <div class="list-responses">
          <div class="responses">
            <div class="responses-count-area">
              <span>110</span>
            </div>
            <a href="/" class="responses-title">
              Елицы.Записки: Заказать молебен, подать записку в монастыри.
            </a>
            <div class="response-info">
              Сорокоу́ст – церковное молитвенное поминовение христианина в течение сорока дней. Церковь молится о
              здравии живых
              и о упокоении усопших, т.к. «у Бога все живы».
            </div>
            <div class="response-down-area">
              <a href="/" class="response-link">
                zapiski.elitsy.ru
              </a>
              <div class="response-save">сохранённая копия</div>
            </div>
          </div>
          <div class="responses">
            <div class="responses-count-area">
              <span>110</span>
            </div>
            <a href="/" class="responses-title">
              Елицы.Записки: Заказать молебен, подать записку в монастыри.
            </a>
            <div class="response-info">
              Сорокоу́ст – церковное молитвенное поминовение христианина в течение сорока дней. Церковь молится о
              здравии живых
              и о упокоении усопших, т.к. «у Бога все живы».
            </div>
            <div class="response-down-area">
              <a href="/" class="response-link">
                zapiski.elitsy.ru
              </a>
              <div class="response-save">сохранённая копия</div>
            </div>
          </div>
          <div class="responses">
            <div class="responses-count-area">
              <span>110</span>
            </div>
            <a href="/" class="responses-title">
              Елицы.Записки: Заказать молебен, подать записку в монастыри.
            </a>
            <div class="response-info">
              Сорокоу́ст – церковное молитвенное поминовение христианина в течение сорока дней. Церковь молится о
              здравии живых
              и о упокоении усопших, т.к. «у Бога все живы».
            </div>
            <div class="response-down-area">
              <a href="/" class="response-link">
                zapiski.elitsy.ru
              </a>
              <div class="response-save">сохранённая копия</div>
            </div>
          </div>
        </div>
        <div class="pagination-area">
          <div class="pagination">
            <div class="pag-num _active">
              <img class="menu-icon pagination-img" src="img/pagination-img.svg" alt="">
              <span class="pag-num">1</span>
            </div>
            <div class="pag-num ">
              <span class="pag-num">2</span>
            </div>
            <div class="pag-num ">
              <span class="pag-num">3</span>
            </div>
            <div class="pag-num ">
              <span class="pag-num">4</span>
            </div>
            <div class="pag-num ">
              <span class="pag-num">5</span>
            </div>
            <div class="pag-num ">
              <img class="menu-icon pagination-img " src="img/pagination-img.svg" alt="">
              <span class="pag-num">6</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
