<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="about-project-page">
        <div class="title-block">
          <div class="title">
            Какие бывают записки
          </div>
        </div>
        <div class="about-project-page-desc whate-notes">
          <p>Записки можно разделить на две основные группы: «О здравии» с именами ныне живущих людей
            и «Об упокоении», в неё записывают ушедших близких, за которых мы хотим подать молитвенное прошение.
            В свою очередь, каждая из этих двух групп делится на виды в зависимости от типа богослужения
            (Литургия, молебен, панихида, чтение Псалтири) и продолжительности исполнения требы
            (40 дней, полгода, год).</p>
        </div>

      </div>
      <div class="whate-notes-content">
        <div class="whate-notes-content-row whate-notes-mr">
          <div class="note-form _health fake-form">
            <div class="note-border-line-1">
              <div class="note-border-line-2">
                <div class="note-content">
                  <img src="img/form-pic.png" alt="pic">
                  <div class="title">
                    записка
                    <br>о здравии
                  </div>
                  <div class="inputs">
                    <div class="input-container">
                      <input type="text" readonly>
                    </div>
                    <div class="input-container">
                      <input type="text" readonly>
                    </div>
                    <div class="input-container">
                      <input type="text" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="whate-notes-content-row whate-notes-list-pd">
          <div class="whate-notes-list">
            <div class="whate-notes-item">
              <div class="title">
                Проскомидия о здравии
              </div>
              <div class="info">
                Поминовение о здравии во время
                Литургии с выниманием частицы
                из просфоры
              </div>
            </div>
            <div class="whate-notes-item">
              <div class="title">
                Неусыпаемая псалтирь
                <br>о здравии
              </div>
              <div class="info">
                Круглосуточное поминовение
                о здравии и спасении при чтении
                псалтири в обители на указанный срок
              </div>
            </div>
            <div class="whate-notes-item">
              <div class="title">
                Молебен
              </div>
              <div class="info">
                Это прошение о даровании здравия
                и спасения, и благодарение за Божии
                милости. Молебен может быть посвящен
                событию, празднику, святому, иконе,
                служиться у икон или святых мощей.
              </div>
            </div>
          </div>
          <div class="whate-notes-list">
            <div class="whate-notes-item i-1">
              <div class="title">
                Простая записка о здравии
              </div>
              <div class="info">
                Молитвенное поминовение о здравии
                во время Божественной Литургии
              </div>
            </div>
            <div class="whate-notes-item i-2">
              <div class="title">
                Сорокоуст о здравии
              </div>
              <div class="info">
                Сорокадневное поминовение о здравии
                во время Литургии с выниманием
                частицы из просфоры за людей,
                указанных в записке
              </div>
            </div>
            <div class="whate-notes-item _stick i-3">
              <div class="stick">
                <div class="title">
                  Как грамотно
                  написать записку?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="whate-notes-slider-area">
  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
</div>
<div class="main-area-fluid white-bg">
  <div class="main-area main-content">
    <div class="catalog">

      <div class="whate-notes-content whate-notes-content-rest">
        <div class="whate-notes-content-row _vector-form">
          <form class="note-form _rest fake-form">
            <div class="note-border-line-1">
              <div class="note-border-line-2">
                <div class="note-content">
                  <img src="img/form-pic-rest.png" alt="pic">
                  <div class="title">
                    записка
                    <br>об упокоении
                  </div>
                  <div class="inputs">
                    <div class="input-container">
                      <input type="text" readonly>
                    </div>
                    <div class="input-container">
                      <input type="text" readonly>
                    </div>
                    <div class="input-container">
                      <input type="text" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="whate-notes-content-row whate-notes-list-pd ">
          <div class="whate-notes-list">
            <div class="whate-notes-item">
              <div class="title">
                Проскомидия
                об упокоении
              </div>
              <div class="info">
                Это поминовение об упокоении
                во время Литургии с выниманием
                частицы из просфоры
              </div>
            </div>
            <div class="whate-notes-item">
              <div class="title">
                Простая записка
                об упокоении
              </div>
              <div class="info">
                Молитвенное поминовение
                об упокоении во время
                Божественной Литургии
              </div>
            </div>
            <div class="whate-notes-item">
              <div class="title">
                Панихида
              </div>
              <div class="info">
                Это сугубая молитва об упокоении
                душ усопших
              </div>
            </div>
          </div>
          <div class="whate-notes-list">
            <div class="whate-notes-item">
              <div class="title">
                Неусыпаемая псалтирь
                об упокоении
              </div>
              <div class="info">
                Круглосуточная молитва об упокоении
                при чтении псалтири в обители
                на указанный срок
              </div>
            </div>
            <div class="whate-notes-item">
              <div class="title">
                Сорокоуст
                об упокоении
              </div>
              <div class="info">
                Это сорокадневное поминовение
                об упокоении во время Литургии
                с выниманием частицы из просфоры
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
  <!--<div class="whate-notes-slider-area">-->
  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
  <!--</div>-->

</div>
<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
