<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt " style="margin-bottom: 141px">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="order-registration-area">
        <div class="order-registration-title-block">
          <div class="order-registration-title">
            Оформление заказа
          </div>
          <div class="order-registration-steps">
            <a href="index-8.html" class="order-registration-step ">
              Ваш заказ
            </a>
            <a href="index-9.html" class="order-registration-step active">
              Оплата
            </a>
            <a href="index-10.html" class="order-registration-step ">
              Выдача сертификатов
            </a>
          </div>
        </div>
      </div>

      <div class="order-type-area order-payment-dashboard">
        <div class="title">введите реквизиты карты</div>
        <div class="user-payment-info">
          <div class="user-card">
            <img class="user-card-img" src="img/user-card-bg.png" alt="">
            <div class="user-card-form">
              <div class="input-container user-card-number">
                <input type="text" placeholder="Номер карты">
              </div>
              <div class="input-container user-card-mm">
                <input type="text" placeholder="ММ">
              </div>
              <div class="input-container user-card-gg">
                <input type="text" placeholder="ГГ">
              </div>
              <div class="input-container user-card-cvc">
                <input type="text" placeholder="CVC">
              </div>
            </div>
          </div>
          <div class="payment-info-check-area">
            <div class="payment-info">
              <div class="payment-info-b1">После ввода данных нажмите ”Оплатить”, после этого,введите
                код из смс, которое вы получите от своего банка
              </div>
              <div class="payment-info-b2">
                После оплаты вы получите сертификаты записок и молебнов, а также
                уведомление на почту о прочтении записок
              </div>
              <label class="checkbox _white">
                <input type="checkbox"
                       class="normal-checkbox"
                       id="u-6" name="request-access" value="private">
                <div class="label" for="u-6"></div>
                <span class="checkbox-text">
                  Сохранить карту
                </span>
              </label>
            </div>
            <div class="payment-check">
              <div class="total">Итого к оплате:</div>
              <div class="total-m">13 350 <span>₽</span></div>
              <div class="btn-area">
                <button class="btn-white-bg" >оплатить</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
