<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>

<div class="main-area-fluid mt">

  <div class="free-note-page-area">

    <div class="main-area main-content">
      <div class="sector1-area">
        <div class="title-block free-note-title-block">
          <div class="title">
            Дарим каждой семье
            <br>возможность бесплатно
            <br>подать записки о здравии
            <br>в Свято-Вознесенскую пустынь!
          </div>
        </div>
        <div class="free-note-text">
          <div class="free-note-info">
            <p>
              Служба Елицы Записки в столь непростое время
              поддерживает всех людей, кто из-за распространения
              опасного вируса и вынужденной изоляции столкнулся
              со сложными жизненными обстоятельствами.
            </p>
            <div class="teleport-img-mob"></div>
          </div>
          <p>
    <span>
    Подайте записки о здравии на молебен об избавлении
    от морового поветрия (эпидемии) бесплатно!
    </span>
          </p>
        </div>

        <div class="free-img-block">
          <div class="teleport-img-pc">
            <img
              class="free-img"
              src="img/free-note-img.png"
              alt="Бесплатная записка-семья">
          </div>
        </div>

        <div class="btn-area">
          <button class="btn btn-blue">
            Подать записку бесплатно
          </button>
        </div>

      </div>
    </div>

    <div class="main-area main-content">
      <div class="sector2-area">
        <div class="sector2-image-area">
          <img src="img/free-note-img-1.png" alt="">
        </div>
        <div class="sector2-info">
          <div class="title-block free-note-title-block">
            <div class="title _big">
              Для кого этот сервис?
            </div>
          </div>
          <div class="free-note-text">
            <p>
              Этот сервис для тех, у кого нет возможности самостоятельно побывать в паломничестве
              и вознести молитвы перед почитаемыми христианскими святынями.
              Здесь вы можете отправить записки сразу в несколько обителей — в разных уголках
              земли священнослужители будут молиться Господу Богу и Его святым заступникам
              за вас и ваших близких.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="main-area main-content">
      <div class="sector3-area">
        <div class="title-block free-note-title-block">
          <div class="title _big">
            Как происходит обработка записок
          </div>
        </div>
        <div class="processing-note-row">
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num1"></div>
              <div class="processing-note-img">
                <img src="img/free-note-img-2.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>Вы заполняете именами форму бесплатной записки до 4 человек
                  на этой странице</p>
              </div>
            </div>
          </div>
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num2"></div>
              <div class="processing-note-img img-num2">
                <img src="img/free-note-img-3.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>Мы отправляем вашу записку
                  в Свято-Вознесенскую Давидову пустынь</p>
              </div>
            </div>
          </div>
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num3"></div>
              <div class="processing-note-img img-num3">
                <img src="img/free-note-img-4.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>В течении следующих суток в храме пройдет исполнение записки священником во время литургии</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-area main-content main-sector4-area">
      <div class="sector4-area">
        <img src="img/free-note-img-9.png" class="sector4-img-triangle" alt="">
        <img src="img/free-note-img-7.png" class="sector4-img" alt="Почта">
        <div class="sector4-info">
          <p>
            На вашу почту придёт Именной Сертификат
            <br>и уведомления о движении записки
          </p>
        </div>
      </div>
    </div>

    <div class="main-area main-content">
    <div class="sector5-area">
    <div class="title-block free-note-title-block">
    <div class="title _big">
    поможем близким своей молитвой
    </div>
    </div>
    <div class="sector5-content">
    <div class="content-circle">
    <div class="content-circle-inside">
    <img src="img/free-note-img-8.png" alt="">
    </div>
    </div>
    <div class="content-circle-text">
    <p>Истинно также говорю вам, что если двое
    из вас согласятся на земле просить о всяком деле,
    то, чего бы ни попросили, будет им от Отца
    Моего Небесного, ибо, где двое или трое собраны
    во имя Мое, там Я посреди них.</p>
    <span>
    Евангелие от Матфея 18:19-20
    </span>
    </div>
    </div>
    </div>
    </div>

    <div class="main-area-fluid main-sector6-area">
      <div class="main-area main-content ">
        <div class="sector6-area">
          <div class="title-block free-note-title-block">
            <div class="title _big">
              О нашем сервисе
            </div>
          </div>
          <div class="sector6-list">
            <div class="sector6-col">
              <div class="sector6-item">
                <div class="sector6-item-title">
                  Более 20 святынь
                </div>
                <div class="sector6-item-text">
                  <p>
                    Большой выбор типов записок,
                    которые могут быть доставлены
                    в самые крупные храмы
                    и монастыри
                  </p>
                </div>
              </div>
            </div>
            <div class="sector6-col">
              <div class="sector6-item">
                <div class="sector6-item-title">
                  Работаем с 2013 года
                </div>
                <div class="sector6-item-text">
                  <p>
                    Удобный и надежный способ
                    передачи записок, не выходя
                    из дому
                </div>
              </div>
            </div>
            <div class="sector6-col">
              <div class="sector6-item">
                <div class="sector6-item-title">
                  Более 30 сотрудников
                </div>
                <div class="sector6-item-text">
                  <p>
                    Все сотрудники проекта
                    — воцерковленные люди,
                    регулярно приступающие
                    к таинствам
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-area-fluid main-sector7-area">
      <div class="main-area main-content ">
        <img src="img/free-note-img-11.png"
             class="main-sector7-img" alt="">
        <div class="sector7-area">
          <div class="sector7-col sector7-form-info">
            <div class="title-block free-note-title-block">
              <div class="title _big">
                Подайте записку в
                <br>Свято-Вознесенскую
                <br>Давидову пустынь онлайн
              </div>
            </div>
            <div class="sector7-text">
              <p>
                В связи со сложной ситуацией в мире мы дарим вам возможность
                подать записку на на одну семью бесплатно
              </p>
            </div>
            <div class="switch-buttons">
              <div class="switch-buttons-switch ">
                <button class="btn _active">
                  Записка о здравии на Литургию
                </button>
                <button class="btn">
                  Молебен Ангелу Хранителю
                </button>
              </div>
            </div>
            <div class="sector7-text">
              <p>
                Молитвы священнослужителей в храмах и монастырях о вас и ваших
                близких необходимы всем верующим. Но невозможно ими заменить
                вашу личную молитву. Церковная соборная молитва только дополняет
                и усиливает келейную (домашнюю) молитву.
              </p>
            </div>
          </div>
          <div class="sector7-col">
            <form class="note-form ">
              <div class="note-border-line-1">
                <div class="note-border-line-2">
                  <div class="note-content">
                    <div class="">
                      <img class="note-form-img-health"
                           src="img/free-note-img-12.png" alt="">
                    </div>

                    <div class="title">
                      Свято-Вознесенская
                      Давидова пустынь
                    </div>
                    <div class="inputs">
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Введите ваш E-mail">
                      </div>
                    </div>
                    <div class="btn-area center btn-free-form">
                      <button class="btn btn-rich-greenish-yellow">
                        отправить записку бесплатно
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="main-area main-content">
      <div class="sector8-area">
        <div class="sector8-content">
          <div class="sector8-content-title">
            Молитва во время распространения
            вредоносного поветрия
          </div>
          <div class="sector8-content-text">
            <p>
              Господи Боже наш, не вниди в суд с рабы Твоими,
              <br>и огради нас от губительнаго поветрия на ны движимаго.
              <br>Пощади нас смиренных и недостойных рабов Твоих в покаянии
              <br>с теплою верою и сокрушением сердечным к Тебе милосердному
              <br>и благопременительному Богу нашему припадающих и на милость Твою уповающих.
            </p>
            <br>
            <p>
              Твое бо есть, еже миловати и спасати ны, Боже наш, и Тебе славу возсылаем,
              <br>Отцу и Сыну и Святому Духу, ныне и присно и во веки веков.
              <br>Аминь.
            </p>
          </div>
          <div class="sector8-content-img">
            <img src="img/free-note-img-13.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
