<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt ">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
    </div>
  </div>
  <div class="main-area-fluid">
    <div class="main-area">
      <div class="holy-block big-holy">
        <div class="holy-block-header">
          <div class="holy-date">
            <span>8</span>
            <span>ноября</span>
          </div>
          <!--<div class="holy-img-block">-->
            <img src="img/holy-block-2.png" alt="">
          <!--</div>-->


          <div class="holy-info-area">
            <div class="holy-big-name">
              Праздник в честь великомученника
              <br>Димитрия Солунского (Фессалоникийского)
            </div>

            <div class="holy-big-i">
              <div class="holy-big-i1">
                <div class="holy-big-i2">
                  <span class="i2-bold">Литургия проходит:</span>
                  <span>Храм Гроба Господня
                  Храм Гроба Господня
                  Храм Гроба Господня
                  Храм Гроба ГосподняХрам Гроба Господня
                    Храм Гроба Господня

                  </span>
                </div>
                <div class="holy-big-i2">
                  <span class="i2-bold">У мощей святого:</span>
                  <span>Дмитрий Солунский</span>
                </div>
              </div>
              <button class="btn-border big-holy-btn-fav">
                добавить напоминание о празднике
              </button>
            </div>
            <div class="holy-big-desc">
              Здесь вы можете заказать записки о здравии и об упокоениина праздничную Литургию в честь
              вмч. Димитрия Солунского (Фессалоникийского) 8 ноября, а так же молебны о здравствующих у его святых мощей
              и панихиды об упокоенных.
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-area-fluid">
  <div class="main-area">
    <div class="holy-title-page title-block">
      <div class="title">
        Подать церковную
        записку
      </div>
    </div>
    <div class="note-form-wrapper landing-note-form-wrapper">

      <div class="note-form-container">
        <div class="note-form-area">
          <form class="note-form ">
            <div class="note-border-line-1">
              <div class="note-border-line-2">
                <div class="note-content">
                  <img class="note-form-img-health" src="img/form-pic.png" alt="">
                  <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                  <div class="title">
                    Неусыпаемая псалтырь
                    <br>о здравии, на 1 год
                    <br>в сретенский монастырь
                  </div>
                  <div class="inputs">
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="Имя в Родительном падеже">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="note-form-settings">
          <div class="note-option select-temple">
            <div class="option-title">
              Храм куда будет отправлена записка
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Круглосуточное поминовение о здравии и спасении
              при чтении псалтири в обители на указанный срок
            </div>
          </div>

          <div class="note-option select-type-note">
            <div class="option-title">
              Тип записки
            </div>
            <div class="switch-buttons _mini">
              <div class="switch-buttons-switch">
                <button class="btn _active">
                  О здравии
                </button>
                <button class="btn _rest" >
                  Об упокоении
                </button>
              </div>
            </div>
            <!--      <div class="option-btn">-->
            <!--        <button class="btn active">О здравии</button>-->
            <!--        <button class="btn">Об упокоении</button>-->
            <!--      </div>-->
            <div class="option-info">
              Молитвенное поминовение имен о здравии во время <br>Божественной Литургии
            </div>
          </div>
          <div class="note-option">
            <div class="option-title">
              Вид требы
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Круглосуточное поминовение о здравии и спасении
              при чтении псалтири в обители на указанный срок
            </div>
          </div>
          <div class="note-option">
            <div class="option-title">
              Сроки исполнения требы
              <!--        <img src="./images/12.png" alt=""-->
              <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
            </div>
            <div class="select-type-1">
              <div class="input-select">
                <div class="select ">
                  <span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>Неусыпаемая Псалтырь </span>
                    <span>Празднование именин</span>
                    <span>Поздравительные сертификаты</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="option-info">
              Срок исполнения зависит от вида требы и расписания <br>
              богослужений в выбранном храме или монастыре
            </div>
          </div>
          <a href="/" class="faq-how-create-note">
            Как правильно написать имя в записку?
          </a>
          <div class="note-option note-option-additional">
            <div class="option-title">
              Дополнительные услуги
            </div>
            <div class="note-option-checkbox-list">
              <label class="checkbox">
                <input type="checkbox" class="normal-checkbox" id="u-3" name="request-access" value="private">
                <div class="label" for="u-3"></div>
                <span class="checkbox-text">Поставить свечку</span>
              </label>
              <label class="checkbox">
                <input type="checkbox" class="normal-checkbox" id="u-3" name="request-access" value="private">
                <div class="label" for="u-3"></div>
                <span class="checkbox-text">Именной кирпичик</span>
              </label>
            </div>
            <a href="#" class="note-faq">
              Как правильно написать имя в записку?
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="note-pay ">
      <div class="note-total-price">
        <div class="total">Итого к оплате</div>
        <div class="money">
          <span id="full-cost">1000</span>
          <span>₽</span></div>
      </div>

      <div class="note-pay-btn-area">
        <button class="btn-rich-greenish-yellow ">Подать записку</button>
        <button  class="btn-border mobile-fav">
          <img class="menu-icon" src="img/favorite.svg" alt="">
        </button>
        <button class="btn-border pc-fav">
          добавить в избранное</button>
      </div>

    </div>
  </div>
</div>
<%= _.template(require('./../includes/slider-temples/slider-temples.html').default)(data) %>


<%= _.template(require('./../includes/about-monastery/about-monastery.html').default)(data) %>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
