<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<style>

</style>
<div class="christmas-page">
  <img src="./img/35/branch.png" class="christmas-page__branch" alt="Рисунок">


  <section class="main-area-fluid ">
    <div class="main-area christmas-area">
      <div class="d-flex justify-content-end">
        <a href="/" class="new-year__logo">
          <img src="./img/34/logo.svg" alt="Logo">
        </a>
      </div>
      <div
          class="christmas-area__row d-flex justify-content-between position-relative flex-lg-row flex-column align-items-lg-start align-items-center">
        <div class="christmas-area__col">
          <h1 class="christmas-area__title">
            <img src="./img/35/title.svg" alt="" class="title-img">
          </h1>
          <!--          <h1 class="christmas-area__title" >-->
          <!--            <span data-text="Рождественский">Рождественский</span>-->
          <!--            <br><span>подарок</span>-->
          <!--            <br><span>близким</span>-->
          <!--          </h1>-->
          <div class="christmas-area__image">
            <img src="./img/35/christmas-img-1.png" alt="" class="christmas-area__img">
            <img src="./img/35/vector.svg" alt="" class="christmas-area__vector">
            <img src="./img/35/vector-down.svg" alt="" class="d-sm-none d-block christmas-area__vector-down">
          </div>
          <div class="btn-area">
            <a href="/" class="btn button-new-year new-year-area__button">
              Подать записку в Вифлеем
            </a>
          </div>
        </div>
        <div class="christmas-area__col">
          <p class="christmas-area__text">
            <span>Л</span>учшим подтверждением любви
            и заботы о близких является молитва
            за них. Поздравьте дорогих вам людей
            с Рождеством: <b>подайте записку
            об их здравии на праздничную литургию
            в храм Рождества Христова</b>. Сервис
            Елицы Записки предоставляет уникальную
            возможность отправить запискина Святую
            Землю, чтобы имена близких вам людей
            прозвучали под сводами храма, на том
            самом месте, где появился на свет Спаситель.
            <br><br>
            На вашу почту высылается подарочный
            сертификат о том, что за его обладателя
            возносились молитвы на главном
            богослужении года <b>в Вифлеемском храме Рождества Христова.</b>
            Вы сможете отправить
            <b>поздравительный сертификат</b> близким
            по электронной почте, а также через
            WhatsApp или Telegram, либо распечатать
            и вручить лично.
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="blend christmas-blend">
    <div class="main-area-fluid new-year christmas">
      <div class="main-area">
        <div
            class="new-year-content christmas-content d-flex justify-content-between align-items-lg-start align-items-center flex-lg-row flex-column">
          <div class="new-year-content__col new-year-content__info">
            <h2 class="new-year-content__title">
              <b>Подача записки</b>
              <br>в Вифлеемский
              <br> храм Рождества
              <br> Христова
            </h2>
            <div class="place-form-mob"></div>
            <div class="new-year-list d-flex flex-column">
              <div class="new-year-item d-flex  align-items-center">
                <div class="new-year-item__icon">
                  <img src="./img/34/item-1.svg" alt="">
                </div>
                <span class="new-year-item__text">
                Напишите в записке имена близких людей
              </span>
              </div>
              <div class="new-year-item d-flex  align-items-center">
                <div class="new-year-item__icon">
                  <img src="./img/34/item-2.svg" alt="">
                </div>
                <span class="new-year-item__text">
               Отправьте записку
              </span>
              </div>
              <div class="new-year-item d-flex  align-items-center">
                <div class="new-year-item__icon">
                  <img src="./img/34/item-3.svg" alt="">
                </div>
                <span class="new-year-item__text">
             Получите на E-mail именной
              поздравительный сертификат
              </span>
              </div>
              <div class="new-year-item d-flex  align-items-center">
                <div class="new-year-item__icon">
                  <img src="./img/34/item-4.svg" alt="">
                </div>
                <span class="new-year-item__text">
             Перешлите или распечатайте
              и подарите своим близким
              </span>
              </div>
            </div>
          </div>
          <div class="new-year-content__col new-year-content__form">
            <div class="place-form-desk">
              <div class="christmas-form christmas-form--angel">
                <img src="./img/35/chrismas-angel.svg" alt="" class="christmas-angel">
                <form class="note-form ">
                  <div class="note-border-line-1">
                    <div class="note-border-line-2">
                      <div class="note-content">
                        <img class="note-form-img-health" src="img/form-pic.png" alt="">
                        <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                        <div class="title">
                          Литургия на Святой Земле
                          в праздник Рождества Христова
                          <br><br>
                          О здравии
                        </div>
                        <div class="inputs">
                          <div class="input-container">
                            <input type="text" placeholder="Имя в Родительном падеже">
                          </div>
                          <div class="input-container">
                            <input type="text" placeholder="Имя в Родительном падеже">
                          </div>
                          <div class="input-container">
                            <input type="text" placeholder="Имя в Родительном падеже">
                          </div>
                          <div class="input-container">
                            <input type="text" placeholder="Имя в Родительном падеже">
                          </div>
                        </div>
                        <div class="christmas-form-pay d-flex justify-content-between align-items-center flex-wrap">
                          <p class="christmas-form-pay__text">
                            Итого к оплате
                          </p>
                          <span class="christmas-form-pay__total">
                              <b>5 000</b> ₽
                            </span>
                        </div>
                        <div class="btn-area center button-area-form-note">
                          <a class="btn btn-rich-greenish-yellow open-modal"
                             href="#ex2" rel="modal:open" id="fade">Подать записку</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-area-fluid christmas-info-area">
    <img src="./img/35/branch-1.png" class="christmas-info__branch" alt="Картинка">
    <div class="christmas-info">
      <h2 class="new-year-content__title">
        <b>Вифлеем</b>
        <br class="d-md-block d-none">и храм
        <br class="d-md-none d-none">рождества
        <br class="d-sm-none d-block">христова
      </h2>
      <img src="./img/35/star.svg" class="christmas-info__star" alt="Картинка">

      <!--<img src="./img/35/bg.png" class="d-sm-none d-block christmas-info__mobile-three" alt="Картинка">-->
      <img src="./img/35/vector-three.svg" class="d-sm-block d-none christmas-info__mobile-three2" alt="Картинка">
      <img src="./img/34/ball.png" alt="" class="christmas-info__christmas-ball">
      <div class="row">
        <div class="col-lg-6 col-md-12 d-flex justify-content-center">
          <div class="christmas-card-list">
            <div class="christmas-card christmas-card--w1">
              <img src="./img/35/card-1.png" alt="Храм">
            </div>
            <div class="christmas-card christmas-card--w2">
              <img src="./img/35/card.png" alt="Храм">
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-md-12 ">
          <div class="christmas-info__text">
            Храм Рождества Христова считается одной
            из самых почитаемых в мире христианских
            святынь. Он воздвигнут над пещерой, в которой
            появился на свет младенец Христос. Главное,
            что влечёт сюда людей – возможность
            прикоснуться к величайшему таинству на месте
            пришествия в мир Спасителя. К сожалению,
            не все смогут присутствовать на праздничном
            богослужении. Но можно стать духовными
            участниками торжества – передать записки
            на Святую Землю с помощью сервиса
            Елицы Записки. И под сводами Вифлеемского
            храма Рождества Христова прозвучат молитвы
            к Богу о вас и ваших близких в этот великий
            праздник, в какой бы точке земного шара
            вы ни находились!
            <br><br>
            Свои поздравления со Святой Земли передает
            для всех наших пользователей давний друг
            православной сети Елицы, священник Храма
            Рождества Христова, отец Спиридон Саммур.
          </div>
        </div>

      </div>

      <div class="christmas-video-area d-flex justify-content-center">
        <a href="#modal-video" rel="modal:open"
           class="christmas-video d-flex justify-content-between align-items-center flex-lg-row flex-column">
          <img src="./img/35/video.png" class="christmas-video__image" alt="">
          <p class="christmas-video__text">Видео-поздравление
            <br>отца Спиридона
            <br>Саммура</p>
          <p class="christmas-video__text">
            для всех наших
            <br>пользователей
          </p>
          <div class="christmas-video__mobile-body ">
            <p class="christmas-video__mobile-text">
              Видео-поздравление отца Спиридона Саммура для всех наших пользователей
            </p>
          </div>
        </a>
      </div>

      <div class="d-flex justify-content-center">
        <div class="christmas-info__footer text-center">
          <p class="christmas-info__p-text-1">
            Помощи Божией вам, мира, добра и благоденствия!
            Пусть Господь исполнит Ваше самое
            сокровенное желание: «Ибо все, чего ни попросите
            в молитве с верою, получите» (Мф. 21:22).!
          </p>

          <p class="christmas-info__p-text-2"><b>С праздником, с Рождеством Христовым!</b></p>
        </div>

      </div>
    </div>

  </section>

  <%= _.template(require('./../includes/footer/footer.html').default)(data) %>
</div>

<div id="modal-video" class="modal modal-free-note w-680 modal-other">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/pfGQKuymm3Y" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

</div>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
