<% var data = {
title: "Записки ребрендинг"
}; %>

<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>

<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<style>
  .list-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
  }
  .list-buttons button{
    margin: 0 0 30px 0;
  }
</style>

<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="list-buttons">
         сработает если разрешение экрана меньше 992
        <button class="btn btn-dark-yellow-green" name="left-icon-filter">Иконы — Фильтр-мобильная</button>
        <button class="btn btn-dark-yellow-green" name="left-name-filter">Именины — Фильтр-мобильная</button>
        <button class="btn btn-dark-yellow-green" name="left-note-filter">Молебны — Фильтр-мобильная</button>
        <button class="btn btn-dark-yellow-green" name="left-put-candle">Поставьте свечку</button>
        <button class="btn btn-dark-yellow-green" name="left-catalog">Главная — Меню-мобильная</button>
        <button class="btn btn-dark-yellow-green" name="left-menu-mobile">Главная — Меню-каталог-мобильная</button>
        <button class="btn btn-dark-yellow-green" name="left-login">Вход</button>
        <button class="btn btn-dark-yellow-green" name="left-sign-in">Регистрация</button>
        <button class="btn btn-dark-yellow-green" name="mobile-bottom-search">Поиск для мобилы разрешение экрана меньше 576</button>
        <!--<button class="btn btn-dark-yellow-green mobile-menu" style="display: block">тест</button>-->
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
