<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">

    <%= _.template(require('./../includes/left-accordion-menu/left-accordion-menu.html').default)(data) %>

    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="accordion-menu-content">
        <div class="accordion-menu-content-title">
          Поставьте свечку
        </div>
        <div class="content-filter-block put-candle _open">
          <div class="content-header">
            <div class="title">
              выберите подходящий фильтр:
            </div>
          </div>
          <div class="choice-string-list">
            <div class="choice-string format-note">
              <div class="choice-label">
                Место назначения:
              </div>
              <div class="choice-content">
                <button class="mini-p btn btn-dark-yellow-green">
                  В Храме
                </button>
                <button class="mini-p btn btn-border ">
                  К святому
                </button>
                <button class="mini-p btn btn-border ">
                  К иконе
                </button>
                <button class="mini-p btn btn-border ">
                  К Празднику
                </button>

              </div>
            </div>
            <div class="choice-string  format-note">
              <div class="choice-label">
                Тип молитвы:
              </div>
              <div class="choice-content">
                <button class="mini-p btn btn-dark-yellow-green">
                  О здравии
                </button>
                <button class="mini-p btn btn-border ">
                  об упокоении
                </button>
              </div>
            </div>
            <div class="choice-string format-note">
              <div class="choice-label">
                Размер свечи:
              </div>
              <div class="choice-content add-features">
                <div class="switch-btn">
                  <button class="btn _active btn-dark-yellow-green">
                    маленькая
                  </button>
                  <button class="btn ">
                    средняя
                  </button>
                  <button class="btn ">
                    большая
                  </button>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
      <div class="catalog-filter-block">

        <div class="input-select h-30 catalog-filter">
          <div class="select ">
            <span>сначала популярные</span>
            <div class="select-btn">
              <img src="img/cabinet-navigation-mobile-btn.png" alt="">
            </div>
          </div>
          <div class="options-result">
            <div class="options">
              <span>Неусыпаемая Псалтырь </span>
              <span>Празднование именин</span>
              <span>Поздравительные сертификаты</span>
            </div>
          </div>
        </div>
        <button class="btn   btn-border pc-catalog-filter-btn">
          Свернуть фильтр
        </button>
        <button class="btn  btn-border mobile-catalog-filter-btn">
          фильтр
          <span class="filter-count">5</span>
        </button>
      </div>
      <div class="list-cards no-slider">
        <div class="card _price">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              СРЕДНЯЯ СВЕЧА
              о здравии
              в Пантелеимоновом
              монастыре на святой
              горе Афон
            </div>
            <div class="card-price">
              <span>100 </span>Р
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                добавить в корзину
              </button>
            </div>
          </div>
        </div>
        <div class="card _price">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              СРЕДНЯЯ СВЕЧА
              о здравии
              в Пантелеимоновом
              монастыре на святой
              горе Афон
            </div>
            <div class="card-price">
              <span>100 </span>Р
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                добавить в корзину
              </button>
            </div>
          </div>
        </div>
        <div class="card _price">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="header-img">
            <img src="img/card-holiday.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              СРЕДНЯЯ СВЕЧА
              о здравии
              в Пантелеимоновом
              монастыре на святой
              горе Афон
            </div>
            <div class="card-price">
              <span>100 </span>Р
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                добавить в корзину
              </button>
            </div>
          </div>
        </div>

        <div class="card-gift">
          <img class="card-gift-img" src="img/landing-gift.png" alt="Подарок">
          <div class="landing-gift-block">
            <div class="gift-circle-title">
              3 первые
              записки
              в подарок!
            </div>
            <div class="gift-circle-text">
              Получите три первых записки
              в подарок от нашего сервиса
              при регистрации в личном кабинете
            </div>
            <div class="btn-area center">
              <button class="btn-rich-greenish-yellow landing-gift-btn">
                получить подарок
              </button>
            </div>
          </div>
          <!--<img src="img/landing-gift-vector.png" alt="Подарок">-->
        </div>
      </div>
      <div class="place-helper-mob helper-mob-ver">

      </div>
    </div>

  </div>
  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
