<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>

<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <%= _.template(require('./../includes/left-accordion-menu/left-accordion-menu.html').default)(data) %>
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>

      <%= _.template(require('./../includes/accordion-menu-contents/celebration-birthday.html').default)(data) %>
      <div class="catalog-filter-block">

        <div class="input-select h-30 catalog-filter">
          <div class="select ">
            <span>сначала популярные</span>
            <div class="select-btn">

              <img src="img/cabinet-navigation-mobile-btn.png" alt="">
            </div>
          </div>
          <div class="options-result">
            <div class="options">
              <span>Неусыпаемая Псалтырь </span>
              <span>Празднование именин</span>
              <span>Поздравительные сертификаты</span>
            </div>
          </div>
        </div>

        <button class="btn   btn-border pc-catalog-filter-btn">
          Свернуть фильтр
        </button>
        <button class="btn  btn-border mobile-catalog-filter-btn" id="filter-alf">
          фильтр
          <span class="filter-count">5</span>
        </button>
      </div>

      <div class="list-cards no-slider list-cards-name">
        <div class="card">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/bell.svg" alt="Избранное">
          </button>
          <div class="date">
            22 января
          </div>
          <div class="info">
            <div class="name">
              Алексей
            </div>
            <div class="list-name-h">
              <div class="list-name-h-title">Святые покровители:</div>
              <div class="name-holy">Святитель Алексий, Святой Алексий, Алексий Бортсурманский,
                Алексий Невский
              </div>
            </div>
          </div>

          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">добавить в корзину</button>
          </div>
        </div>
        <div class="card">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
          </button>
          <div class="date">
            22 января
          </div>
          <div class="info">
            <div class="name">
              Алексей
            </div>
            <div class="list-name-h">
              <div class="list-name-h-title">Святые покровители:</div>
              <div class="name-holy">Святитель Алексий, Святой Алексий, Алексий Бортсурманский,
                Алексий Невский
              </div>
            </div>
          </div>

          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">добавить в корзину</button>
          </div>
        </div>
        <div class="card-gift">
          <img class="card-gift-img" src="img/landing-gift.png" alt="Подарок">
          <div class="landing-gift-block">
            <div class="gift-circle-title">
              3 первые
              записки
              в подарок!
            </div>
            <div class="gift-circle-text">
              Получите три первых записки
              в подарок от нашего сервиса
              при регистрации в личном кабинете
            </div>
            <div class="btn-area center">
              <button class="btn-rich-greenish-yellow landing-gift-btn">
                получить подарок
              </button>
            </div>
          </div>
          <!--<img src="img/landing-gift-vector.png" alt="Подарок">-->
        </div>
      </div>
      <%= _.template(require('./../includes/parish-collections/parish-collections.html').default)(data) %>
      <div class="place-helper-mob helper-mob-ver">

      </div>
      <div class="list-cards no-slider">
        <div class="card">
          <button class="card-favorite">
            <img class="menu-icon favorite" src="img/bell.svg" alt="Избранное">
          </button>
          <div class="date">
            22 января
          </div>
          <div class="info">
            <div class="name">
              Алексей
            </div>
            <div class="list-name-h">
              <div class="list-name-h-title">Святые покровители:</div>
              <div class="name-holy">Святитель Алексий, Святой Алексий, Алексий Бортсурманский,
                Алексий Невский
              </div>
            </div>
          </div>

          <div class="btn-area center">
            <button class="btn btn-rich-greenish-yellow">добавить в корзину</button>
          </div>
        </div>
      </div>
      <div class="pagination-area">
        <div class="pagination">
          <div class="pag-num _active">
            <img class="menu-icon pagination-img" src="img/pagination-img.svg" alt="">
            <span class="pag-num">1</span>
          </div>
          <div class="pag-num ">
            <span class="pag-num">2</span>
          </div>
          <div class="pag-num ">
            <span class="pag-num">3</span>
          </div>
          <div class="pag-num ">
            <span class="pag-num">4</span>
          </div>
          <div class="pag-num ">
            <span class="pag-num">5</span>
          </div>
          <div class="pag-num ">
            <img class="menu-icon pagination-img " src="img/pagination-img.svg" alt="">
            <span class="pag-num">6</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
