<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="about-project-page">
        <div class="title-block">
          <div class="title">
            Правила написания церковных записок
          </div>
        </div>
        <div class="about-project-page-desc whate-notes">
          <p>Существуют определенные правила составления записок, обусловленные необходимостью разграничивать
            назначение записки и удобством ее чтения за богослужением. От того, насколько грамотно составлена
            записка, зависит правильный выбор подходящегобогослужения для поминовения тех, чьи имена
            указаны в записке.</p>
        </div>

      </div>
      <div class="whate-notes-content" style="margin: 0">
        <div class="rules-list">
          <div class="rules">
            <div class="rules-block-img">
              <img src="img/rules-pic-1.png" alt="Правило-1">
            </div>
            <div class="rules-info">
              Записки подают «О здравии» или «Об упокоении».
              В столбик пишут полные имена людей, за которых
              будут молиться на богослужении. Указываются
              имена, данные при святом крещении. Имена
              пишутся в родительном падеже (кого?)
              До 7 лет ребенок—младенец, с 7 до 14 лет—отрок.
              В записках это указывается так: «мл. Степана»
              или «отр. Георгия».
            </div>
          </div>
          <div class="rules">
            <div class="rules-block-img">
              <img src="img/rules-pic-2.png" alt="Правило-2">
            </div>
            <div class="rules-info">
              Имена священнослужителей, монашествующих
              пишут вначале записки, указывая сан, например:
              «схиархм. Илия», «прот. Сергия», «иерея Михаила».
            </div>
          </div>
          <div class="rules">
            <div class="rules-block-img">
              <img src="img/rules-pic-3.png" alt="Правило-3">
            </div>
            <div class="rules-info">
              В записках «О здравии» могут упоминаться особые
              жизненные обстоятельства поминаемого: «бол»,
              «т. бол» — болящего, тяжко болящего;
              «закл.» заключенного;  «непр» — непраздной,
              то есть беременной; «пут» — путешествующего.
            </div>
          </div>
          <div class="rules">
            <div class="rules-block-img">
              <img src="img/rules-pic-4.png" alt="Правило-4">
            </div>
            <div class="rules-info">
              Записки «Об упокоении» не подают за некрещёных,
              иноверных, за самоубийц. В течение 40 дней после
              смерти усопший в записке именуется
              как «новопреставленный» («нов.») А в особые даты
              памяти (день рождения/смерти, именины) к имени
              усопшего добавляется «присн» - приснопоминаемый,
              приснопамятный.
              В записках «Об упокоении» усопший в течение
              40 дней по кончине именуется
              «новопреставленный» (нов.)
            </div>
          </div>
          <div class="rules">
            <div class="stick-pic-img">
              <img class="stick-pic" src="img/rules-stick-pic.png" alt="">
            </div>
           <div class="rules-stick">
             Какие типы записок бывают?
           </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--<div class="whate-notes-slider-area">-->
  <div class="main-area-fluid">
    <div class="main-area">
      <div class="monastery-slider slider-area _right-pos-vector">
        <div class="title">
          Мы рекомендуем
        </div>
        <div class="list-cards recommend-slider">
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
            </div>
            <div class="btn-area center">
              <button class="btn btn-rich-greenish-yellow">
                Заполнить имена
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--</div>-->

</div>
<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
