<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">

    <%= _.template(require('./../includes/left-accordion-menu/left-accordion-menu.html').default)(data) %>

    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="feedback">
        <div class="feedback-modal-area">
          <div class="modal-title">
            ОБРАТНАЯ СВЯЗЬ
          </div>
          <div class="input-container">
            <div class="input-area">
              <input type="text" placeholder="ваше имя"/>
            </div>
          </div>
          <div class="flex-input-container">
            <div class="input-container">
              <div class="input-area">
                <input type="text" placeholder="Телефон"/>
              </div>
            </div>
            <div class="input-container">
              <div class="input-area">
                <input type="text" placeholder="EMAIL"/>
              </div>
            </div>
          </div>
          <div class="input-container">
            <div class="input-area">
              <textarea  placeholder="введите текст сообщения"></textarea>
            </div>
          </div>
          <div class="btn-area right">
            <button class="btn btn-rich-greenish-yellow">отправить сообщение</button>
          </div>
        </div>

        <a href="#" rel="modal:close"></a>
      </div>
      <div id="ex1" class="modal feedback">
        <div class="feedback-modal-area">
          <div class="modal-title">
            ОБРАТНАЯ СВЯЗЬ
          </div>
          <div class="input-container">
            <div class="input-area">
              <input type="text" placeholder="ваше имя"/>
            </div>
          </div>
          <div class="flex-input-container">
            <div class="input-container">
              <div class="input-area">
                <input type="text" placeholder="Телефон"/>
              </div>
            </div>
            <div class="input-container">
              <div class="input-area">
                <input type="text" placeholder="EMAIL"/>
              </div>
            </div>
          </div>
          <div class="input-container">
            <div class="input-area">
              <textarea  placeholder="введите текст сообщения"></textarea>
            </div>
          </div>
          <div class="btn-area right">
            <button class="btn btn-rich-greenish-yellow">отправить сообщение</button>
          </div>
        </div>

        <a href="#" rel="modal:close"></a>
      </div>

      <p><a
        class="btn btn-rich-greenish-yellow open-modal"  id="fade"
        href="#ex1" rel="modal:open">Модалка Обратная связь</a></p>

    </div>

  </div>
  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
