<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area enter-form-area">
        <div class="title-block">
          <div class="title">
            Регистрация
          </div>
        </div>
        <div class="form-area">
          <form>
            <div class="input-container form-email error-input">
              <input type="text" placeholder="E-mail">
              <div class="error">Ошибка</div>
            </div>
            <div class="input-container">
              <input type="text" placeholder="пароль">
            </div>
            <div class="input-container">
              <input type="text"  placeholder="пароль еще раз">
            </div>
            <div class="btn-area">
              <button class="btn-rich-greenish-yellow">
                зарегистрироваться
              </button>
            </div>
          </form>
          <div class="methods-enter-area">
            <div class="methods-enter">
              <div class="text">Зарегистрироваться с помощью учетной записи других сервисов</div>
              <div class="methods-list">
                <a href="/">
                  <img src="img/enter-el.png" alt="Елицы">
                </a>
                <a href="/">
                  <img src="img/enter-ok.png" alt="Одноклассники">
                </a>
                <a href="/">
                  <img src="img/enter-vk.png" alt="Вконтакте">
                </a>
                <a href="/">
                  <img src="img/enter-fb.png" alt="Фейсбук">
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
