<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <%= _.template(require('./../includes/left-accordion-menu/left-accordion-menu.html').default)(data) %>
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <%= _.template(require('./../includes/accordion-menu-contents/prayer-slider.html').default)(data) %>

      <div class="prayer-form-area">
        <div class="note-form-wrapper landing-note-form-wrapper">
          <div class="note-form-container">
            <div class="note-form-area">
              <form class="note-form _rest">
                <div class="note-border-line-1">
                  <div class="note-border-line-2">
                    <div class="note-content">
                      <img class="note-form-img-health" src="img/form-pic.png" alt="">
                      <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                      <div class="title">
                        Неусыпаемая псалтырь
                        <br>о здравии, на 1 год <br>в сретенский монастырь
                      </div>
                      <div class="inputs">
                        <div class="input-container">
                          <input type="text" placeholder="Имя в Родительном падеже">
                        </div>
                        <div class="input-container">
                          <input type="text" placeholder="Имя в Родительном падеже">
                        </div>
                        <div class="input-container">
                          <input type="text" placeholder="Имя в Родительном падеже">
                        </div>
                        <div class="input-container">
                          <input type="text" placeholder="Имя в Родительном падеже">
                        </div>
                        <div class="input-container">
                          <input type="text" placeholder="Имя в Родительном падеже">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="note-form-settings">
              <div class="note-option note-option-additional">
                <div class="option-title">
                  Подать свечу
                </div>
                <div class="serve-candle-area">
                  <div class="serve-candle-option-info">
                    Вы можете добавить свечи к вашей записке (Тут какой-то поясняющий текст можно)
                  </div>
                </div>
                <div class="list-candle">
                  <div class="item-candle">
                    <div class="item-candle-name">Поставить маленькую свечку</div>
                    <div class="item-candle-price">100 Р</div>
                    <div class="item-candle-buttons">
                      <button class="btn btn-border inc">+</button>
                      <div class="count">0 <span>шт.</span></div>
                      <button class="btn btn-border dec">-</button>
                    </div>
                  </div>
                  <div class="item-candle">
                    <div class="item-candle-name">Поставить среднюю свечку</div>
                    <div class="item-candle-price">200 Р</div>
                    <div class="item-candle-buttons">
                      <button class="btn btn-border inc">+</button>
                      <div class="count">0 <span>шт.</span></div>
                      <button class="btn btn-border dec">-</button>
                    </div>
                  </div>
                  <div class="item-candle">
                    <div class="item-candle-name">Поставить большую свечку</div>
                    <div class="item-candle-price">300 Р</div>
                    <div class="item-candle-buttons">
                      <button class="btn btn-border inc">+</button>
                      <div class="count">0 <span>шт.</span></div>
                      <button class="btn btn-border dec">-</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="note-pay ">
          <div class="note-total-price">
            <div class="total">Итого к оплате</div>
            <div class="money">0<span>₽</span></div>
          </div>

          <div class="note-pay-btn-area">
            <button class="btn-rich-greenish-yellow ">Подать записку</button>
            <button class="btn-border mobile-fav">
              <img class="menu-icon" src="img/favorite.svg" alt="">
            </button>
            <button class="btn-border pc-fav">
              добавить в избранное
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
