<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>

<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>

<div class="main-area-fluid">
  <div class="main-area header-area">
    <header class="header">
      <div class="header-up">
        <div class="drop-window-menu-profile drop-window-navigation">
          <div class="drop-navigation-area">
            <div class="drop-navigation-block">
              <div class="drop-navigation-col">
                <div class="drop-navigation-title">Молебны</div>
                <a class="drop-navigation-link" href="/">Отношения в семье</a>
                <a class="drop-navigation-link" href="/">Беременность</a>
                <a class="drop-navigation-link" href="/">Благополучие детей</a>
                <a class="drop-navigation-link" href="/">Личные проблемы</a>
                <a class="drop-navigation-link" href="/">Проблемы со здоровьем</a>
                <a class="drop-navigation-link" href="/">Финансовые проблемы</a>
              </div>
            </div>
            <div class="drop-navigation-block">
              <div class="drop-navigation-col">
                <div class="drop-navigation-title">простые записки</div>
                <a class="drop-navigation-link" href="/">В монастыри</a>
                <a class="drop-navigation-link" href="/">К праздникам</a>
                <a class="drop-navigation-link" href="/">К иконам</a>
                <a class="drop-navigation-link" href="/">К святым</a>
              </div>
            </div>
            <div class="drop-navigation-block">
              <div class="drop-navigation-col">
                <div class="drop-navigation-title">иное</div>
                <a class="drop-navigation-link" href="/">Празднование именин</a>
                <a class="drop-navigation-link" href="/">Поздравительные
                  сертификаты</a>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-menu" name="left-menu-mobile">
          <img src="img/mobile-menu.png" alt="Меню">
        </div>
        <a class="header-logo" href="/">
          <img class="img-fluid" src="img/logo.png" alt="Елицы записки">
          <img class="img-fluid-mobile" src="img/logo-mobile.png" alt="Елицы записки">
        </a>

        <button class="header-menu btn-rich-greenish-yellow" name="catalog-pc">
          <img class="header-menu-icon" src="img/icon-3.svg" alt="">
          <span class="header-menu-name">Каталог</span>
        </button>

        <form class="header-search input-container">
          <input type="text" placeholder="Введите название храма, святого или иконы">
          <button class="search" type="submit">
            <img src="img/icon-4.svg" alt="">
          </button>
        </form>
        <button class="search btn-mobile-search"
                name="mobile-bottom-search"
                type="submit">
          <img src="img/icon-4.svg" alt="">
        </button>
        <div class="menu-profile">
          <div class="menu-profile-item pc-profile-item-cabinet profile-enter-cabinet">
            <div class="cabinet-icon">
              <img class="menu-icon  key-enter" src="img/key-enter.svg" alt="Мой кабинет">
            </div>
            <span>Вход | Регистрация</span>
            <div class="drop-window-menu-profile drop-window-enter">

              <div class="cabinet-type">
                <div class="drop-title">Мой кабинет</div>
                <div class="form-area">
                  <form>
                    <!--<div class="input-container form-email error-input">-->
                    <!--<input type="text" placeholder="E-mail">-->
                    <!--&lt;!&ndash;<div class="error">Ошибка</div>&ndash;&gt;-->
                    <!--</div>-->
                    <div class="input-container">
                      <input type="text" placeholder="пароль">
                    </div>
                    <div class="input-container">
                      <input type="text" placeholder="пароль еще раз">
                    </div>
                    <div class="btn-area btn-area_drop_window">
                      <button class="btn-rich-greenish-yellow">
                        войти
                      </button>
                    </div>
                    <a href="/" class="forgot-password">Забыли пароль?</a>
                  </form>
                  <div class="btn-area btn-area_sign-up">
                    <div class="btn btn-border">Зарегистрироваться</div>
                  </div>
                  <!--<div class="methods-enter-area">-->
                    <!--<div class="methods-enter">-->
                      <!--<div class="methods-list">-->
                        <!--<a href="/">-->
                          <!--<img src="img/enter-el.png" alt="Елицы">-->
                        <!--</a>-->
                        <!--<a href="/">-->
                          <!--<img src="img/enter-ok.png" alt="Одноклассники">-->
                        <!--</a>-->
                        <!--<a href="/">-->
                          <!--<img src="img/enter-vk.png" alt="Вконтакте">-->
                        <!--</a>-->
                        <!--<a href="/">-->
                          <!--<img src="img/enter-fb.png" alt="Фейсбук">-->
                        <!--</a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
          <a class="menu-profile-item mob-profile-item-cabinet" name="left-login">
            <div class="cabinet-icon">
              <img class="menu-icon" src="img/cabinet-ccc.svg" alt="Мой кабинет">
            </div>
          </a>
          <a href="/" class="menu-profile-item pc-profile-item-cabinet">
            <div class="cabinet-icon">
              <img class="menu-icon menu-profile-item favourites-icon" src="img/favourites.svg" alt="Избранное">
            </div>
            <span>Избранное</span>
          </a>
          <a href="/" class="menu-profile-item pc-profile-item-cabinet">
            <div class="cabinet-icon">
              <img class="menu-icon menu-profile-item basket-icon" src="img/basket.svg" alt="Корзина">
            </div>
            <span>Корзина</span>
          </a>
        </div>
      </div>

      <div class="header-down">
        <button class="header-menu btn-rich-greenish-yellow" name="left-catalog">
          <img class="header-menu-icon" src="img/icon-3.svg" alt="">
          <span class="header-menu-name">Каталог</span>
        </button>
        <nav class="navigation-header-area">
          <div class="navigation-header">
            <a href="/" class="link active">
              Молебны
            </a>
            <a href="/" class="link">
              Поздравления
            </a>
            <a href="/" class="link">
              Именины
            </a>
            <a href="/" class="link">
              Возможности сервиса
            </a>
            <a href="/" class="link">
              Информация православным
            </a>
            <div class="navigation-dots-menu">
              <img
                  src="img/dots-menu.svg"
                  alt="Меню">
              <div class="dot-menu">
                <a href="/"> Медиа </a>
                <a href="/"> Отзывы </a>
              </div>
            </div>
            <!--          <img class="" src="img/img-header-vector.png" alt="">-->
          </div>
          <button class="header-gift btn-dark-yellow-green">

            <img class="header-gift-icon"
                 src="img/gift.svg"
                 alt="Подарок">
            <span class="header-gift-text">
        Активировать подарочный сертификат
      </span>
          </button>
        </nav>
      </div>

    </header>
  </div>
</div>

<%= _.template(require('./../includes/main-info/main-info.html').default)(data) %>

<%= _.template(require('./../includes/what-notes-landing/what-notes-landing.html').default)(data) %>

<!--<div class="main-area-fluid" >-->
  <!--<div class="main-area main-content">-->
    <!--<div class="landing-gallery-area">-->
      <!--<div class="title-block">-->
        <!--<div class="title">-->
          <!--Благодаря сервису вы можете <br>заказать молебен-->
          <!--или подать записку:-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="content">-->
        <!--<div class="holy-tags holy-tags-landing">-->
          <!--<div class="list">-->
            <!--<div class="list-item">-->
              <!--<div class="tag">-->
                <!--<div class="tag-content">-->
                  <!--<div class="tag-icon">-->
                    <!--<img src="img/icon-tag.png" alt="">-->
                  <!--</div>-->
                  <!--<div class="title">Здоровье</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="tag">-->
                <!--<div class="tag-content">-->
                  <!--<div class="tag-icon">-->
                    <!--<img src="img/icon-tag.png" alt="">-->
                  <!--</div>-->
                  <!--<div class="title">Семья</div>-->
                <!--</div>-->

              <!--</div>-->
              <!--<div class="tag">-->
                <!--<div class="tag-content">-->
                  <!--<div class="tag-icon">-->
                    <!--<img src="img/icon-tag.png" alt="">-->
                  <!--</div>-->
                  <!--<div class="title">Дети</div>-->
                <!--</div>-->

              <!--</div>-->
            <!--</div>-->
            <!--<div class="list-item">-->
              <!--<div class="tag">-->
                <!--<div class="tag-content">-->
                  <!--<div class="tag-icon">-->
                    <!--<img src="img/icon-tag.png" alt="">-->
                  <!--</div>-->
                  <!--<div class="title">Здоровье</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="tag">-->
                <!--<div class="tag-content">-->
                  <!--<div class="tag-icon">-->
                    <!--<img src="img/icon-tag.png" alt="">-->
                  <!--</div>-->
                  <!--<div class="title">Духовные проблемы</div>-->
                <!--</div>-->

              <!--</div>-->
              <!--<a href="/" class="tag-go-catalog">-->
                <!--<div class="title">Перейти в каталог</div>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="list-item list-item-links">-->
              <!--<a class="list-item-link" href="/">Записка о здравии</a>-->
              <!--<a class="list-item-link" href="/">Записка об упокоении</a>-->
              <!--<a class="list-item-link" href="/"> Проскомидия</a>-->
              <!--<a class="list-item-link" href="/"> Молебен у мощей святых <br>или иконы</a>-->
              <!--<a class="list-item-link" href="/">Сорокоуст</a>-->
              <!--<a class="list-item-link" href="/">Неусыпаемая псалтирь</a>-->
              <!--<a class="list-item-link" href="/">Панихида</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="main-area-fluid">-->
  <!--<div class="main-area main-content">-->
    <!--<div class="landing-note-content">-->
      <!--<div class="certificate-gift-area">-->
        <!--<div class="certificate-gift-border">-->
          <!--<img src="img/certificate-gift.jpg" alt="">-->
          <!--<div class="certificate-gift-title">-->
            <!--Вы также можете поздравить близких людей с именинами и получить подарочный сертификат-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<%= _.template(require('./../includes/holiday-landing/holiday-landing.html').default)(data) %>-->

<!--<div class="main-area-fluid">-->
  <!--<div class="main-area">-->
    <!--<div class="content  pray-area holiday-landing">-->
      <!--<div class="title-block">-->
        <!--<div class="title">Помолитесь за себя и своих близких-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="card-list-holiday slider-holiday-landing ">-->
        <!--<div class="card-holiday slide-holiday-landing">-->
          <!--<img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">-->
          <!--<div class="card-holiday-name slide-holiday-landing-name">-->
            <!--Празднование святого-->
            <!--николая чудотворца-->
          <!--</div>-->
          <!--<div class="card-holiday-btn-area slide-holiday-landing-btn-area">-->
            <!--<a href="/" class="btn-rich-greenish-yellow">-->
              <!--Перейти в каталог-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card-holiday slide-holiday-landing">-->
          <!--<img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">-->
          <!--<div class="card-holiday-name slide-holiday-landing-name">-->
            <!--Празднование святого-->
            <!--николая чудотворца-->
          <!--</div>-->
          <!--<div class="card-holiday-btn-area slide-holiday-landing-btn-area">-->
            <!--<a href="/" class="btn-rich-greenish-yellow">-->
              <!--Перейти в каталог-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card-holiday slide-holiday-landing">-->
          <!--<img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">-->
          <!--<div class="card-holiday-name slide-holiday-landing-name">-->
            <!--Празднование святого-->
            <!--николая чудотворца-->
          <!--</div>-->
          <!--<div class="card-holiday-btn-area slide-holiday-landing-btn-area">-->
            <!--<a href="/" class="btn-rich-greenish-yellow">-->
              <!--Перейти в каталог-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card-holiday slide-holiday-landing">-->
          <!--<img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">-->
          <!--<div class="card-holiday-name slide-holiday-landing-name">-->
            <!--Празднование святого-->
            <!--николая чудотворца-->
          <!--</div>-->
          <!--<div class="card-holiday-btn-area slide-holiday-landing-btn-area">-->
            <!--<a href="/" class="btn-rich-greenish-yellow">-->
              <!--Перейти в каталог-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card-holiday slide-holiday-landing">-->
          <!--<img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">-->
          <!--<div class="card-holiday-name slide-holiday-landing-name">-->
            <!--Празднование святого-->
            <!--николая чудотворца-->
          <!--</div>-->
          <!--<div class="card-holiday-btn-area slide-holiday-landing-btn-area">-->
            <!--<a href="/" class="btn-rich-greenish-yellow">-->
              <!--Перейти в каталог-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card-holiday slide-holiday-landing">-->
          <!--<img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">-->
          <!--<div class="card-holiday-name slide-holiday-landing-name">-->
            <!--Празднование святого-->
            <!--николая чудотворца-->
          <!--</div>-->
          <!--<div class="card-holiday-btn-area slide-holiday-landing-btn-area">-->
            <!--<a href="/" class="btn-rich-greenish-yellow">-->
              <!--Перейти в каталог-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card-holiday slide-holiday-landing">-->
          <!--<img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">-->
          <!--<div class="card-holiday-name slide-holiday-landing-name">-->
            <!--Празднование святого-->
            <!--николая чудотворца-->
          <!--</div>-->
          <!--<div class="card-holiday-btn-area slide-holiday-landing-btn-area">-->
            <!--<a href="/" class="btn-rich-greenish-yellow">-->
              <!--Перейти в каталог-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card-holiday slide-holiday-landing">-->
          <!--<img class="card-holiday-image" src="img/slide-holiday.jpg" alt="Икона">-->
          <!--<div class="card-holiday-name slide-holiday-landing-name">-->
            <!--Празднование святого-->
            <!--николая чудотворца-->
          <!--</div>-->
          <!--<div class="card-holiday-btn-area slide-holiday-landing-btn-area">-->
            <!--<a href="/" class="btn-rich-greenish-yellow">-->
              <!--Перейти в каталог-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="main-area-fluid">-->
  <!--<div class="main-area">-->
    <!--<div class="content note-el-area">-->
      <!--<div class="title-block">-->
        <!--<div class="title">Елицы.Записки-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="note-el-info">-->
        <!--<div class="description">-->
          <!--Елицы Записки – онлайн-сервис по подаче записок, заказу молебнов и других-->
          <!--церковных треб в храмах и монастырях России и мира.-->
          <!--Служба Елицы Записки предназначена, в первую очередь, для тех, у кого-->
          <!--нет возможности самостоятельно побывать в паломничестве и вознести-->
          <!--молитвы перед почитаемыми христианскими святынями.-->
          <!--<br class="depart">-->
          <!--<br class="depart">-->
          <!--<div class="list-statistics mob-v">-->
            <!--<div class="statistics-item">-->
              <!--<div class="num">36</div>-->
              <!--<div class="text">святых-->
                <!--<br>мест-->
              <!--</div>-->
              <!--<div class="desc">-->
                <!--Храмы, церкви и монастыри-->
                <!--в самых удаленных-->
                <!--уголках Земли-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="statistics-item">-->
              <!--<div class="num">67</div>-->
              <!--<div class="text">икон-->
                <!--<br>и мощей-->
              <!--</div>-->
              <!--<div class="desc">-->
                <!--Редкие чудотворные иконы-->
                <!--и мощи православных-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="statistics-item">-->
              <!--<div class="num">128</div>-->
              <!--<div class="text">праздников</div>-->
              <!--<div class="desc">Церковные события, в честь-->
                <!--которых можно помолиться-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--У каждого пользователя нашего сервиса есть возможность подать записки-->
          <!--о своих близких в самые удаленные монастыри России и мира, с которыми-->
          <!--сохранено евхаристическое общение. Наша служба имеет договоренности-->
          <!--с монастырями об исполнении ваших треб и вознесении молитв-->
          <!--о вас и ваших близких.-->
        <!--</div>-->
        <!--<div class="list-statistics">-->
          <!--<div class="statistics-item">-->
            <!--<div class="num">36</div>-->
            <!--<div class="text">святых-->
              <!--<br>мест-->
            <!--</div>-->
            <!--<div class="desc">-->
              <!--Храмы, церкви и монастыри-->
              <!--в самых удаленных-->
              <!--уголках Земли-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="statistics-item">-->
            <!--<div class="num">67</div>-->
            <!--<div class="text">икон-->
              <!--<br>и мощей-->
            <!--</div>-->
            <!--<div class="desc">-->
              <!--Редкие чудотворные иконы-->
              <!--и мощи православных-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="statistics-item">-->
            <!--<div class="num">128</div>-->
            <!--<div class="text">праздников</div>-->
            <!--<div class="desc">Церковные события, в честь-->
              <!--которых можно помолиться-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<%= _.template(require('./../includes/reviews/reviews.html').default)(data) %>-->

<!--<div class="main-area-fluid">-->
  <!--<div class="main-area">-->
    <!--<div class="note-form-wrapper landing-note-form-wrapper">-->
      <!--<div class="switch-buttons switch-buttons-landing">-->
        <!--<div class="switch-buttons-switch ">-->
          <!--<button class="btn _active">-->
            <!--Записка в Храм/Монастырь-->
          <!--</button>-->
          <!--<button class="btn">-->
            <!--Записка к святым и иконам-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="note-form-container">-->
        <!--<div class="note-form-area">-->
          <!--<form class="note-form ">-->
            <!--<div class="note-border-line-1">-->
              <!--<div class="note-border-line-2">-->
                <!--<div class="note-content">-->
                  <!--<img class="note-form-img-health" src="img/form-pic.png" alt="">-->
                  <!--<img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">-->
                  <!--<div class="title">-->
                    <!--Неусыпаемая псалтырь-->
                    <!--о здравии, на 1 год-->
                    <!--в сретенский монастырь-->
                  <!--</div>-->
                  <!--<div class="inputs">-->
                    <!--<div class="input-container">-->
                      <!--<input type="text" placeholder="Имя в Родительном падеже">-->
                    <!--</div>-->
                    <!--<div class="input-container">-->
                      <!--<input type="text" placeholder="Имя в Родительном падеже">-->
                    <!--</div>-->
                    <!--<div class="input-container">-->
                      <!--<input type="text" placeholder="Имя в Родительном падеже">-->
                    <!--</div>-->
                    <!--<div class="input-container">-->
                      <!--<input type="text" placeholder="Имя в Родительном падеже">-->
                    <!--</div>-->
                    <!--<div class="input-container">-->
                      <!--<input type="text" placeholder="Имя в Родительном падеже">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->

        <!--<div class="note-form-settings">-->
          <!--<div class="note-option select-temple">-->
            <!--<div class="option-title">-->
              <!--Храм куда будет отправлена записка-->
              <!--&lt;!&ndash;        <img src="./images/12.png" alt=""&ndash;&gt;-->
              <!--&lt;!&ndash;             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="select-type-1">-->
              <!--<div class="input-select">-->
                <!--<div class="select ">-->
                  <!--<span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>-->
                  <!--<div class="select-btn">-->

                    <!--<img src="img/cabinet-navigation-mobile-btn.png" alt="">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="options-result">-->
                  <!--<div class="options">-->
                    <!--<span>Неусыпаемая Псалтырь </span>-->
                    <!--<span>Празднование именин</span>-->
                    <!--<span>Поздравительные сертификаты</span>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->
            <!--</div>-->

            <!--<div class="option-info">-->
              <!--Круглосуточное поминовение о здравии и спасении-->
              <!--при чтении псалтири в обители на указанный срок-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="note-option select-type-note">-->
            <!--<div class="option-title">-->
              <!--Тип записки-->
            <!--</div>-->
            <!--<div class="switch-buttons _mini">-->
              <!--<div class="switch-buttons-switch">-->
                <!--<button class="btn _active">-->
                  <!--О здравии-->
                <!--</button>-->
                <!--<button class="btn _rest">-->
                  <!--Об упокоении-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;      <div class="option-btn">&ndash;&gt;-->
            <!--&lt;!&ndash;        <button class="btn active">О здравии</button>&ndash;&gt;-->
            <!--&lt;!&ndash;        <button class="btn">Об упокоении</button>&ndash;&gt;-->
            <!--&lt;!&ndash;      </div>&ndash;&gt;-->
            <!--<div class="option-info">-->
              <!--Молитвенное поминовение имен о здравии во время <br>Божественной Литургии-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="note-option">-->
            <!--<div class="option-title">-->
              <!--Вид требы-->
              <!--&lt;!&ndash;        <img src="./images/12.png" alt=""&ndash;&gt;-->
              <!--&lt;!&ndash;             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="select-type-1">-->
              <!--<div class="input-select">-->
                <!--<div class="select ">-->
                  <!--<span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>-->
                  <!--<div class="select-btn">-->

                    <!--<img src="img/cabinet-navigation-mobile-btn.png" alt="">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="options-result">-->
                  <!--<div class="options">-->
                    <!--<span>Неусыпаемая Псалтырь </span>-->
                    <!--<span>Празднование именин</span>-->
                    <!--<span>Поздравительные сертификаты</span>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->
            <!--</div>-->

            <!--<div class="option-info">-->
              <!--Круглосуточное поминовение о здравии и спасении-->
              <!--при чтении псалтири в обители на указанный срок-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="note-option">-->
            <!--<div class="option-title">-->
              <!--Сроки исполнения требы-->
              <!--&lt;!&ndash;        <img src="./images/12.png" alt=""&ndash;&gt;-->
              <!--&lt;!&ndash;             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="select-type-1">-->
              <!--<div class="input-select">-->
                <!--<div class="select ">-->
                  <!--<span>Неусыпаемая Псалтырь  Неусыпаемая Псалтырь </span>-->
                  <!--<div class="select-btn">-->

                    <!--<img src="img/cabinet-navigation-mobile-btn.png" alt="">-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="options-result">-->
                  <!--<div class="options">-->
                    <!--<span>Неусыпаемая Псалтырь </span>-->
                    <!--<span>Празднование именин</span>-->
                    <!--<span>Поздравительные сертификаты</span>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->
            <!--</div>-->

            <!--<div class="option-info">-->
              <!--Срок исполнения зависит от вида требы и расписания <br>-->
              <!--богослужений в выбранном храме или монастыре-->
            <!--</div>-->
          <!--</div>-->
          <!--<a href="/" class="faq-how-create-note">-->
            <!--Как правильно написать имя в записку?-->
          <!--</a>-->
          <!--<div class="note-option note-option-additional">-->
            <!--<div class="option-title">-->
              <!--Дополнительные услуги-->
            <!--</div>-->
            <!--<div class="note-option-checkbox-list">-->
              <!--<label class="checkbox">-->
                <!--<input type="checkbox" class="normal-checkbox" id="u-3" name="request-access" value="private">-->
                <!--<div class="label" for="u-3"></div>-->
                <!--<span class="checkbox-text">Поставить свечку</span>-->
              <!--</label>-->
              <!--<label class="checkbox">-->
                <!--<input type="checkbox" class="normal-checkbox" id="u-3" name="request-access" value="private">-->
                <!--<div class="label" for="u-3"></div>-->
                <!--<span class="checkbox-text">Именной кирпичик</span>-->
              <!--</label>-->
            <!--</div>-->
            <!--<a href="#" class="note-faq">-->
              <!--Как правильно написать имя в записку?-->
            <!--</a>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="note-pay ">-->
      <!--<div class="note-total-price">-->
        <!--<div class="total">Итого к оплате</div>-->
        <!--<div class="money">0<span>₽</span></div>-->
      <!--</div>-->

      <!--<div class="note-pay-btn-area">-->
        <!--<button class="btn-rich-greenish-yellow ">Подать записку</button>-->
        <!--<button class="btn-border mobile-fav">-->
          <!--<img class="menu-icon" src="img/favorite.svg" alt="">-->
        <!--</button>-->
        <!--<button class="btn-border pc-fav">-->
          <!--добавить в избранное-->
        <!--</button>-->
      <!--</div>-->

    <!--</div>-->

  <!--</div>-->
<!--</div>-->

<!--<div class="main-area-fluid">-->
  <!--<div class="main-area">-->
    <!--<div class="questions-answers-area">-->
      <!--<div class="title-block">-->
        <!--<div class="title">Вопросы и ответы</div>-->
      <!--</div>-->
      <!--<div class="description-service">-->
        <!--<div class="description-info description-questions-answers">-->
          <!--<div class="description-info-title">-->
            <!--Информация по заказам и оплате-->
          <!--</div>-->
          <!--<div class="description-info-text">-->
            <!--Сила молитвы во время церковной службы, да ещё-->
            <!--и в нескольких храмах и монастырях одновременно, где будут читаться ваши записки и требы, велика.-->
          <!--</div>-->
          <!--<div class="btn-area description-btn-area">-->
            <!--<button class="btn btn-border">-->
              <!--Узнать подробнее-->
            <!--</button>-->
          <!--</div>-->
          <!--<img class="desc-img" src="img/description-img-1.png" alt="">-->
        <!--</div>-->
        <!--<div class="description-info description-questions-answers">-->
          <!--<div class="description-info-title">-->
            <!--Как работает сервис-->
          <!--</div>-->
          <!--<div class="description-info-text">-->
            <!--Сила молитвы во время церковной службы, да ещё-->
            <!--и в нескольких храмах и монастырях одновременно, где будут читаться ваши записки и требы, велика.-->
          <!--</div>-->
          <!--<div class="btn-area description-btn-area">-->
            <!--<button class="btn btn-border">-->
              <!--Узнать подробнее-->
            <!--</button>-->
          <!--</div>-->
          <!--<img class="desc-img" src="img/description-img-2.png" alt="">-->
        <!--</div>-->
        <!--<div class="description-info description-questions-answers">-->
          <!--<div class="description-info-title">-->
            <!--Информация по заказам и оплате-->
          <!--</div>-->
          <!--<div class="description-info-text">-->
            <!--Сила молитвы во время церковной службы, да ещё-->
            <!--и в нескольких храмах и монастырях одновременно, где будут читаться ваши записки и требы, велика.-->
          <!--</div>-->
          <!--<div class="btn-area description-btn-area">-->
            <!--<button class="btn btn-border">-->
              <!--Узнать подробнее-->
            <!--</button>-->
          <!--</div>-->
          <!--<img class="desc-img" src="img/description-img-1.png" alt="">-->
        <!--</div>-->
        <!--<div class="description-info description-questions-answers">-->
          <!--<div class="description-info-title">-->
            <!--Как работает сервис-->
          <!--</div>-->
          <!--<div class="description-info-text">-->
            <!--Сила молитвы во время церковной службы, да ещё-->
            <!--и в нескольких храмах и монастырях одновременно, где будут читаться ваши записки и требы, велика.-->
          <!--</div>-->
          <!--<div class="btn-area description-btn-area">-->
            <!--<button class="btn btn-border">-->
              <!--Узнать подробнее-->
            <!--</button>-->
          <!--</div>-->
          <!--<img class="desc-img" src="img/description-img-2.png" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="btn-area center">-->
        <!--<a href="#" class="btn ask-btn">задать свой вопрос</a>-->
        <!--<a href="#" class="btn all-qw">смотреть все вопросы</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>


<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
