<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>

<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>

<div class="main-page-area">

  <div class="main-area-fluid">
    <div class="main-area header-area">
      <header class="header">
        <div class="header-up align-items-center justify-content-between">
          <div class="drop-window-menu-profile drop-window-navigation">
            <div class="drop-navigation-area">
              <div class="drop-navigation-block">
                <div class="drop-navigation-col">
                  <div class="drop-navigation-title">Молебны</div>
                  <a class="drop-navigation-link" href="/">Отношения в семье</a>
                  <a class="drop-navigation-link" href="/">Беременность</a>
                  <a class="drop-navigation-link" href="/">Благополучие детей</a>
                  <a class="drop-navigation-link" href="/">Личные проблемы</a>
                  <a class="drop-navigation-link" href="/">Проблемы со здоровьем</a>
                  <a class="drop-navigation-link" href="/">Финансовые проблемы</a>
                </div>
              </div>
              <div class="drop-navigation-block">
                <div class="drop-navigation-col">
                  <div class="drop-navigation-title">простые записки</div>
                  <a class="drop-navigation-link" href="/">В монастыри</a>
                  <a class="drop-navigation-link" href="/">К праздникам</a>
                  <a class="drop-navigation-link" href="/">К иконам</a>
                  <a class="drop-navigation-link" href="/">К святым</a>
                </div>
              </div>
              <div class="drop-navigation-block">
                <div class="drop-navigation-col">
                  <div class="drop-navigation-title">иное</div>
                  <a class="drop-navigation-link" href="/">Празднование именин</a>
                  <a class="drop-navigation-link" href="/">Поздравительные
                    сертификаты</a>
                </div>
              </div>
            </div>
          </div>

          <div class="mobile-menu" name="left-menu-mobile">
            <img src="img/mobile-menu.png" alt="Меню">
          </div>

          <a class="header-logo" href="/">
            <img class="img-fluid" src="img/logo.png" alt="Елицы записки">
            <img class="img-fluid-mobile" src="img/logo-mobile.png" alt="Елицы записки">
          </a>

          <!--<button class="header-menu btn-rich-greenish-yellow" name="catalog-pc">-->
            <!--<img class="header-menu-icon" src="img/icon-3.svg" alt="">-->
            <!--<span class="header-menu-name">Меню</span>-->
          <!--</button>-->

          <!--<form class="header-search input-container">-->
            <!--<input type="text" placeholder="Введите название храма, святого или иконы">-->
            <!--<button class="search" type="submit">-->
              <!--<img src="img/icon-4.svg" alt="">-->
            <!--</button>-->
          <!--</form>-->
          <!--<button class="search btn-mobile-search"-->
                  <!--name="mobile-bottom-search"-->
                  <!--type="submit">-->
            <!--<img src="img/icon-4.svg" alt="">-->
          <!--</button>-->
          <!--<div class="menu-profile">-->
            <!--<div class="menu-profile-item pc-profile-item-cabinet profile-enter-cabinet">-->
              <!--<div class="cabinet-icon">-->
                <!--<img class="menu-icon" src="img/cabinet.svg" alt="Мой кабинет">-->
              <!--</div>-->
              <!--<span>Мой кабинет</span>-->
            <!--</div>-->
            <!--<a class="menu-profile-item mob-profile-item-cabinet">-->
              <!--<div class="cabinet-icon">-->
                <!--<img class="menu-icon" src="img/cabinet-ccc.svg" alt="Мой кабинет">-->
              <!--</div>-->
            <!--</a>-->
            <!--<a class="menu-profile-item mob-profile-item-cabinet">-->
              <!--<div class="cabinet-icon">-->
                <!--<img class="menu-icon basket-mobile" src="img/basket-ccc.svg" alt="Мой кабинет">-->
              <!--</div>-->
            <!--</a>-->
            <!--<a href="/" class="menu-profile-item pc-profile-item-cabinet">-->
              <!--<div class="cabinet-icon">-->
                <!--<img class="menu-icon menu-profile-item favourites-icon" src="img/favourites.svg" alt="Избранное">-->
              <!--</div>-->
              <!--<span>Избранное</span>-->
            <!--</a>-->
            <!--<a href="/" class="menu-profile-item pc-profile-item-cabinet">-->
              <!--<div class="cabinet-icon">-->
                <!--<img class="menu-icon menu-profile-item basket-icon" src="img/basket.svg" alt="Корзина">-->
              <!--</div>-->
              <!--<span>Корзина</span>-->
            <!--</a>-->
          <!--</div>-->
          <a href="#" class="btn btn-red">
            Помочь монастырю
          </a>
        </div>

        <div class="header-down">
          <button class="header-menu btn-rich-greenish-yellow" name="left-catalog">
            <img class="header-menu-icon"
                 src="img/icon-3.svg"
                 alt="">
            <span class="header-menu-name">Каталог</span>
          </button>
          <nav class="navigation-header-area">
            <div class="navigation-header">
              <a href="/" class="link active">
                О монастыре
              </a>
              <a href="/" class="link">
                Дневник возрождения
              </a>
              <a href="/" class="link">
                Как помочь монастырю
              </a>
              <a href="/" class="link" style="margin-left: auto">
                О проекте
              </a>
              <a href="/" class="link">
                Отзывы
              </a>
              <!--          <img class="" src="img/img-header-vector.png" alt="">-->
            </div>
            <button class="header-gift btn-dark-yellow-green">

              <img class="header-gift-icon"
                   src="img/gift.svg"
                   alt="Подарок">
              <span class="header-gift-text">
        Активировать подарочный сертификат
      </span>
            </button>
          </nav>
        </div>

      </header>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector1-area">
        <div class="title-block">
          <h1 class="title">
            Помогите восстановить уникальный монастырь
          </h1>
        </div>
        <div class="free-note-text">
          <div class="free-note-info">
            <p>
              С помощью сервиса Елицы.Записки вы можете отправить просьбу о молитве в любой из 28 храмов и
              монастырей и получить сертификат о прочтении молебны, который вы сможете преподнести близким в качестве
              подарка
            </p>
            <div class="teleport-img-mob"></div>
          </div>
          <p>
            <strong>
              Наш сервис позволяет подать записки
              в один или несколько храмов.
            </strong>
          </p>
        </div>

        <div class="free-img-block">
          <div class="teleport-img-pc">
            <img
                class="free-img"
                src="img/32/pic-1.png"
                alt="Подарок">
          </div>
        </div>

        <div class="btn-area">
          <a href="#" class="btn btn-red">
            Помочь монастырю
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector2-area d-block">
        <div class="title-block flex-column align-items-start">
          <h2 class="title">
            О монастыре
          </h2>
          <h3>
            Мужской монастырь «Свято-Троице Серапионова мужская пустынь»
          </h3>
        </div>
        <p>
          В начале XVII века монах Серпион основал недалеко от владимирских Вязников обитель. Местность представляла
          собой дремучий лес с вкраплением зыбких болот. Для искавших уединения иноков пустынь была идеальным местом.
          Глубокая молитва в Свято-Троице Серапионовой мужской пустыни совершалась покинувшими мир подвижниками. Жизнь в
          обители была тяжелой, поэтому привлекала сильных духом людей. Деревянная Троицкая церковь стояла в обители и
          была ее духовным сердцем до 1764 года. По указу императрицы монастырь был закрыт и преобразован в приход. К
          тому времени вокруг обители образовалась небольшая деревня в 100 крестьянских дворов.
        </p>
        <p>
          Храм был перестроен в каменный в первой трети XIX века усилиями местных жителей. По благословению Феофана
          (Затворника), бывшего в то время епископом Владимирским, на месте Серапионовой пустыни возродили монастырь, но
          уже женский.
        </p>
      </div>
    </div>
  </div>
  <div class="main-area-fluid about-monastery">
    <div class="main-area main-content monastery-area">
      <div class="sector3-area d-block">
        <div class="title-block">
          <h4 class="title">
            Фотографии
          </h4>
        </div>
        <div class="monastery-photos-list monastery-photo-slick">
          <a href="img/32/pic-2.jpg" data-fancybox="gallery" class="monastery-photo">
            <img src="img/32/pic-2.jpg" alt="">
          </a>
          <a href="img/32/pic-2.jpg" data-fancybox="gallery" class="monastery-photo">
            <img src="img/32/pic-2.jpg" alt="">
          </a>
          <a href="img/32/pic-2.jpg" data-fancybox="gallery" class="monastery-photo">
            <img src="img/32/pic-2.jpg" alt="">
          </a>
          <a href="/" class="monastery-photo all-monastery-photo">
            <img src="img/32/pic-2.jpg" alt="">
            <p href="/" class="text">
              еще 12 фото
              <br>в фотоальбоме
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector4-area d-block">
        <div class="title-block">
          <h4 class="title">
            Трагическая История монастыря
          </h4>
        </div>
        <h6>
          Основание монастыря
        </h6>
        <p>
          В начале XVII века монах Серпион основал недалеко от владимирских Вязников обитель. Местность представляла
          собой дремучий лес с вкраплением зыбких болот. Для искавших уединения иноков пустынь была идеальным местом.
          Глубокая молитва в Свято-Троице Серапионовой мужской пустыни совершалась покинувшими мир подвижниками. Жизнь в
          обители была тяжелой, поэтому привлекала сильных духом людей. Деревянная Троицкая церковь стояла в обители и
          была ее духовным сердцем до 1764 года. По указу императрицы монастырь был закрыт и преобразован в приход. К
          тому времени вокруг обители образовалась небольшая деревня в 100 крестьянских дворов.
        </p>
        <p>
          Храм был перестроен в каменный в первой трети XIX века усилиями местных жителей. По благословению Феофана
          (Затворника), бывшего в то время епископом Владимирским, на месте Серапионовой пустыни возродили монастырь, но
          уже женский.
        </p>
        <div class="btn-area">
          <a href="#" class="btn btn-border read-more" id="read-more">
            читать далее <img class="menu-icon" src="img/arrow-1.svg" alt="Далее">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector5-area d-block">
        <div class="title-block">
          <h4>
            почитаемые святыни монастыря
          </h4>
        </div>
        <div class="list-cards recommend-slider">
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
              <div class="btn-area center">
                <a class="btn btn-rich-greenish-yellow">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
              <div class="btn-area center">
                <a class="btn btn-rich-greenish-yellow">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
              <div class="btn-area center">
                <a class="btn btn-rich-greenish-yellow">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <button class="card-favorite">
              <img class="menu-icon favorite" src="img/favorite.svg" alt="Избранное">
            </button>
            <div class="header-img">
              <img src="img/card-holiday.png" alt="">
            </div>
            <div class="card-info">
              <div class="card-name">
                молитва с прошением
                о зачатии ребенка
              </div>
              <div class="card-description">
                к Господу и Богу нашему
              </div>
              <div class="btn-area center">
                <a class="btn btn-rich-greenish-yellow">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector6-area d-block">
        <div class="title-block">
          <h4>
            монастырь на карте
          </h4>
        </div>
        <div class="monastery-location">
          <img src="./img/location.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content vector-green">
      <div class="sector7-area d-block">
        <div class="title-block d-block">
          <h2 class="title">
            Дневник возрождения монастыря
          </h2>
          <p>
            О чем мы просим помощи добрых людей и молим бога
          </p>
        </div>
        <div class="switch-buttons ">
          <div class="switch-buttons-switch ">
            <a class="btn _active">
              Восстановлен храм
            </a>
            <a class="btn">
              Фотоотчет 2021
            </a>
            <a class="btn">
              Закладка кирпичиков
            </a>
            <a class="btn">
              Восстановлен храм
            </a>
          </div>
        </div>
        <div class="note-book-area d-flex flex-md-row flex-column-reverse align-items-md-start align-items-center">
          <p>
            В начале XVII века монах Серпион основал недалеко от владимирских Вязников обитель. Местность представляла
            собой дремучий лес с вкраплением зыбких болот. Для искавших уединения иноков пустынь была идеальным местом.
            Глубокая молитва в Свято-Троице Серапионовой мужской пустыни совершалась покинувшими мир подвижниками. Жизнь
            в обители была тяжелой, поэтому привлекала сильных духом людей. Деревянная Троицкая церковь стояла в обители
            и была ее духовным сердцем до 1764 года. По указу императрицы монастырь был закрыт и преобразован в приход.
            К тому времени вокруг обители образовалась небольшая деревня в 100 крестьянских дворов.
          </p>
          <div class="note-book-img">
            <img src="./img/32/pic-3.png" alt="">
          </div>
        </div>
        <div class="container p-0 note-book-photos">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ">
              <a href="img/32/pic-4.jpg" data-fancybox="gallery">
                <img src="img/32/pic-4.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6 ">
              <a href="img/32/pic-4.jpg" data-fancybox="gallery">
                <img src="img/32/pic-4.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6 ">
              <a href="img/32/pic-4.jpg" data-fancybox="gallery">
                <img src="img/32/pic-4.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6 ">
              <a href="img/32/pic-4.jpg" data-fancybox="gallery">
                <img src="img/32/pic-4.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6 ">
              <a href="img/32/pic-4.jpg" data-fancybox="gallery">
                <img src="img/32/pic-4.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-6 ">
              <a href="img/32/pic-4.jpg" data-fancybox="gallery">
                <img src="img/32/pic-4.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content vector-sector">
      <div class="sector8-area d-block">
        <div class="title-block d-block">
          <h2 class="title">
            На какие цели идут пожертвования
          </h2>
          <h3>
            В чём нуждается монастырь, о чем мы просим помощи добрых людей и молим бога
          </h3>
        </div>
        <div class="sector8-p">
          <p>
            1. Монастырь необходимо реставрировать снаружи и внутри, откапывать вручную со всех сторон, восстанавливать
            паперть.
          </p>
          <p>
            2. В будущем планируется установка постоянного иконостаса вместо временного.
          </p>
          <p>
            3. В руинах стоит церковь, ее надо откапывать и начинать почти с нуля.
          </p>
          <p>
            4. Также требуется ограда вокруг монастыря, снять слой земли и обустроить всю центральную площадь перед
            храмом.
          </p>
          <p>
            5. Сейчас необходимо также раскопать засыпанные культурным слоем постройки при входе в обитель.
          </p>
        </div>

        <div class="about-monastery">
          <div class="monastery-area">
            <div class="monastery-photos-list monastery-photo-slick">
              <a href="img/32/pic-2.jpg" data-fancybox="gallery" class="monastery-photo">
                <img src="img/32/pic-2.jpg" alt="">
              </a>
              <a href="img/32/pic-2.jpg" data-fancybox="gallery" class="monastery-photo">
                <img src="img/32/pic-2.jpg" alt="">
              </a>
              <a href="img/32/pic-2.jpg" data-fancybox="gallery" class="monastery-photo">
                <img src="img/32/pic-2.jpg" alt="">
              </a>
              <a href="/" class="monastery-photo all-monastery-photo">
                <img src="img/32/pic-2.jpg" alt="">
                <p href="/" class="text">
                  еще 12 фото
                  <br>в фотоальбоме
                </p>
              </a>
            </div>
          </div>
        </div>

        <div class="petition-area">
          <div class="title-block">
            <h3 class="title">обращение настоятеля иеромонаха севастиана </h3>
          </div>
          <div class="petition-block d-flex align-items-center flex-md-row flex-column">
            <div class="petition-img">
              <div class="petition-img-inner">
                <img src="img/32/pic-5.jpg" alt="Иеромонах Севастиан">
              </div>

            </div>
            <p class="petition-desc">
              Истинно также говорю вам, что если двое
              из вас согласятся на земле просить о всяком деле,
              то, чего бы ни попросили, будет им от Отца
              Моего Небесного, ибо, где двое или трое собраны
              во имя Мое, там Я посреди них.
              <span class="petition-sub-desc">
                Евангелие от Матфея 18:19-20
              </span>
            </p>

          </div>
          <strong class="petition-tagline d-block">
            Будем молиться за вас, наших благодетелей!
          </strong>
        </div>


      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content vector-gold">
      <div class="sector10-area d-block">
        <div class="title-block d-block">
          <h2 class="title">
            Как помочь монастырю
          </h2>
          <h3>
            Судьба частички православной России в наших руках!
          </h3>
          <h3 class="sector10-sub-title">
            Мы не производит сбор пожертвований, мы отправляем заявки на кирпичики и требы
          </h3>
        </div>

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="sector10-info d-flex align-items-baseline">
              1.&nbsp;
              <p>
                В начале XVII века монах Серпион основал недалеко от владимирских Вязников обитель. Местность
                представляла собой дремучий лес с вкраплением зыбких болот.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="sector10-info d-flex align-items-baseline">
              2.&nbsp;
              <p>
                В начале XVII века монах Серпион основал недалеко от владимирских Вязников обитель. Местность
                представляла собой дремучий лес с вкраплением зыбких болот.
              </p>
            </div>
          </div>
        </div>
        <div class="switch-buttons ">
          <div class="switch-buttons-switch ">
            <a class="btn _active">
              Написать записку в храм
            </a>
            <a class="btn">
              Заказать именной кирпичик
            </a>
          </div>
        </div>
        <div class="holy-title-page title-block">
          <div class="title">
            Записка в храм
          </div>
        </div>


      </div>
    </div>
    <!--    <div class="main-area">-->
    <!--      <div  class="sector10-area d-block">-->
    <!--    -->
    <!--      </div>-->

    <!--    </div>-->
  </div>
  <div class="main-area-fluid">
    <div class="main-area">

      <div class="note-form-wrapper landing-note-form-wrapper">
        <div class="note-form-container">
          <div class="note-form-area">
            <form class="note-form ">
              <div class="note-border-line-1">
                <div class="note-border-line-2">
                  <div class="note-content">
                    <img class="note-form-img-health" src="img/form-pic.png" alt="">
                    <img class="note-form-img-rest" src="img/form-pic-rest.png" alt="">
                    <div class="title">
                      Неусыпаемая псалтырь
                      <br>о здравии, на 1 год <br>в сретенский монастырь
                    </div>
                    <div class="inputs">
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                      <div class="input-container">
                        <input type="text" placeholder="Имя в Родительном падеже">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="note-form-settings">
            <div class="note-option select-type-note">
              <div class="option-title">
                Тип записки
              </div>
              <div class="switch-buttons">
                <div class="switch-buttons-switch">
                  <button class="btn _active">
                    О здравии
                  </button>
                  <button class="btn _rest">
                    Об упокоении
                  </button>
                </div>
              </div>
              <!--      <div class="option-btn">-->
              <!--        <button class="btn active">О здравии</button>-->
              <!--        <button class="btn">Об упокоении</button>-->
              <!--      </div>-->
              <div class="option-info">
                Молитвенное поминовение имен о здравии во время <br>Божественной Литургии
              </div>
            </div>
            <div class="note-option">
              <div class="option-title">
                Вид требы
                <!--        <img src="./images/12.png" alt=""-->
                <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
              </div>
              <div class="select-type-1">
                <div class="input-select">
                  <div class="select ">
                    <span>Неусыпаемая Псалтырь Неусыпаемая Псалтырь </span>
                    <div class="select-btn">
                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>Неусыпаемая Псалтырь </span>
                      <span>Празднование именин</span>
                      <span>Поздравительные сертификаты</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="option-info">
                Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок
              </div>
            </div>
            <div class="note-option">
              <div class="option-title">
                Сроки исполнения требы
                <!--        <img src="./images/12.png" alt=""-->
                <!--             title="Круглосуточное поминовение о здравии и спасении при чтении псалтири в обители на указанный срок">-->
              </div>
              <div class="select-type-1">
                <div class="input-select">
                  <div class="select ">
                    <span>1 год</span>
                    <div class="select-btn">
                      <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                    </div>
                  </div>
                  <div class="options-result">
                    <div class="options">
                      <span>Неусыпаемая Псалтырь </span>
                      <span>Празднование именин</span>
                      <span>Поздравительные сертификаты</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="option-info">
                Срок исполнения зависит от вида требы и расписания <br>
                богослужений в выбранном храме или монастыре
              </div>
            </div>
            <a href="/" class="faq-how-create-note">
              Как правильно написать имя в записку?
            </a>
            <div class="note-option note-option-additional">
              <a href="#" class="note-faq">
                Как правильно написать имя в записку?
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="note-pay ">
        <div class="note-total-price">
          <div class="total">Итого к оплате</div>
          <div class="money">
            <span id="full-cost">1000</span>
            <span>₽</span>
          </div>
        </div>

        <div class="note-pay-btn-area">
          <button class="btn-rich-greenish-yellow ">Подать записку</button>
          <button class="btn-border mobile-fav">
            <img class="menu-icon" src="img/favorite.svg" alt="">
          </button>
          <button class="btn-border pc-fav">
            добавить в КОРЗИНУ
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="main-area-fluid">
    <div class="main-area main-content w">
      <div class="sector9-area d-block w-100">
        <div class="title-block">
          <h2 class="title">
            Как происходит обработка записок
          </h2>
        </div>
        <div class="processing-note-row">
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num1"></div>
              <div class="processing-note-img">
                <img src="img/free-note-img-2.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>
                  Вы заполняете именами форму бесплатной записки до 4 человек
                  на этой странице
                </p>
              </div>
            </div>
          </div>
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num2"></div>
              <div class="processing-note-img img-num2">
                <img src="img/free-note-img-3.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>
                  Мы отправляем вашу записку
                  в Свято-Вознесенскую Давидову пустынь.
                </p>
              </div>
            </div>
          </div>
          <div class="processing-note-col">
            <div class="processing-note">
              <div class="processing-note-number _num3"></div>
              <div class="processing-note-img img-num3">
                <img src="img/free-note-img-4.png" alt="">
              </div>
              <div class="processing-note-info">
                <p>
                  В течении следующих суток в храме пройдет исполнение записки священником во время литургии
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="line">

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector11-area d-block">
        <div class="title-block ">
          <h2 class="title">
            Именной кирпичик
          </h2>
        </div>
        <div class="brick-content-area">
          <p>
            Это обычный строительный кирпич, на котором указано имя того человека, кто пожертвовал на храм, или имя
            человека, за которого внесли пожертвование. На собранные средства приобретаются строительные кирпичи и
            другие стройматериалы, необходимые для строительства храма, а имена жертвователей записываются
            на стены строящегося храма и вносятся в специальную церковную книгу для поминовения на каждом
            богослужении.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid vector">
    <div class="main-area-fluid  mt brick-area">
      <img src="img/brick.png" alt="" class="brick-photo">
      <div class="main-area main-content">
        <div class="brick-form-area">
          <form class="note-form note-brick-form">
            <div class="note-price-circle-area">
              <div class="note-price-circle">
                <p class="price-circle"><span>3 200</span> ₽</p>
              </div>
            </div>
            <div class="note-border-line-1">
              <div class="note-border-line-2">
                <div class="flex-input-container">
                  <div class="input-container">
                    <div class="input-area">
                      <input type="text" placeholder="Введите имя">
                    </div>
                  </div>
                  <div class="input-container">
                    <div class="input-area">
                      <input type="text" placeholder="Введите имя">
                    </div>
                  </div>
                </div>
                <div class="flex-input-container">
                  <div class="input-container">
                    <div class="input-area">
                      <input type="text" placeholder="Введите имя">
                    </div>
                  </div>
                  <div class="input-container">
                    <div class="input-area">
                      <input type="text" placeholder="Введите имя">
                    </div>
                  </div>
                </div>
                <div class="temple-form">
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                    <div class="temple-form-select">Выбрать храм (ы) или монастырь (и)</div>
                  </div>
                </div>
                <div class="temple-form" title="Это появляется когда один храм добавлен">
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                  </div>
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                  </div>
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                  </div>
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/temple-form.png" alt="Храм">
                    </div>
                  </div>
                  <div class="temple-form-item">
                    <div class="temple-form-img-block">
                      <img src="img/plus.png" alt="Добавить храм">
                    </div>
                  </div>
                </div>
                <div class="temple-form-price"><span>12 350</span> ₽</div>
                <div class="btn-area between temple-form-buttons">
                  <button class="btn btn-border">добавить в корзину</button>
                  <button class="btn btn-rich-greenish-yellow">оплатить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="sector12-area d-block">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="personalized-brick-area">
              <h6 class="title">
                Что даёт именной кирпич
              </h6>
              <p>
                — За человека, чьё имя указано на кирпичике, будут молиться
                на каждом богослужении как за строителя до тех пор, пока будет
                стоять Храм.
              </p>
              <div class="personalized-brick--img">
                <img src="img/32/pic-7.jpg" alt="именной кирпич">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="work-area">
              <h6 class="title">
                Как это работает?
              </h6>
              <ul>
                <li class="d-flex align-items-baseline">
                  1.&nbsp;
                  <p class="mt-0 mb-0">Вы через специальную форму указываете имена людей, которые будут подписаны на
                    именных кирпичах.
                  </p>
                </li>
                <li class="d-flex align-items-baseline">
                  2.&nbsp;
                  <p class="mt-0 mb-0">
                    После ввода имен, вы выбираете Храм или Монастырь в который вы хотите сделать пожертвование.
                  </p>
                </li>
                <li class="d-flex align-items-baseline">
                  3.&nbsp;
                  <p class="mt-0 mb-0">
                    Мы передаем список имен и ваше пожертвование в Храм или Монастырь.
                  </p>
                </li>
                <li class="d-flex align-items-baseline">
                  4.&nbsp;
                  <p class="mt-0 mb-0">
                    Служители Храма или Монастыря подписывают именные кирпичи именами указанными вами в записке.
                  </p>
                </li>
                <li class="d-flex align-items-baseline">
                  5.&nbsp;
                  <p class="mt-0 mb-0">
                    Кирпичи идут на строительство Храма или Монастыря, а имена записываются в специальную церковную
                    книгу для поминовения на каждом богослужении
                  </p>
                </li>
                <li class="d-flex align-items-baseline">
                  6.&nbsp;
                  <p class="mt-0 mb-0">
                    После записи в церковную книгу на вашу электронную почту мы пришлем сертификат с указанными вами
                    именами и указанием Храма или Монастыря.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="main-area-fluid">
    <div class="main-area main-content">
      <div class="order celebration issuing-certificates">
        <div class="order-border d-flex align-items-center justify-content-center">
          <strong class="appeal text-center">
            Дорогие братья и сестры! Отзовитесь и помогите нам в восстановлении храма!
          </strong>
        </div>
      </div>
    </div>
  </div>


  <div class="main-area-fluid">
    <div class="main-area">
      <div class="content note-el-area vector-green">
        <div class="title-block">
          <div class="title">
            О проекте
            <br>Елицы.Записки
          </div>
        </div>
        <div class="note-el-info">
          <div class="description">
            Елицы Записки – онлайн-сервис по подаче записок, заказу молебнов и других
            церковных треб в храмах и монастырях России и мира.
            Служба Елицы Записки предназначена, в первую очередь, для тех, у кого
            нет возможности самостоятельно побывать в паломничестве и вознести
            молитвы перед почитаемыми христианскими святынями.
            <br class="depart">
            <br class="depart">
            <div class="list-statistics mob-v">
              <div class="statistics-item">
                <div class="num">36</div>
                <div class="text">святых
                  <br>мест
                </div>
                <div class="desc">
                  Храмы, церкви и монастыри
                  в самых удаленных
                  уголках Земли
                </div>
              </div>
              <div class="statistics-item">
                <div class="num">67</div>
                <div class="text">икон
                  <br>и мощей
                </div>
                <div class="desc">
                  Редкие чудотворные иконы
                  и мощи православных
                </div>
              </div>
              <div class="statistics-item">
                <div class="num">128</div>
                <div class="text">праздников</div>
                <div class="desc">Церковные события, в честь
                  которых можно помолиться
                </div>
              </div>
            </div>
            У каждого пользователя нашего сервиса есть возможность подать записки
            о своих близких в самые удаленные монастыри России и мира, с которыми
            сохранено евхаристическое общение. Наша служба имеет договоренности
            с монастырями об исполнении ваших треб и вознесении молитв
            о вас и ваших близких.
          </div>
          <div class="list-statistics">
            <div class="statistics-item">
              <div class="num">36</div>
              <div class="text">святых
                <br>мест
              </div>
              <div class="desc">
                Храмы, церкви и монастыри
                в самых удаленных
                уголках Земли
              </div>
            </div>
            <div class="statistics-item">
              <div class="num">67</div>
              <div class="text">икон
                <br>и мощей
              </div>
              <div class="desc">
                Редкие чудотворные иконы
                и мощи православных
              </div>
            </div>
            <div class="statistics-item">
              <div class="num">128</div>
              <div class="text">праздников</div>
              <div class="desc">Церковные события, в честь
                которых можно помолиться
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= _.template(require('./../includes/reviews/reviews.html').default)(data) %>

  <div class="main-area-fluid main-sector6-area">
    <div class="main-area main-content ">
      <div class="sector6-area">
        <div class="title-block free-note-title-block">
          <div class="title _big">
            О нашем сервисе
          </div>
        </div>
        <div class="sector6-list">
          <div class="sector6-col">
            <div class="sector6-item">
              <div class="sector6-item-title">
                Более 20 святынь
              </div>
              <div class="sector6-item-text">
                <p>
                  Большой выбор типов записок, которые могут быть доставлены в самые крупные храмы и монастыри
                </p>
              </div>
            </div>
          </div>
          <div class="sector6-col">
            <div class="sector6-item">
              <div class="sector6-item-title">
                Работаем с 2013 года
              </div>
              <div class="sector6-item-text">
                <p>
                  Удобный и надежный способ передачи записок, не выходя из дому
                </p>
              </div>
            </div>
          </div>
          <div class="sector6-col">
            <div class="sector6-item">
              <div class="sector6-item-title">
                Более 30 сотрудников
              </div>
              <div class="sector6-item-text">
                <p>
                  Все сотрудники проекта — воцерковленные люди, регулярно приступающие к таинствам
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="main-area-fluid">
  <div class="main-area main-content">
    <footer class="footer-main-page">
      <div class="footer-links">
        <div class="footer-links-block ">
          <img src="img/logo.png" class="footer-logo" alt="Елицы" />
          <span>Проект православной соц.сети «Елицы»</span>
        </div>
        <div class="desc">
          Осуществляя заказ треб через наш сервис, Вы также поддерживаете деятельность
          <a href="https://elitsy.ru" target="_blank">
            православной сети «Елицы.рф»
          </a>
          и
          <a href="https://fond.elitsy.ru" target="_blank">
            благотворительные проекты Фонда сохранения духовного наследия «Елицы».
          </a>
          Любое копирование дизайна или другой информации, расположенной на сайте <?=Yii::$app->params['url']?>,
          запрещены и несут за собой ответственность в соответствии с законодательством РФ.
        </div>
      </div>
      <div class="footer-description justify-content-center">
        <div class="footer-copyright m-0">
          © 2013-<?=date("Y")?> Елицы, все права защищены <a href="#">Политика конфиденциальности</a>
        </div>
      </div>
    </footer>
  </div>
</div>


<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
