<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area">
        <div class="title-block">
          <div class="title">
            Личный кабинет
          </div>
        </div>
        <div class="personal-cabinet-navigation">
          <ul>
            <li>
              <a class="_active" href="/">Личный кабинет</a>
            </li>
            <li>
              <a href="/">Контакты и пароль</a>
            </li>
            <li>
              <a href="/">Избранное</a>
            </li>
            <li>
              <a href="/">Памятные даты и именины</a>
            </li>
          </ul>

          <div class="nav-button">
            <img class="" src="img/arrow.svg" alt="">
          </div>
        </div>
        <div class="personal-cabinet flex-style">
          <div class="personal-cabinet-left-content">
            <div class="title-block">
              <div class="title">
                История заказов
              </div>
              <div class="input-select h-30">
                <div class="select ">
                  <span>все заказы</span>
                  <div class="select-btn">

                    <img src="img/cabinet-navigation-mobile-btn.png" alt="">
                  </div>
                </div>
                <div class="options-result">
                  <div class="options">
                    <span>все заказы </span>
                    <span>все заказы</span>
                  </div>
                </div>
              </div>

            </div>
            <div class="list-history-note">
              <div class="history-note-block">
                <div class="history-note-title">
                  <span>Декабрь 2020</span>
                </div>
                <div class="order order-note history-note">
                  <div class="order-status _bad">ожидает оплаты</div>
                  <div class="order-date"><span>Создана&nbsp;</span>12.12.2020 в 18:24</div>
                  <div class="order-border">
                    <div class="order-content">
                      <div class="order-content-title">
                        <span class="title-desc">
                          40 молитв о здравии и благополучии родителей в 7-ми монастырях
                        </span>
                      </div>
                      <div class="order-content-title">
                        <span class="title-desc">
                         Простая записка о здравии
                        </span>
                      </div>
                      <div class="order-content-title">
                        <span class="title-desc">
                            Простая записка об упокоении
                        </span>
                      </div>
                    </div>
                    <div class="order-registration-price">
                      <span>300</span> ₽
                    </div>
                  </div>

                  <div class="btn-area">
                    <button class="btn-border view-order">
                      просмотр заказа
                    </button>
                    <button class="btn-rich-greenish-yellow pay-order">
                      оплатить
                    </button>
                    <button class="btn-border del-order">
                      удалить
                    </button>
                  </div>
                </div>
                <div class="order order-note history-note">
                  <div class="order-status _good">оплачено</div>
                  <div class="order-date"><span>Создана&nbsp;</span>12.12.2020 в 18:24</div>
                  <div class="order-border">
                    <div class="order-content">
                      <div class="order-content-title">
                        <span class="title-desc">
                          40 молитв о здравии и благополучии родителей в 7-ми монастырях
                        </span>
                      </div>
                      <div class="order-content-title">
                        <span class="title-desc">
                         Простая записка о здравии
                        </span>
                      </div>
                      <div class="order-content-title">
                        <span class="title-desc">
                            Простая записка об упокоении
                        </span>
                      </div>
                    </div>
                    <div class="order-registration-price">
                      <span>300</span> ₽
                    </div>
                  </div>
                  <div class="btn-area">
                    <button class="btn-border view-order">
                      просмотр заказа
                    </button>
                    <button class="btn-rich-greenish-yellow pay-order">
                      оплатить
                    </button>
                    <button class="btn-border del-order">
                      удалить
                    </button>
                  </div>
                </div>
              </div>

              <div class="history-note-block">
                <div class="history-note-title">
                  <span>Ноябрь 2020</span>
                </div>
                <div class="order order-note history-note">
                  <div class="order-status _good">оплачено</div>
                  <div class="order-date"><span>Создана&nbsp;</span>12.12.2020 в 18:24</div>
                  <div class="order-border">
                    <div class="order-content">
                      <div class="order-content-title">
                        <span class="title-desc">
                          40 молитв о здравии и благополучии родителей в 7-ми монастырях
                        </span>
                      </div>
                      <div class="order-content-title">
                        <span class="title-desc">
                         Простая записка о здравии
                        </span>
                      </div>
                      <div class="order-content-title">
                        <span class="title-desc">
                            Простая записка об упокоении
                        </span>
                      </div>
                    </div>
                    <div class="order-registration-price">
                      <span>300</span> ₽
                    </div>
                  </div>
                  <div class="btn-area">
                    <button class="btn-border view-order">
                      просмотр заказа
                    </button>
                    <button class="btn-rich-greenish-yellow pay-order">
                      оплатить
                    </button>
                    <button class="btn-border del-order">
                      удалить
                    </button>
                  </div>
                </div>
              </div>

            </div>

            <div class="btn-area center all-note">
              <button class="btn-border">Развернуть историю записок</button>
            </div>
          </div>
          <div class="personal-cabinet-right-content">
            <div class="right-content-sticky">
              <div class="cabinet-note">
                <div class="date">
                  <span>18</span>
                  <span>/</span>
                  <span>09</span>
                </div>
                <div class="cabinet-note-info _health">
                  <div class="info-title">именины</div>
                  <div class="info-name">
                    <span>Константин</span>
                    <span>Александр</span>
                    <span>Александр</span>
                  </div>
                </div>
                <div class="cabinet-note-info _rest">
                  <div class="info-title">памятные даты</div>
                  <div class="info-name">
                    <span>Константин</span>
                  </div>
                </div>
                <div class="btn-area">
                  <button class="btn-border">добавить дату</button>
                  <button class="btn-border">редактировать</button>
                </div>
              </div>
              <div class="cabinet-note">
                <div class="title">избранное</div>
                <div class="note-block">
                  <div class="note-name-holy">
                    Празднование Введения во храм Пресвятой
                    Богородицы
                  </div>
                  <div class="note-n">
                    <span>Максим</span>
                    <span>Георгий</span>
                    <span>Александр</span>
                    <span>Мария</span>
                    <span>Мария</span>
                  </div>
                </div>
                <div class="note-block">
                  <div class="note-name-holy">
                    Празднование Введения во храм Пресвятой Богородицы
                  </div>
                  <div class="note-n">
                    <span>Максим</span>
                    <span>Георгий</span>
                    <span>Александр</span>
                    <span>Мария</span>
                    <span>Мария</span>
                  </div>
                </div>
                <div class="btn-area">
                  <button class="btn-border">редактировать</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
