<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="order-registration-area">
        <div class="order-registration-title-block">
          <div class="order-registration-title">
            Оформление заказа
          </div>
          <div class="order-registration-steps">
            <a href="index-8.html" class="order-registration-step active">
              Ваш заказ и его оплата
            </a>
            <a href="index-10.html" class="order-registration-step ">
              Выдача сертификатов
            </a>
          </div>
        </div>
      </div>
      <!--<div class="order-registration-dashboard">-->
      <!--<div class="order-registration-list">-->

      <!--<div class="order-type-area notes-area">-->
      <!--<div class="title">-->
      <!--Ваши записки-->
      <!--</div>-->
      <!--<div class="order health">-->
      <!--<div class="order-border">-->
      <!--<img class="order-close" src="img/close.png" alt="">-->
      <!--<div class="order-content content-l">-->
      <!--<div class="order-content-title">-->
      <!--<span class="title-desc">Неусыпаемая псалтырь о здравии на 1 год</span>-->
      <!--<span class="title-name">в Сретенский монастырь</span>-->
      <!--</div>-->
      <!--<div class="order-content-service">-->
      <!--<img src="img/check-green.png" alt="">-->
      <!--<div class="name-service">Поставить свечку</div>-->
      <!--</div>-->
      <!--<div class="order-content-service">-->
      <!--<img src="img/check-green.png" alt="">-->
      <!--<div class="name-service">Поставить свечку</div>-->
      <!--</div>-->
      <!--<div class="pc-area-btn-rec">-->
      <!--<button class="btn rec-btn">-->
      <!--<img class="menu-icon" src="img/rec.svg" alt="">-->
      <!--Повторять еженедельно-->
      <!--</button>-->
      <!--<button class="btn rec-btn _active">-->
      <!--<img class="menu-icon" src="img/rec.svg" alt="">-->
      <!--Повторяется еженедельно-->
      <!--</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="order-content content-r">-->
      <!--<div class="name-list">-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий</div>-->
      <!--<div class="name">Георгий</div>-->
      <!--</div>-->
      <!--<div class="order-registration-edit">-->
      <!--Редактировать записку-->
      <!--</div>-->
      <!--<div class="order-registration-price d-flex align-items-center flex-wrap">-->
      <!--<div class="mob-area-btn-rec">-->
      <!--</div>-->
      <!--<span>300</span> ₽-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="order rest">-->
      <!--<div class="order-border">-->
      <!--<img class="order-close" src="img/close.png" alt="">-->
      <!--<div class="order-content content-l">-->
      <!--<div class="order-content-title">-->
      <!--<span class="title-desc">Простая записка об упокоении</span>-->
      <!--<span class="title-name">в Сретенский монастырь</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="order-content content-r">-->
      <!--<div class="name-list">-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий</div>-->
      <!--<div class="name">Георгий</div>-->
      <!--</div>-->
      <!--<div class="order-registration-edit">-->
      <!--Редактировать записку-->
      <!--</div>-->
      <!--<div class="order-registration-price">-->
      <!--<span>300</span> ₽-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="order health">-->
      <!--<div class="order-border">-->
      <!--<img class="order-close" src="img/close.png" alt="">-->
      <!--<div class="order-content content-l">-->
      <!--<div class="order-content-title">-->
      <!--<span class="title-desc">Неусыпаемая псалтырь о здравии на 1 год</span>-->
      <!--<span class="title-name">в Сретенский монастырь</span>-->
      <!--</div>-->
      <!--<div class="order-content-service">-->
      <!--<img src="img/check-green.png" alt="">-->
      <!--<div class="name-service">Поставить свечку</div>-->
      <!--</div>-->
      <!--<div class="order-content-service">-->
      <!--<img src="img/check-green.png" alt="">-->
      <!--<div class="name-service">Поставить свечку</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="order-content content-r">-->
      <!--<div class="name-list">-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий,</div>-->
      <!--<div class="name">Георгий</div>-->
      <!--<div class="name">Георгий</div>-->
      <!--</div>-->
      <!--<div class="order-registration-edit">-->
      <!--Редактировать записку-->
      <!--</div>-->
      <!--<div class="order-registration-price">-->
      <!--<span>300</span> ₽-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash;<div class="order-type-area celebration-names-area _close">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="title">&ndash;&gt;-->
      <!--&lt;!&ndash;Празднование именин&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order celebration">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-border">&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="order-close" src="img/close.png" alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-content">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-celebration-name">Алексей</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-celebration-data">22 января</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-registration-price">&ndash;&gt;-->
      <!--&lt;!&ndash;<span>300</span> ₽&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order celebration">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-border">&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="order-close" src="img/close.png" alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-content">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-celebration-name">Алексей</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-celebration-data">22 января</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-registration-price">&ndash;&gt;-->
      <!--&lt;!&ndash;<span>300</span> ₽&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="order-type-area certificate-area _close">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="title">&ndash;&gt;-->
      <!--&lt;!&ndash;Поздравительные сертификаты&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order certificate">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-border">&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="order-close" src="img/close.png" alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-content content-l">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-content-title">&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="title-desc">Молебен о вразумлении мужа, жены, детей, близких, обидчиков и врагов</span>&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="title-name">в Сретенский монастырь</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-content content-r">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="name-list">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="name">Танечка моя любимая хочу поздравить&ndash;&gt;-->
      <!--&lt;!&ndash;тебя с праздником и пожелать тебе всего...&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-registration-edit">&ndash;&gt;-->
      <!--&lt;!&ndash;Редактировать записку&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="order-registration-price">&ndash;&gt;-->
      <!--&lt;!&ndash;<span>300</span> ₽&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--</div>-->

      <!--&lt;!&ndash;<div class="your-order-area">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="your-order-statistic">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="your-order-statistic-title">&ndash;&gt;-->
      <!--&lt;!&ndash;Ваш заказ&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="statistic-line">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="service">Записки</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="count"><span>4</span>шт</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="statistic-line">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="service">Свечки</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="count"><span>4</span>шт</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="statistic-line">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="service">Именные кирпичики</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="count"><span>4</span>шт</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="statistic-line">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="service">Именины</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="count"><span>4</span>шт</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="statistic-line">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="service">Сертификаты</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="count"><span>4</span>шт</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="statistic-line">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="service">Подарок</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="count"><span>4</span>шт</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="place-your-order-info-desk">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="your-order-info">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="your-order-info-title">&ndash;&gt;-->
      <!--&lt;!&ndash;Пожертвовать&ndash;&gt;-->
      <!--&lt;!&ndash;в храм&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="your-order-info-text">&ndash;&gt;-->
      <!--&lt;!&ndash;Все деньги пойдут на пожертвования в храмы. После оплаты вы получите сертификаты записок и молебнов, а&ndash;&gt;-->
      <!--&lt;!&ndash;также уведовление на почту о прочтении записок.&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="your-order-info-text _bold">&ndash;&gt;-->
      <!--&lt;!&ndash;Вы можете увеличить сумму&ndash;&gt;-->
      <!--&lt;!&ndash;пожертвования:&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="choice-donate-list">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="donate active">+100 Р</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="donate">+500 Р</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="donate">+1000 Р</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="donate">Нет, спасибо</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash;<div class="your-order-final">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<div class="your-order-final-result">Итог: <span>3 350 <span class="ru">₽</span></span></div>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<div class="btn-area center">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<button class="btn">оплатить картой</button>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<label class="checkbox _white">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<input type="checkbox"&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;class="normal-checkbox"&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;id="u-5" name="request-access" value="private">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<div class="label" for="u-5"></div>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<span class="checkbox-text">Согласен с&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<a href="#">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;Политикой Конфиденциальности&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</span>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</label>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
    </div>

  </div>

</div>

<div class="main-area-fluid">
  <div class="main-area">
    <div class="pay-order-area">
      <div class="pay-order-title">
        Оплата заказа
      </div>
      <div class="pay-order-info">
        <p>
          После ввода данных нажмите ”Оплатить”, после этого, введите код из смс, которое вы получите от своего банка.
          После оплаты вы получите
          сертификаты записок и молебнов, а также уведомление на почту о прочтении записок
        </p>
      </div>
      <div class="pay-order-options-area">
        <div class="pay-order-options-col form-info-user-col">
          <div class="pay-order-name">
            данные для уведомлений
          </div>
          <div class="pay-order-option form-info-user">
            <form>
              <div class="form-info-user-text">
                Чтобы получать уведомления о движении ваших
                записок- введите имя и адрес эл.почты
              </div>
              <div class="input-container error-input">
                <div class="input-area">
                  <input type="text" placeholder="Ваше имя">
                </div>
                <div class="error">
                  Ошибка
                </div>
              </div>
              <div class="input-container">
                <div class="input-area">
                  <input type="text" placeholder="Ваш e-mail">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="pay-order-options-col">
          <div class="pay-order-name">
            Данные банковской карты
          </div>

          <div class="pay-order-option bank-card-area ">
            <div class="card-width card-button-pay">
              <div class="bank-card d-flex flex-wrap">
                <div class="input-container user-card-number">
                  <input type="text" placeholder="Номер карты">
                </div>
                <!--<div class="input-container user-card-mm error-input">-->
                <div class="input-container user-card-mm">
                  <input type="text" placeholder="ММ">
                  <!--<div class="error">-->
                  <!--Ошибка-->
                  <!--</div>-->
                </div>
                <div class="input-container user-card-gg">
                  <input type="text" placeholder="ГГ">
                </div>
                <div class="input-container user-card-cvc">
                  <input type="text" placeholder="CVC">
                </div>
                <label class="checkbox _white">
                  <input type="checkbox" class="normal-checkbox" id="u-6" name="request-access" value="private">
                  <div class="label" for="u-6"></div>
                  <span class="checkbox-text">
                  Сохранить карту для последующих оплат</span>
                </label>
              </div>
              <div class="btn-pay-area d-flex justify-content-between">
                <button class="btn btn-pay btn-pay--way btn-pay--apple">
                  <img src="./img/apple-pay.svg" alt="Apple" class="btn-pay__icon">
                  <!--Apple Pay-->
                </button>
                <button class="btn btn-pay btn-pay--way btn-pay--google">
                  <img src="./img/google-pay.svg" alt="Google" class="btn-pay__icon">
                  <!--Google Pay-->
                </button>
              </div>
            </div>

            <div class="total-price-area">
              <div class="total-price">
                <p>Итого:</p>
                <span>
                  3 350 <p>₽</p>
                </span>
              </div>
              <div class="btn-area">
                <button class="btn btn-white-bg" disabled>оплатить</button>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>

          <div class="pay-order-option bank-card-area">
            <div class="card-width list-card-button-pay">

              <div class="list-card d-flex flex-wrap">

                <div class="card-data-block">
                  <div class="card-data-block__icon-area">
                    <img src="./img/visa.svg" alt="Visa" class="card-data-block__icon">
                  </div>

                  <div class="card-data-block__number">
                    **** 3405
                  </div>
                  <button class="btn btn-card-data-delete">
                    <img src="./img/delete-card.svg" alt="">
                    Удалить карту
                  </button>
                </div>

                <div class="card-data-block">
                  <div class="card-data-block__icon-area">
                    <img src="./img/master.svg" alt="Visa" class="card-data-block__icon">
                  </div>
                  <div class="card-data-block__number">
                    **** 3405
                  </div>
                  <button class="btn btn-card-data-delete">
                    <img src="./img/delete-card.svg" alt="">
                    Удалить карту
                  </button>
                </div>

              </div>
              <button class="btn btn-border btn-add-new-card">
                Добавить новую карту
              </button>
              <div class="btn-pay-area d-flex justify-content-between">
                <button class="btn btn-pay btn-pay--way">
                  <img src="./img/apple-pay.svg" alt="Apple" class="btn-pay__icon">
                  Apple Pay
                </button>
                <button class="btn btn-pay btn-pay--way">
                  <img src="./img/google-pay.svg" alt="Google" class="btn-pay__icon">
                  Google Pay
                </button>
              </div>
            </div>

            <div class="total-price-area">
              <div class="total-price">
                <p>Итого:</p>
                <span>
                  3 350 <p>₽</p>
                </span>
              </div>
              <div class="btn-area">
                <button class="btn btn-white-bg" disabled>оплатить</button>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="pay-order-option bank-card-area">
            <div class="card-width add-new-card">
              <div class="bank-card d-flex flex-wrap">
                <div class="add-new-card__title">
                  Добавление новой карты
                </div>
                <div class="input-container user-card-number">
                  <input type="text" placeholder="Номер карты">
                  <!--<div class="error">-->
                  <!--Ошибка-->
                  <!--</div>-->
                </div>
                <!--<div class="input-container user-card-mm error-input">-->
                <div class="input-container user-card-mm">
                  <input type="text" placeholder="ММ">
                  <!--<div class="error">-->
                  <!--Ошибка-->
                  <!--</div>-->
                </div>
                <div class="input-container user-card-gg">
                  <input type="text" placeholder="ГГ">
                </div>
                <div class="input-container user-card-cvc">
                  <input type="text" placeholder="CVC">
                </div>
                <label class="checkbox _white">
                  <input type="checkbox" class="normal-checkbox" id="u-6" name="request-access" value="private">
                  <div class="label" for="u-6"></div>
                  <span class="checkbox-text">
                  Сохранить карту для последующих оплат</span>
                </label>
                <button class="btn btn-cancel-add-card">
                  Отмена
                </button>
              </div>
            </div>

            <div class="total-price-area">
              <div class="total-price">
                <p>Итого:</p>
                <span>
                  3 350 <p>₽</p>
                </span>
              </div>
              <div class="btn-area">
                <button class="btn btn-white-bg" disabled>оплатить</button>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="pay-order-option bank-card-area">
            <div class="card-width list-card-button-pay list-card-mini">

              <div class="list-card d-flex flex-wrap ">

                <div class="card-data-block">
                  <div class="card-data-block__icon-area">
                    <img src="./img/visa.svg" alt="Visa" class="card-data-block__icon">
                  </div>

                  <div class="card-data-block__number">
                    **** 3405
                  </div>
                  <button class="btn btn-card-data-delete">
                    <img src="./img/delete-card.svg" alt="">
                    <span>Удалить карту</span>
                  </button>
                </div>

                <div class="card-data-block">
                  <div class="card-data-block__icon-area">
                    <img src="./img/master.svg" alt="Visa" class="card-data-block__icon">
                  </div>
                  <div class="card-data-block__number">
                    **** 3405
                  </div>
                  <button class="btn btn-card-data-delete">
                    <img src="./img/delete-card.svg" alt="">
                    <span>Удалить карту</span>
                  </button>
                </div>

                <div class="card-data-block">
                  <div class="card-data-block__icon-area">
                    <img src="./img/mir.svg" alt="Visa" class="card-data-block__icon">
                  </div>
                  <div class="card-data-block__number">
                    **** 3405
                  </div>
                  <button class="btn btn-card-data-delete">
                    <img src="./img/delete-card.svg" alt="">
                    <span>Удалить карту</span>
                  </button>
                </div>

                <div class="card-data-block">
                  <div class="card-data-block__icon-area">
                    <img src="./img/visa.svg" alt="Visa" class="card-data-block__icon">
                  </div>
                  <div class="card-data-block__number">
                    **** 3405
                  </div>
                  <button class="btn btn-card-data-delete">
                    <img src="./img/delete-card.svg" alt="">
                    <span>Удалить карту</span>
                  </button>
                </div>
              </div>
              <button class="btn btn-border btn-add-new-card">
                Добавить новую карту
              </button>
              <div class="btn-pay-area d-flex justify-content-between">
                <button class="btn btn-pay btn-pay--way">
                  <img src="./img/apple-pay.svg" alt="Apple" class="btn-pay__icon">
                  Apple Pay
                </button>
                <button class="btn btn-pay btn-pay--way">
                  <img src="./img/google-pay.svg" alt="Google" class="btn-pay__icon">
                  Google Pay
                </button>
              </div>
            </div>

            <div class="total-price-area">
              <div class="total-price">
                <p>Итого:</p>
                <span>
                  3 350 <p>₽</p>
                </span>
              </div>
              <div class="btn-area">
                <button class="btn btn-white-bg" disabled>оплатить</button>
              </div>
            </div>
          </div>
        </div>

        <div class="pay-order-agreement">
          <label class="checkbox _white">
            <input type="checkbox" class="normal-checkbox" id="u-7" name="request-access" value="private">
            <div class="label" for="u-7"></div>
            <span class="checkbox-text">
                 Я соглашаюсь получать рассылку о новостях, праздниках и акциях на свой e-mail
            </span>
          </label>
          <label class="checkbox _white">
            <input type="checkbox" class="normal-checkbox" id="u-8" name="request-access" value="private">
            <div class="label" for="u-8"></div>
            <span class="checkbox-text">
                 Я согласен на обработку персональных данных и с условиями <a href="/">Договора оферты</a>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="main-area-fluid">-->
<!--<div class="main-area">-->
<!--<div class="monastery-slider slider-area ">-->
<!--<div class="title _big">-->
<!--К вашему заказу можно добавить-->
<!--</div>-->
<!--<div class="list-cards recommend-slider">-->
<!--<div class="card _mini">-->
<!--<div class="card-info">-->
<!--<div class="name">-->
<!--Поставить свечу-->
<!--в дополнение к запискеоставить свечу-->
<!--в дополнение к запискеоставить свечу-->
<!--в дополнение к записке-->
<!--оставить свечу-->
<!--в дополнение к записке-->
<!--</div>-->
<!--</div>-->

<!--<div class="btn-area center">-->
<!--<button class="btn btn-rich-greenish-yellow">-->
<!--Добавить к заказу-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card _mini">-->
<!--<div class="card-info">-->
<!--<div class="name">-->
<!--Поставить свечу-->
<!--в дополнение к записке-->
<!--</div>-->
<!--</div>-->

<!--<div class="btn-area center">-->
<!--<button class="btn btn-rich-greenish-yellow">-->
<!--Добавить к заказу-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card _mini">-->
<!--<div class="card-info">-->
<!--<div class="name">-->
<!--Поставить свечу-->
<!--в дополнение к записке-->
<!--</div>-->
<!--</div>-->

<!--<div class="btn-area center">-->
<!--<button class="btn btn-rich-greenish-yellow">-->
<!--Добавить к заказу-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card _mini">-->
<!--<div class="card-info">-->
<!--<div class="name">-->
<!--Поставить свечу-->
<!--в дополнение к записке-->
<!--</div>-->
<!--</div>-->

<!--<div class="btn-area center">-->
<!--<button class="btn btn-rich-greenish-yellow">-->
<!--Добавить к заказу-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card _mini">-->
<!--<div class="card-info">-->
<!--<div class="name">-->
<!--Поставить свечу-->
<!--в дополнение к записке-->
<!--</div>-->
<!--</div>-->

<!--<div class="btn-area center">-->
<!--<button class="btn btn-rich-greenish-yellow">-->
<!--Добавить к заказу-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="place-your-order-info-mob your-order-area">
</div>


<!--</div>-->
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
