<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>

<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">

    <%= _.template(require('./../includes/left-accordion-menu/left-accordion-menu.html').default)(data) %>

    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="accordion-menu-content">
        <div class="accordion-menu-content-title">
          Молебны
        </div>
      </div>

      <div class="list-cards no-slider align-inherit">
        <a href="/" class="card _card-prayer">
          <div class="header-img">
            <img src="img/prayer-1.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              Отношения в семье
              Отношения в семье
              Отношения в семье
              Отношения в семье
              Отношения в семье
            </div>
          </div>
        </a>
        <a href="/" class="card _card-prayer">
          <div class="header-img">
            <img src="img/prayer-2.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              Беременность
            </div>
          </div>
        </a>
        <a href="/" class="card _card-prayer">
          <div class="header-img">
            <img src="img/prayer-3.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              благополучие детей
            </div>
          </div>
        </a>
        <a href="/" class="card _card-prayer">
          <div class="header-img">
            <img src="img/prayer-4.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              Личные проблемы
            </div>
          </div>
        </a>
        <a href="/" class="card _card-prayer">
          <div class="header-img">
            <img src="img/prayer-5.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              проблемы со здоровьем
            </div>
          </div>
        </a>
        <a href="/" class="card _card-prayer">
          <div class="header-img">
            <img src="img/prayer-6.png" alt="">
          </div>
          <div class="card-info">
            <div class="card-name">
              Финансовые проблемы
            </div>
          </div>
        </a>
      </div>
      <div class="place-helper-mob helper-mob-ver">

      </div>
    </div>

  </div>
  <%= _.template(require('./../includes/slider-temples/recommend-slider.html').default)(data) %>
</div>

<%= _.template(require('./../includes/description-service/description-service.html').default)(data) %>

<%= _.template(require('./../includes/about-project/about-project.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
