<% var data = {
title: "Записки ребрендинг"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<%= _.template(require('./../includes/left-mobile-menu/left-mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-bottom-search/mobile-bottom-search.html').default)(data) %>


<div class="main-area-fluid mt white-bg">
  <div class="main-area main-content">
    <div class="catalog">
      <%= _.template(require('./../includes/breadcrumbs/breadcrumbs.html').default)(data) %>
      <div class="personal-cabinet-area">
        <div class="title-block">
          <div class="title">
            Личный кабинет
          </div>
        </div>
        <div class="personal-cabinet-navigation">
          <ul>
            <li>
              <a class="_active" href="/">Личный кабинет</a>
            </li>
            <li>
              <a href="/">Контакты и пароль</a>
            </li>
            <li>
              <a href="/">Избранное</a>
            </li>
            <li>
              <a href="/">Памятные даты и именины</a>
            </li>
          </ul>

          <div class="nav-button">
            <img class="" src="img/arrow.svg" alt="">
          </div>
        </div>
        <div class="personal-cabinet">
          <div class="personal-cabinet-favorite" style="margin: 0">
            <div class="title-block">
              <div class="title">
                избранное
              </div>
            </div>
            <div class="list-favorite-note">
              <div class="order health history-note ">
                <div class="order-border">
                  <div class="order-content content-l">
                    <div class="order-content-title">
                      <span class="title-desc">40 молитв о здравии и благополучии
родителей в 7-ми монастырях</span>
                      <span class="title-name">в Сретенский монастырь,
Свято-Успенский Псково-Печерский монастырь,
Успенский Шаровкин женский монастырь</span>
                    </div>
                  </div>
                  <div class="order-content content-r">
                    <div class="name-list">
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий</div>
                      <div class="name">Георгий</div>
                    </div>
                    <!--<div class="order-registration-price">-->
                      <!--<span>300</span> ₽-->
                    <!--</div>-->
                  </div>
                </div>
                <div class="btn-area btn-area-fav-note">
                  <!--<button class="btn-border view-order">-->
                    <!--просмотр заказа-->
                  <!--</button>-->
                  <button class="btn-border">
                    редактировать
                  </button>
                  <button class="btn-border del-order">
                    удалить
                  </button>
                </div>
              </div>
              <div class="order health history-note ">
                <div class="order-border">
                  <div class="order-content content-l">
                    <div class="order-content-title">
                      <span class="title-desc">40 молитв о здравии и благополучии
родителей в 7-ми монастырях</span>
                      <span class="title-name">в Сретенский монастырь,
Свято-Успенский Псково-Печерский монастырь,
Успенский Шаровкин женский монастырь</span>
                    </div>
                  </div>
                  <div class="order-content content-r">
                    <div class="name-list">
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий</div>
                      <div class="name">Георгий</div>
                    </div>
                    <!--<div class="order-registration-price">-->
                      <!--<span>300</span> ₽-->
                    <!--</div>-->
                  </div>
                </div>
                <div class="btn-area btn-area-fav-note">
                  <!--<button class="btn-border view-order">-->
                    <!--просмотр заказа-->
                  <!--</button>-->
                  <button class="btn-border">
                    редактировать
                  </button>
                  <button class="btn-border del-order">
                    удалить
                  </button>
                </div>
              </div>
              <div class="order rest history-note ">
                <div class="order-border">
                  <div class="order-content content-l">
                    <div class="order-content-title">
                      <span class="title-desc">40 молитв о здравии и благополучии
родителей в 7-ми монастырях</span>
                      <span class="title-name">в Сретенский монастырь,
Свято-Успенский Псково-Печерский монастырь,
Успенский Шаровкин женский монастырь</span>
                    </div>
                  </div>
                  <div class="order-content content-r">
                    <div class="name-list">
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий,</div>
                      <div class="name">Георгий</div>
                      <div class="name">Георгий</div>
                    </div>
                    <!--<div class="order-registration-price">-->
                      <!--<span>300</span> ₽-->
                    <!--</div>-->
                  </div>
                </div>
                <div class="btn-area btn-area-fav-note">
                  <!--<button class="btn-border view-order">-->
                    <!--просмотр заказа-->
                  <!--</button>-->
                  <button class="btn-border">
                    редактировать
                  </button>
                  <button class="btn-border del-order">
                    удалить
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
