<div class="parish-collections-block">
  <div class="title">
    приходские подборки
  </div>
  <div class="description">
    Вот несколько рекомендованных пакетов услуг для легкого старта
  </div>
  <div class="collection-list">
    <div class="collection-item">
      <div class="item-name">
        Храм Смоленской иконы Божией Матери
      </div>
      <div class="collection-img">
        <img src="img/collection-img.png" alt="">
      </div>
      <button class="btn btn-rich-greenish-yellow">
        Добавить в корзину
      </button>
    </div>
    <div class="collection-item">
      <div class="item-name">
        Благоверный князь Александр Невский
      </div>
      <div class="collection-img">
        <img src="img/collection-img.png" alt="">
      </div>
      <button class="btn btn-rich-greenish-yellow">
        Добавить в корзину
      </button>
    </div>
    <div class="collection-item">
      <div class="item-name">
        Благополучные роды
      </div>
      <div class="collection-img">
        <img src="img/collection-img.png" alt="">
      </div>
      <button class="btn btn-rich-greenish-yellow">
        Добавить в корзину
      </button>
    </div>
  </div>
</div>
